html, body {
  height: 100%;
}

body {
  padding-top: 0;
}

main .container  {
  position: absolute;
  height: 250px;
  top: 50%;
  margin-top: -125px;
  width: 1170px;
  margin-left: -585px;
  left: 50%;
}

span {
  color: #fe0074;
  text-transform: uppercase;
}

h1 {
  font-size: 48px;
}

h3 {
  margin-bottom: 20px;
  font-weight: 700;
}
