{% extends 'base.html' %}

{% load i18n meeting_item %}

{% block stylesheet %}
  <style type="text/css">
    .table-meetings-summary {
      border-left: 0;
      border-right: 0;
    }
    .table-meetings-summary tbody tr td {
      min-width: 180px;
    }
    .table-meetings-summary thead tr td:first-child,
    .table-meetings-summary thead tr th:first-child,
    .table-meetings-summary tbody tr td:first-child,
    .table-meetings-summary tbody tr th:first-child {
      border-left: 0;
    }
    .table-meetings-summary thead tr td:last-child,
    .table-meetings-summary thead tr th:last-child,
    .table-meetings-summary tbody tr td:last-child,
    .table-meetings-summary tbody tr th:last-child {
      border-right: 0;
    }
    .meeting-details {
      font-weight: normal;
      font-size: 12px;
      color: #777;
      padding: 0;
      margin-top: 5px;
    }
    .meeting-details li {
      list-style: none;
    }
  </style>
{% endblock %}

{% block javascript %}
  <script type="text/javascript">
    $(function () {
      $(".js-meeting-details").click(function () {
        var url = $(this).attr("data-url");
        var name = $(this).attr("data-name");
        $.ajax({
          url: url,
          type: 'get',
          cache: false,
          beforeSend: function () {
            $("#modal-meeting-details .modal-title").text(name);
            $("#modal-meeting-details").modal('show');

          },
          success: function (data) {
            $("#modal-meeting-details .modal-body").html(data);
          },
          error: function () {

          }
        });
      });
    });
  </script>
{% endblock %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
    <li><a href="{% url 'deliverables:index' %}">{% trans 'Deliverables' %}</a></li>
    <li><a href="{% url 'deliverables:deliverable' deliverable.pk %}">{{ deliverable.name }}</a></li>
    <li class="active">{% trans 'Historical Dashboard' %}</li>
  </ol>
{% endblock breadcrumb %}

{% block content %}
  {% include 'deliverables/includes/menu.html' with active='historical_dashboard' deliverable=deliverable %}
  {% if meetings %}
    <div class="row">
      <div class="col-md-12">
        {% include 'deliverables/historical_dashboard/includes/menu.html' with active='summary' %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <span class="fa fa-line-chart"></span>
              {% trans 'Meetings Summary' %}
            </h3>
          </div>
          <div class="panel-body text-center">
            <p class="lead" style="margin-bottom: 0">{% trans 'Meetings' %}</p>
          </div>
          <div class="clearfix" style="overflow-y: scroll; padding: 0">
            <table class="table table-bordered table-meetings-summary" style="margin: 0">
              <thead>
                <tr style="background-color: #f9f9f9">
                  <th style="min-width: 180px"></th>
                  {% for meeting in meetings %}
                    <th style="white-space:nowrap">
                      {% if meeting.name|length > 30 %}
                        <span class="help-cursor"
                              data-toggle="tooltip"
                              data-placement="top"
                              title="{{ meeting.name }}"
                              data-container="body">
                          {{ meeting.name|truncatechars:30 }}
                        </span>
                      {% else %}
                        {{ meeting.name }}
                      {% endif %}
                      <ul class="meeting-details">
                        <li><span class="fa fa-calendar"></span> {{ meeting.created_at }}</li>
                        <li><span class="fa fa-users"></span> {% trans 'Stakeholders:' %} {{ meeting.stakeholders_count }}</li>
                        <li><span class="fa fa-list"></span> {% trans 'Decision Items:' %} {{ meeting.items_count }}</li>
                      </ul>
                      <button type="button"
                              class="btn btn-sm btn-default js-meeting-details"
                              data-name="{{ meeting.name }}"
                              data-url="{% url 'deliverables:historical_dashboard_meeting' meeting.deliverable.pk meeting.pk %}">
                        <span class="glyphicon glyphicon-info-sign"></span> {% trans 'More details' %}
                      </button>
                    </th>
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
                {% for decision_item in decision_items %}
                  <tr>
                    <th style="background-color: #f9f9f9">
                      {{ decision_item.name }}
                      {% display_info_button decision_item %}
                    </th>
                    {% for meeting, meeting_item in decision_item.meetings.iteritems %}
                      {% if meeting_item != None %}
                        <td data-evaluated="True" data-selected="{{ meeting_item.meeting_decision }}">
                          {{ meeting_item.meeting.pk }}
                          {{ meeting_item.meeting.name }}
                          <p>
                            {% if meeting_item.meeting_decision %}
                              <span class="label label-success">
                                <span class="glyphicon glyphicon-ok"></span> {% trans 'Selected' %}
                              </span>
                            {% else %}
                              <span class="label label-danger">
                                <span class="glyphicon glyphicon-remove"></span> {% trans 'Not selected' %}
                              </span>
                            {% endif %}
                          </p>
                          <div class="progress" style="margin-bottom: 10px">
                            {% for r in meeting_item.evaluation_summary.all %}
                              <div class="progress-bar" style="width: {{ r.percentage_votes }}%; background-color: {{ r.measure_value.color }}">
                                {{ r.get_percentage_votes_display }}%
                              </div>
                            {% endfor %}
                          </div>
                          <div>
                            <small>
                              <strong>{% trans 'Value Ranking' %}</strong> {{ meeting_item.value_ranking_as_html|safe }}
                              {% if meeting_item.variance == 0.0 %}
                                <span class="glyphicon glyphicon-minus text-warning"></span>
                              {% elif meeting_item.variance > 0.0 %}
                                <span class="glyphicon glyphicon-triangle-top text-success"></span>
                              {% else %}
                                <span class="glyphicon glyphicon-triangle-bottom text-danger"></span>
                              {% endif %}
                            </small>
                          </div>
                          <div>
                            <small>
                              <strong>{% trans 'Meeting Ranking' %}</strong> {{ meeting_item.meeting_ranking }}</span>
                            </small>
                          </div>
                          <div style="margin-top: 10px">
                            <button type="button" class="btn btn-sm {% if meeting_item.has_rationales %}btn-primary{% else %}btn-default{% endif %}">
                              <span class="fa fa-comments"></span> {% trans 'Notes' %}
                            </button>
                          </div>
                        </td>
                      {% else %}
                        <td data-evaluated="False">
                          <span class="glyphicon glyphicon-remove text-danger"></span> {% trans 'Not evaluated' %}
                        </td>
                      {% endif %}
                    {% endfor %}
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="modal-meeting-details">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="{% trans 'Close' %}">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title"></h4>
          </div>
          <div class="modal-body">

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
          </div>
        </div>
      </div>
    </div>
    {% include 'deliverables/decision_items/includes/modal.html' %}
  {% else %}
    <div class="well blank-state">
      <span class="fa fa-line-chart"></span>
      <h3>{% trans "There's no enough data to display the Historical Dashboard." %}</h3>
    </div>
  {% endif %}
{% endblock content %}
