{% load avatar i18n %}

<table class="table table-hover table-clickable-row">
  <thead>
    <tr>
      <th>{% trans 'Meeting' %}</th>
      <th>{% trans 'Deliverable' %}</th>
      <th>{% trans 'Manager' %}</th>
      <th>{% trans 'Stakeholders' %}</th>
      <th>{% trans 'Items' %}</th>
      <th>{% trans 'Progress' %}</th>
      <th>{% trans 'Status' %}</th>
      <th>
        <span class="fa fa-map-marker"></span>
      </th>
      <th>
        <span class="fa fa-calendar"></span>
      </th>
      <th>
        <span class="fa fa-clock-o"></span>
      </th>
    </tr>
  </thead>
  <tbody>
    {% for meeting in meetings %}
      <tr data-href="{% url 'deliverables:meetings:meeting' meeting.deliverable.pk meeting.pk %}">
        <td>
          <a href="{% url 'deliverables:meetings:meeting' meeting.deliverable.pk meeting.pk %}">
            {{ meeting.name }}
          </a>
        </td>
        <td>{{ meeting.deliverable.name }}</td>
        <td>{% avatar_img meeting.deliverable.manager 20 %}</td>
        <td>
          {% for meeting_stakeholder in meeting.meetingstakeholder_set.all %}
            {% avatar_img meeting_stakeholder.stakeholder 20 %}
          {% endfor %}
        </td>
        <td>{{ meeting.meetingitem_set.count }}</td>
        <td>
          {% with progress=meeting.progress %}
            <div class="progress" style="margin-bottom: 0">
              <div class="progress-bar{% if progress == 100.0 %} progress-bar-success{% else %} progress-bar-warning{% endif %}"
                   role="progressbar"
                   aria-valuenow="{{ progress }}"
                   aria-valuemin="0"
                   aria-valuemax="100"
                   style="width: {{ progress }}%;">
                {{ progress }}%
              </div>
            </div>
          {% endwith %}
        </td>
        <td>{{ meeting.get_status_label_html|safe }}</td>
        <td>{{ meeting.location }}</td>
        <td>{{ meeting.created_at|date:"D, d M, Y" }}</td>
        <td>{{ meeting.created_at|date:"P" }}</td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="10">{% trans 'No data' %}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
