{% with manager=deliverable.manager %}
<ul class="nav nav-tabs" style="margin-bottom: 20px">
  <li role="presentation"{% if active == 'dashboard' %} class="active"{% endif %}><a href="{% url 'deliverables:deliverable' deliverable.pk %}"><span class="fa fa-book"></span> Summary</a></li>
  <li role="presentation"{% if active == 'stakeholders' %} class="active"{% endif %}><a href="{% url 'deliverables:stakeholders' deliverable.pk %}"><span class="fa fa-users"></span> Stakeholders</a></li>
  <li role="presentation"{% if active == 'decision_items' %} class="active"{% endif %}><a href="{% url 'deliverables:decision_items' deliverable.pk %}"><span class="fa fa-list"></span> Decision Items</a></li>
  {% comment %}<li role="presentation"{% if active == 'historical_dashboard' %} class="active"{% endif %}><a href="{% url 'deliverables:historical_dashboard' deliverable.pk %}"><span class="fa fa-line-chart"></span> Historical Dashboard</a></li>{% endcomment %}
  {% if user == manager %}
    <li role="presentation"{% if active == 'settings' %} class="active"{% endif %}><a href="{% url 'deliverables:settings' deliverable.pk %}"><span class="fa fa-wrench"></span> Settings</a></li>
  {% endif %}
  <li class="dropdown pull-right{% if active == 'meetings' %} active{% endif %}" role="presentation">
    <a aria-expanded="false" role="button" href="#" data-toggle="dropdown" class="dropdown-toggle">
      <span class="fa fa-laptop"></span> Meetings <span class="caret"></span>
    </a>
    <ul role="menu" class="dropdown-menu dropdown-menu-right">
      {% if deliverable.meeting_set.exists %}
        {% if deliverable.get_ongoing_meetings.exists %}
          <li role="presentation" class="dropdown-header">Ongoing meetings</li>
          {% for ongoing_meeting in deliverable.get_ongoing_meetings.all %}
            <li>
              <a href="{% url 'deliverables:meetings:meeting' ongoing_meeting.deliverable.pk ongoing_meeting.pk %}">
                <span class="glyphicon glyphicon-unchecked"></span>
                {{ ongoing_meeting.name }}
              </a>
            </li>
          {% endfor %}
        {% endif %}
        {% if deliverable.get_closed_meetings.exists %}
          <li role="presentation" class="dropdown-header">Past meetings</li>
          {% for closed_meeting in deliverable.get_closed_meetings.all %}
            <li>
              <a href="{% url 'deliverables:meetings:meeting' closed_meeting.deliverable.pk closed_meeting.pk %}">
                <span class="glyphicon glyphicon-unchecked"></span>
                {{ closed_meeting.name }}
              </a>
            </li>
          {% endfor %}
        {% endif %}
        {% if user == manager %}
          <li class="divider"></li>
          <li><a href="{% url 'deliverables:meetings:new' deliverable.pk %}"><span class="glyphicon glyphicon-plus"></span> New meeting</a></li>
        {% endif %}
      {% else %}
        {% if user == manager %}
          <li><a href="{% url 'deliverables:meetings:new' deliverable.pk %}"><span class="glyphicon glyphicon-plus"></span> Start a meeting</a></li>
        {% endif %}
      {% endif %}
    </ul>
  </li>
</ul>
{% endwith %}
