<h2 style="margin-bottom: 20px;"><a href="{% url 'deliverables:deliverable' deliverable.pk %}">{{ deliverable.name }}</a></h2>

<ul class="nav nav-tabs" style="margin-bottom: 20px">
  <li role="presentation"{% if active == 'meetings' %} class="active"{% endif %}><a href="{% url 'deliverables:meetings:index' deliverable.pk %}"><span class="fa fa-laptop"></span> Meetings</a></li>
  <li role="presentation"{% if active == 'stakeholders' %} class="active"{% endif %}><a href="{% url 'deliverables:stakeholders' deliverable.pk %}"><span class="fa fa-users"></span> Stakeholders</a></li>
  <li role="presentation"{% if active == 'decision_items' %} class="active"{% endif %}><a href="{% url 'deliverables:decision_items' deliverable.pk %}"><span class="fa fa-list"></span> Decision Items</a></li>
  {% if user == deliverable.manager %}
    <li role="presentation"{% if active == 'settings' %} class="active"{% endif %}><a href="{% url 'deliverables:settings' deliverable.pk %}"><span class="fa fa-wrench"></span> Settings</a></li>
  {% endif %}
</ul>
