{% extends 'meetings/dashboard/base_charts.html' %}

{% load i18n templatehelpers %}

{% block charts %}
  <div class="panel panel-default">
    <div class="panel-heading">
      {% trans 'Value Ranking' %}
    </div>
    <div class="panel-body">
      {% include 'meetings/dashboard/value_ranking/partial_menu.html' with active_tab='groups' %}
      <div class="table-responsive">
        <table class="table table-bordered table-striped" style="margin-bottom: 0;">
          <thead>
            <tr>
              <th>{% trans 'Decision Item' %}</th>
              {% for group in value_ranking_groups %}
                <th>{{ group.group }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for ranking in value_ranking_groups.0.value_rankings %}
              <tr>
                <td>{{ ranking.meeting_item }}</td>
                {% for group in value_ranking_groups %}
                  <td>{{ group.value_rankings|get:forloop.parentloop.counter0|get:'value_ranking' }}</td>
                {% endfor %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock charts %}
