{% extends 'base.html' %}

{% load staticfiles %}

{% block javascript %}
  <script src="{% static 'js/groups/groups.js' %}"></script>
{% endblock javascript %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li class="active">Groups</li>
  </ol>
{% endblock breadcrumb %}

{% block content %}
  <p class="lead">Select group to change</p>
  <form method="post">
    {% csrf_token %}
    <input type="hidden" name="action" id="id_action">
    <div class="row" style="margin-bottom: 20px">
      <div class="col-xs-6">
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            Actions <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="javascript:void(0);" class="js-delete-selected">Delete selected groups</a></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-6">
        <a href="{% url 'groups:add' %}" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-plus"></span> Add group</a>
      </div>
    </div>
    <table class="table table-bordered table-striped table-check-all">
      <thead>
        <tr>
          <th><input type="checkbox"></th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        {% for group in groups %}
          <tr>
            <td><input type="checkbox" name="group_id" value="{{ group.pk }}"></td>
            <td><a href="{% url 'groups:edit' group.pk %}">{{ group.name }}</a></td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="2">No data</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </form>
{% endblock content %}
