<ul class="nav nav-tabs" style="margin-bottom: 20px">
  <li role="presentation"{% if active == 'dashboard' %} class="active"{% endif %}><a href="{% url 'workspace:instance' instance.pk %}">Summary</a></li>
  <li role="presentation"{% if active == 'stakeholders' %} class="active"{% endif %}><a href="{% url 'workspace:stakeholders' instance.pk %}">Stakeholders</a></li>
  <li role="presentation"{% if active == 'backlog' %} class="active"{% endif %}><a href="{% url 'workspace:backlog' instance.pk %}">Decision Items</a></li>
  <li role="presentation"{% if active == 'evaluate' %} class="active"{% endif %}><a href="{% url 'workspace:evaluate' instance.pk %}">Decision Making</a></li>
  <li role="presentation"{% if active == 'analyze' %} class="active"{% endif %}><a href="{% url 'workspace:analyze:index' instance.pk %}">Dashboard</a></li>
</ul>