{% extends 'base.html' %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'users:groups:index' %}">Users Groups</a></li>
    <li class="active">Delete groups</li>
  </ol>
{% endblock breadcrumb %}

{% block content %}
  <h1 class="lead">Are you sure you want to delete the selected group? All of the following objects and their related items will be deleted:</h1>

  <ul style="margin-bottom: 20px">
    {% for group in groups %}
      <li><a href="{% url 'users:groups:edit' group.pk %}">{{ group.name }}</a></li>
    {% endfor %}
  </ul>

  <form method="post" class="form-horizontal">
    {% csrf_token %}
    {% for group in groups %}
      <input type="hidden" name="group_id" value="{{ group.pk }}">
    {% endfor %}
    <input type="hidden" name="action" value="{{ action }}">
    <input type="hidden" name="confirm_action" value="yes">
    <div class="form-group">
      <div class="col-sm-12">
        <button type="submit" class="btn btn-primary">Confirm</button>
        <a href="{% url 'users:groups:index' %}" class="btn btn-default">Cancel</a>
      </div>
    </div>
  </form>
{% endblock content %}
