{% extends 'base_site.html' %}

{% load i18n %}

{% block content %}
  <div class="row" style="margin-top: 100px;">
    <div class="col-md-8 col-md-offset-2">
      <p class="lead">
        {% blocktrans trimmed %}
          We've emailed you instructions for setting your password, if an account exists with the email you entered.
          You should receive them shortly.
        {% endblocktrans %}
      </p>
      <p class="lead">
        {% blocktrans trimmed %}
          If you don't receive an email, please make sure you've entered the address you registered with,
          and check your spam folder.
        {% endblocktrans %}
      </p>
    </div>
  </div>
{% endblock content %}
