{% if meeting_item.has_rationales %}
  <div>
    <ul class="nav nav-tabs" role="tablist" style="margin-bottom: 20px;">
      <li role="presentation" class="active">
        <a href="#notes-{{ meeting_item.pk }}" aria-controls="notes-{{ meeting_item.pk }}" role="tab" data-toggle="tab">
          Notes
          <span class="badge">{{ meeting_item.rationales.count }}</span>
        </a>
      </li>
      <li role="presentation">
        <a href="#evaluations-{{ meeting_item.pk }}" aria-controls="evaluations-{{ meeting_item.pk }}" role="tab" data-toggle="tab">
          Evaluation Notes
          <span class="badge">{{ meeting_item.get_evaluations_with_rationale.count }}</span>
        </a>
      </li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="notes-{{ meeting_item.pk }}">
        {% if meeting_item.rationales.exists %}

        {% else %}
          <div class="well blank-state">
            <span class="fa fa-comments"></span>
            <h3>No notes recorded for this item.</h3>
            <button type="button" class="btn btn-primary js-add-meeting-item-note" data-item-id="{{ meeting_item.pk }}">
              <span class="glyphicon glyphicon-plus"></span> Add a note
            </button>
          </div>
        {% endif %}
      </div>
      <div role="tabpanel" class="tab-pane" id="evaluations-{{ meeting_item.pk }}">
        {% for evaluation in meeting_item.get_evaluations_with_rationale %}
          {% include 'meetings/rationales/partial_evaluation_rationale.html' with evaluation=evaluation %}
        {% endfor %}
      </div>
    </div>
  </div>
{% else %}
  <div class="well blank-state">
    <span class="fa fa-comments"></span>
    <h3>No rationale recorded for this item.</h3>
    <button type="button" class="btn btn-primary js-add-meeting-item-note" data-item-id="{{ meeting_item.pk }}">
      <span class="glyphicon glyphicon-plus"></span> Add a note
    </button>
  </div>
{% endif %}
