{% extends 'base.html' %}

{% load i18n static meeting_item %}

{% block javascript %}
  <script src="{% static 'js/meetings/meetings.js' %}"></script>
  <script src="{% static 'js/meetings/decision.js' %}"></script>
{% endblock javascript %}

{% block mustache %}
  {% if meeting.is_closed %}
    {% verbatim %}
      <script id="rationale-template" type="x-tmpl-mustache">
        <div class="form-group">
          <textarea class="form-control final-decision-rationale"
                    style="resize: none; height: 150px;"
                    maxlength="2000" readonly>{{ rationale }}</textarea>
          <span class="help-block"></span>
        </div>
        <div class="form-group text-right">
          <button type="button"
                  class="btn btn-sm btn-default"
                  onclick="$(this).closest('.popover').popover('hide');">
            {% endverbatim %}{% trans 'Cancel' %}{% verbatim %}
          </button>
        </div>
      </script>
    {% endverbatim %}
  {% else %}
    {% verbatim %}
      <script id="rationale-template" type="x-tmpl-mustache">
        <div class="form-group">
          <textarea class="form-control final-decision-rationale"
                    style="resize: none; height: 150px;"
                    maxlength="2000">{{ rationale }}</textarea>
          <span class="help-block"></span>
        </div>
        <div class="form-group text-right">
          <button type="button"
                  class="btn btn-sm btn-default"
                  onclick="$(this).closest('.popover').popover('hide');">
            {% endverbatim %}{% trans 'Cancel' %}{% verbatim %}
          </button>
          <button type="button" class="btn btn-sm btn-primary js-save-rationale">
            {% endverbatim %}{% trans 'Save' %}{% verbatim %}
          </button>
        </div>
      </script>
    {% endverbatim %}
  {% endif %}
{% endblock mustache %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
    <li><a href="{% url 'deliverables:index' %}">{% trans 'Deliverables' %}</a></li>
    <li><a href="{% url 'deliverables:deliverable' meeting.deliverable.pk %}">{{ meeting.deliverable.name }}</a></li>
    <li><a href="{% url 'deliverables:meetings:index' meeting.deliverable.pk %}">{% trans 'Meetings' %}</a></li>
    <li><a href="{% url 'deliverables:meetings:meeting' meeting.deliverable.pk meeting.pk %}">{{ meeting.name }}</a></li>
    <li class="active">{% trans 'Final Decision' %}</li>
  </ol>
{% endblock breadcrumb %}

{% block content %}
  {% include 'meetings/includes/menu.html' with active='decision' meeting=meeting %}

  {% if meeting.is_ongoing %}
    <div class="well blank-state">
      <span class="fa fa-refresh"></span>
      <h3>{% trans 'The meeting is still ongoing!' %}</h3>
      <p class="lead">
        {% blocktrans trimmed %}
          In order to record the final decision the meeting manager must change its status
          to <strong>Analysing</strong>.
        {% endblocktrans %}
      </p>
      {% if user == meeting.deliverable.manager %}
        <button type="button" class="btn btn-primary js-change-meeting-status" data-option="{{ meeting.ANALYSING }}">
          <span class="fa fa-bar-chart-o"></span> {% trans 'Change status to Analysing' %}
        </button>
      {% endif %}
    </div>
  {% else %}

    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        {% if not meeting.is_closed %}
          <button type="button" class="btn btn-primary pull-right js-placebo-save">
            <span class="glyphicon glyphicon-ok"></span> {% trans 'Save changes' %}
          </button>
        {% endif %}

        <p class="lead">Meeting decision</p>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <span class="fa fa-comment"></span> {% trans 'Notes' %}
            </h3>
          </div>
          <div class="panel-body">
            {% if meeting.is_closed %}
              {% if meeting.meeting_decision_rationale %}
                {{ meeting.meeting_decision_rationale.text|default_if_none:''|linebreaks }}
              {% else %}
                <em class="text-muted">{% trans 'No description' %}</em>
              {% endif %}
            {% else %}
              <form id="form-meeting-decision-rationale"
                    method="post"
                    action="{% url 'deliverables:meetings:save_final_decision_rationale' meeting.deliverable.pk meeting.pk %}">
                {% csrf_token %}
                <textarea class="form-control expanding" rows="3" id="meeting-decision-rationale" name="text">{{ meeting.meeting_decision_rationale.text|default_if_none:'' }}</textarea>
              </form>
            {% endif %}
          </div>
        </div>

        <form id="form-final-decision"
              method="post"
              action="{% url 'deliverables:meetings:save_final_decision' meeting.deliverable.pk meeting.pk %}">
          {% csrf_token %}
          {{ formset.management_form }}
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">
                <span class="fa fa-gavel"></span>
                {% trans 'Final Decision' %}
              </h3>
            </div>
            <table class="table table-bordered" id="table-final-decision">
              <thead>
                <th>{% trans 'Name' %}</th>
                <th style="width: 200px;">{% trans 'Summary' %}</th>
                <th style="width: 140px;">{% trans 'Value Ranking' %}</th>
                <th style="width: 100px;">{% trans 'Decision' %}</th>
                <th style="width: 150px;">{% trans 'Meeting Ranking' %}</th>
                <th style="width: 150px;">{% trans 'Decision rationale' %}</th>
              </thead>
              <tbody>
                {% for form in formset %}
                  <tr data-item-id="{{ form.instance.pk }}"
                      {% if meeting.is_closed %} class="{% if form.instance.meeting_decision %}bg-success{% else %}bg-danger{% endif %}"{% endif %}>
                    <td style="vertical-align: middle;">
                      {{ form.instance.decision_item.name }}
                      {% display_info_button form.instance.decision_item %}
                      {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                      {% endfor %}
                    </td>
                    <td style="vertical-align: middle;">
                      {% display_evaluation_summary form.instance %}
                    </td>
                    <td style="vertical-align: middle; text-align: right;">
                      {{ form.instance.value_ranking_as_html|safe }}
                    </td>
                    {% if meeting.deliverable.manager == request.user %}
                      <td style="vertical-align: middle; text-align: center;">
                        {% if not meeting.is_closed %}
                          {{ form.meeting_decision }}
                        {% else %}
                          <span class="decision-text">
                            {% if form.instance.meeting_decision %}
                              Yes
                            {% else %}
                              No
                            {% endif %}
                          </span>
                        {% endif %}
                      </td>
                      <td style="vertical-align: middle; text-align: center;">
                        {% if not meeting.is_closed %}
                          <span class="hide">{{ form.meeting_ranking.value }}</span>
                          {{ form.meeting_ranking }}
                        {% else %}
                          {{ form.meeting_ranking.value }}
                        {% endif %}
                      </td>
                    {% else %}
                      <td style="vertical-align: middle; text-align: center;">
                        <span class="decision-text">
                          {% if form.instance.meeting_decision %}
                            Yes
                          {% else %}
                            No
                          {% endif %}
                        </span>
                      </td>
                      <td style="vertical-align: middle; text-align: center;">
                        {{ form.meeting_ranking.value }}
                      </td>
                    {% endif %}
                    <td>
                      <button type="button"
                              class="btn btn-sm btn-block js-rationale {% if form.instance.meeting_decision_rationale %}btn-primary{% else %}btn-default{% endif %}"
                              title="{% trans 'Add a rationale for ' %} {{ form.instance.decision_item.name }}"
                              data-toggle="popover"
                              data-placement="left"
                              data-content=""
                              data-rationale="{{ form.instance.meeting_decision_rationale.text }}"
                              data-save-url="{% url 'deliverables:meetings:save_final_decision_item_rationale' meeting.deliverable.pk meeting.pk form.instance.pk %}">
                        <span class="fa fa-comment"></span> {% trans 'Rationale' %}
                      </button>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </form>
      </div>
    </div>
  {% endif %}
  {% include 'deliverables/decision_items/includes/modal.html' %}
{% endblock content %}
