{% extends 'base.html' %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li class="active">Models</li>
  </ol>
{% endblock breadcrumb %}

{% block main %}
  <button class="btn btn-primary pull-right"><span class="glyphicon glyphicon-plus"></span> Add model</button>

  <p class="lead">Select model to change</p>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Number of features</th>
        <th>Updated at</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="{% url 'models:model' 1 %}">Sony Ericsson Xperia X10</a></td>
        <td>57</td>
        <td>29/03/2015 15:23</td>
        <td>
          <span class="glyphicon glyphicon-ok-sign text-success"></span>
        </td>
        <td style="width: 150px">
          <a href="" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
          <a href="" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-trash"></span> Delete</a>
        </td>
      </tr>
    </tbody>
  </table>

{% endblock main %}