{% extends 'base.html' %}

{% block main %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'models' %}">Models</a></li>
    <li class="active">Sony Ericsson Xperia X10</li>
  </ol>

  <p class="lead">Sony Ericsson Xperia X10</p>

  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">Accepted Features</h3>
        </div>
        <table class="table table-condensed table-striped table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Feature 1</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Feature 2</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title">Rejected Features</h3>
        </div>
        <table class="table table-condensed table-striped table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Feature 1</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Feature 2</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Feature 2</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Feature 2</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Proposed Features</h3>
        </div>
        <table class="table table-condensed table-striped table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Feature 1</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Feature 2</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>

{% endblock main %}
