{% extends 'base.html' %}

{% block main %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li class="active">Models</li>
  </ol>

  <button class="btn btn-primary pull-right"><span class="glyphicon glyphicon-plus"></span> Add model</button>

  <p class="lead">Select model to change</p>

  <table class="table table-striped">
    <thead>
      <tr>
        <th><input type="checkbox"></th>
        <th>Name</th>
        <th>Number of features</th>
        <th>Updated at</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input type="checkbox"></td>
        <td><a href="{% url 'model' 1 %}">Sony Ericsson Xperia X10</a></td>
        <td>57</td>
        <td>29/03/2015 15:23</td>
        <td><span class="glyphicon glyphicon-ok"></span></td>
      </tr>

      <tr>
        <td><input type="checkbox"></td>
        <td><a href="{% url 'model' 2 %}">Ericsson CDMA Voice Core</a></td>
        <td>80</td>
        <td>25/03/2015 19:02</td>
        <td><span class="glyphicon glyphicon-ok"></span></td>
      </tr>

    </tbody>
  </table>

{% endblock main %}