@import url(http://fonts.googleapis.com/css?family=Oswald:400,700);

html, body {
  height: 100%;
}

body {
  padding-top: 70px;
}

.navbar-default .navbar-brand {
  font-family: 'Oswald', sans-serif;
  color: #fe0074;
  text-transform: uppercase;
}


.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #cd1767;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -50px;
}

.push {
  height: 50px;
}

footer {
  border-top: 1px solid #E7E7E7;
  text-align: center;
  height: 50px;
  padding-top: 14px;
}

.table-hover tbody tr td {
  cursor: hand;
  cursor: pointer;
}

.no-scroll {
  overflow: hidden;
}

.loading {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 9000;
  display: none;
}

.loading img {
  top: 50%;
  left: 50%;
  margin-top: -64px;
  margin-left: -64px;
  position: fixed;
  z-index: 9001;
}
