@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(../fonts/Oswald-Regular.woff2) format('woff2'), url(../fonts/Oswald-Regular.woff) format('woff');
}

html, body {
  height: 100%;
}

body {
  padding-top: 70px;
}

.navbar-default .navbar-brand {
  font-family: 'Oswald', sans-serif;
  color: #fe0074;
  text-transform: uppercase;
}


.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #cd1767;
}

.wrapper {
  position: relative;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -50px;
}

.push {
  height: 50px;
}

header {
  position: relative;
}

footer {
  border-top: 1px solid #E7E7E7;
  text-align: center;
  height: 50px;
  padding-top: 14px;
  background-color: #fff;
  position: relative;
}

h3.page-header {
  margin-top: 10px;
}

.table-hover tbody tr td {
  cursor: hand;
  cursor: pointer;
}

.no-scroll {
  overflow: hidden;
}

.page-loading {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9000;
  display: none;
}

.page-loading .spinner {
  width: 70px;
  top: 50%;
  left: 50%;
  margin-top: -9px;
  margin-left: -35px;
  position: fixed;
  text-align: center;
  z-index: 9001;
}

.page-loading .spinner > div {
  width: 18px;
  height: 18px;
  background-color: rgba(0, 0, 0, .3);
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.page-loading .spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.page-loading .spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}


.block-spinner {
  width: 40px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: scaleout 1.0s infinite ease-in-out;
  animation: scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes scaleout {
  0% { -webkit-transform: scale(0.0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes scaleout {
  0% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

.sk-folding-cube {
  display: none;
  width: 40px;
  height: 40px;
  position: fixed;
  right: 25px;
  bottom: 25px;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fe0074;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

.spin {
  animation: 2s linear 0s normal none infinite running spin;
}

th.header {
  cursor: pointer;
}

th.header:after {
  font-family: "FontAwesome";
  float: right;
  content: "\f0dc";
}

th.headerSortDown:after {
  font-family: "FontAwesome";
  float: right;
  content: "\f0dd";
}

th.headerSortUp:after {
  font-family: "FontAwesome";
  float: right;
  content: "\f0de";
}

.table-check-all thead tr th:first-child, .table-check-all tbody tr td:first-child {
  width: 45px;
  text-align: center;
}

.table-check-all input[type="checkbox"] {
  cursor: pointer;
}

.table-calendar tbody tr td, .table-calendar thead tr th {
  font-weight: bold;
  text-align: center;
}

.table-calendar tbody tr td:first-child, .table-calendar tbody tr td:last-child {
  color: #bbb;
}

.table-calendar tbody tr td:hover {
  background-color: #e7e7e7;
  cursor: pointer;
}

.panel-menu .list-group a.list-group-item.active {
  color: #555;
  background-color: #fff;
  border-color: #ddd;
  border-left: 2px solid #df5e00;
  padding-left: 13px;
  cursor: default;
}

.panel-menu .list-group a.list-group-item {
  color: #337ab7;
}

.sortable {
  cursor: move;
}

.sortable-ghost {
  background-color: #f8f8f8;
}

.sortable.label {
  font-size: 12px;
  margin-right: 5px;
  padding: 0.4em 1em 0.5em;
  display: inline-block;
}

.sortable-ghost.label {
  background-color: #ddd;
}

.menu-link.active {
  background-color: #e7e7e7!important;
}

.context-menu {
  padding-top: 70px;
  background-color: #555;
  border-left: 1px solid #444;
  color: #9d9d9d;
  position: fixed;
  right: -18.625em;
  width: 18.625em;
  -webkit-box-shadow: inset 10px 0px 28px -10px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 10px 0px 28px -10px rgba(0,0,0,0.5);
  box-shadow: inset 10px 0px 28px -10px rgba(0,0,0,0.5);
}

.context-menu .big-portrait {
  text-align: center;
  margin-bottom: 20px;
}

.context-menu .list-group {
  margin-bottom: 0;
}

.context-menu .list-group .list-group-item:last-child,
.context-menu .list-group .list-group-item:first-child {
  border-radius: 0;
}

.context-menu .list-group .list-group-item {
  background-color: transparent;
  border-left: 0;
  border-right: 0;
  border-color: #444;
  color: #f1f1f1;
  -webkit-transition: all 0.2s ease 0s;
     -moz-transition: all 0.2s ease 0s;
       -o-transition: all 0.2s ease 0s;
          transition: all 0.2s ease 0s;
  padding-top: 13px;
  padding-bottom: 13px;
  font-size: 16px;
}

.context-menu .list-group .list-group-item .fa {
  margin-right: 5px;
}

.context-menu .list-group .list-group-item:hover {
  background-color: #666;
}

.context-menu .calendar {
  padding: 10px 15px;
  color: #fff;
}

.context-menu .calendar .table-calendar {
  color: #fff;
}

.context-menu .calendar .table-calendar tbody tr td {
  -webkit-transition: all 0.2s ease 0s;
     -moz-transition: all 0.2s ease 0s;
       -o-transition: all 0.2s ease 0s;
          transition: all 0.2s ease 0s;
}

.context-menu .calendar .table-calendar tbody tr td:hover {
  background-color: #666;
}

.context-menu .calendar h4 {
  text-align: center;
}

.context-menu .calendar h4 a {
  color: #fff;
  -webkit-transition: all 0.2s ease 0s;
     -moz-transition: all 0.2s ease 0s;
       -o-transition: all 0.2s ease 0s;
          transition: all 0.2s ease 0s;
}

.context-menu .calendar h4 a:hover {
  color: #ddd;
}

.help {
  cursor: help;
}

.empty-row {
  display: none;
}

.panel-group-stakeholders.removeable, .panel-group-stakeholders.selectable {
  cursor: pointer;
}

.panel-group-stakeholders .panel .panel-body {
  -webkit-transition: all 0.15s ease 0s;
     -moz-transition: all 0.15s ease 0s;
       -o-transition: all 0.15s ease 0s;
          transition: all 0.15s ease 0s;
}

.panel-group form > .panel {
  margin-bottom: 5px;
}

.btn-details {
  font-size: 14px;
  color: #337ab7!important;
}

.btn-details:hover {
  color: #23527c!important;
}

.blank-state {
  text-align: center;
  padding: 4em;
}

.blank-state > .glyphicon,
.blank-state > .fa {
  color: #777;
  font-size: 3em
}

.blank-state h3 + .btn {
  margin-top: 20px;
}

.table tbody tr td,
.table thead tr th {
  vertical-align: middle;
}

.btn-active {
  cursor: pointer;
}

.modal.in {
  -webkit-perspective: 2000px;
  -moz-perspective: 2000px;
  -ms-perspective: 2000px;
  -o-perspective: 2000px;
  perspective: 2000px;
}
.modal.in .modal-dialog.aside {
  -webkit-transform: -340px;
  -moz-transform: -340px;
  -o-transform: -340px;
  -ms-transform: -340px;
  transform: -340px;
  -webkit-transform: scale(0.8) rotateY(45deg) translateZ(-340px);
  -ms-transform: scale(0.8) rotateY(45deg) translateZ(-340px);
  -o-transform: scale(0.8) rotateY(45deg) translateZ(-340px);
  transform: scale(0.8) rotateY(45deg) translateZ(-340px);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.modal.in .modal-dialog.aside.aside-1 {
  -webkit-transform: calc(-300px);
  -moz-transform: calc(-300px);
  -o-transform: calc(-300px);
  -ms-transform: calc(-300px);
  transform: calc(-300px);
  -webkit-transform: scale(0.8) rotateY(45deg) translateZ(calc(-300px));
  -ms-transform: scale(0.8) rotateY(45deg) translateZ(calc(-300px));
  -o-transform: scale(0.8) rotateY(45deg) translateZ(calc(-300px));
  transform: scale(0.8) rotateY(45deg) translateZ(calc(-300px));
}
.modal.in .modal-dialog.aside.aside-2 {
  -webkit-transform: calc(-260px);
  -moz-transform: calc(-260px);
  -o-transform: calc(-260px);
  -ms-transform: calc(-260px);
  transform: calc(-260px);
  -webkit-transform: scale(0.8) rotateY(45deg) translateZ(calc(-260px));
  -ms-transform: scale(0.8) rotateY(45deg) translateZ(calc(-260px));
  -o-transform: scale(0.8) rotateY(45deg) translateZ(calc(-260px));
  transform: scale(0.8) rotateY(45deg) translateZ(calc(-260px));
}
.modal.in .modal-dialog.aside.aside-3 {
  -webkit-transform: calc(-220px);
  -moz-transform: calc(-220px);
  -o-transform: calc(-220px);
  -ms-transform: calc(-220px);
  transform: calc(-220px);
  -webkit-transform: scale(0.8) rotateY(45deg) translateZ(calc(-220px));
  -ms-transform: scale(0.8) rotateY(45deg) translateZ(calc(-220px));
  -o-transform: scale(0.8) rotateY(45deg) translateZ(calc(-220px));
  transform: scale(0.8) rotateY(45deg) translateZ(calc(-220px));
}
.modal.in .modal-dialog.aside.aside-4 {
  -webkit-transform: calc(-180px);
  -moz-transform: calc(-180px);
  -o-transform: calc(-180px);
  -ms-transform: calc(-180px);
  transform: calc(-180px);
  -webkit-transform: scale(0.8) rotateY(45deg) translateZ(calc(-180px));
  -ms-transform: scale(0.8) rotateY(45deg) translateZ(calc(-180px));
  -o-transform: scale(0.8) rotateY(45deg) translateZ(calc(-180px));
  transform: scale(0.8) rotateY(45deg) translateZ(calc(-180px));
}
.modal.in .modal-dialog.aside.aside-5 {
  -webkit-transform: calc(-140px);
  -moz-transform: calc(-140px);
  -o-transform: calc(-140px);
  -ms-transform: calc(-140px);
  transform: calc(-140px);
  -webkit-transform: scale(0.8) rotateY(45deg) translateZ(calc(-140px));
  -ms-transform: scale(0.8) rotateY(45deg) translateZ(calc(-140px));
  -o-transform: scale(0.8) rotateY(45deg) translateZ(calc(-140px));
  transform: scale(0.8) rotateY(45deg) translateZ(calc(-140px));
}

.help-cursor {
  cursor: help;
}

input[type="checkbox"],
input[type="radio"] {
  cursor: pointer;
}

.measure-square {
  display: inline-block;
  border-radius: 2px;
  height: 12px;
  width: 12px;
}

.avatar {
  color: #fff;
  border-radius: 100px;
  font-weight: 500;
  display: inline-block;
  text-align: center;
}