@import url(http://fonts.googleapis.com/css?family=Oswald:400,700);

body {
  background-color: #f6f6f6;
}

.navbar-default {
  background-color: #ffffff;
}

.navbar-default .navbar-brand {
  font-family: 'Oswald', sans-serif;
  color: #fe0074;
  text-transform: uppercase;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #cd1767;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: #fe0074;
  color: #ffffff;
}