{% extends 'base.html' %}

{% block javascript %}
  <script>
    $(function () {
      $("#enable-confirm-deletion").click(function () {
        if ($(this).is(":checked")) {
          $("#confirm-deletion").prop("disabled", false);
        }
        else {
          $("#confirm-deletion").prop("disabled", true);
        }
      });
    });
  </script>
{% endblock javascript %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'deliverables:index' %}">Deliverables</a></li>
    <li><a href="{% url 'deliverables:deliverable' meeting.deliverable.pk %}">{{ meeting.deliverable.name }}</a></li>
    <li><a href="{% url 'deliverables:meetings:meeting' meeting.deliverable.pk meeting.pk %}">{{ meeting.name }}</a></li>
    <li><a href="{% url 'deliverables:meetings:settings' meeting.deliverable.pk meeting.pk %}">Settings</a></li>
    <li class="active">Delete</li>
  </ol>
{% endblock breadcrumb %}

{% block tabs %}
  {% include 'deliverables/meetings/includes/menu.html' with meeting=meeting active='settings' %}  
{% endblock tabs %}

{% block content %}
  <div class="row">
    <div class="col-lg-2 col-md-3 col-sm-4">
      {% include 'deliverables/meetings/settings/includes/menu.html' with meeting=meeting active='delete' %}
    </div>
    <div class="col-lg-10 col-md-9 col-sm-8">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title">Danger zone</h3>
        </div>
        <ul class="list-group">
          <li class="list-group-item">
            <button type="button" class="btn btn-danger pull-right" data-toggle="modal" data-target="#delete-meeting">Delete</button>
            <p><strong>Delete this meeting</strong></p>
            <p style="margin-bottom: 0;">Once you delete a meeting, there is no going back. Please be certain.</p>
          </li>
        </ul>
      </div>
      <form method="post" action="{% url 'deliverables:meetings:delete' meeting.deliverable.pk meeting.pk %}">
        {% csrf_token %}
        <div class="modal fade" id="delete-meeting" tabindex="-1" role="dialog" aria-labelledby="delete-meeting-title" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="delete-meeting-title">Are you sure?</h4>
              </div>
              <div class="modal-body">
                <p>This action <strong>CANNOT</strong> be undone. This will permanently delete the meeting <strong>{{ meeting.name }}</strong>, evaluations, dashboards, and remove all stakeholders and decision items associations.</p>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" id="enable-confirm-deletion"> I understand the consequences.
                  </label>
                </div>
              </div>
              <div class="modal-footer">
                <button type="submit" id="confirm-deletion" class="btn btn-danger btn-block" disabled>Delete this meeting</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}
