{% extends 'base.html' %}

{% load i18n %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
    <li><a href="{% url 'factors:index' %}">{% trans 'Factors' %}</a></li>
    <li><a href="{% url 'factors:edit' factor.pk %}">{{ factor.name }}</a></li>
    <li class="active">{% trans 'Delete' %}</li>
  </ol>
{% endblock breadcrumb %}

{% block content %}
  {% if can_delete %}
    <h1 class="lead">{% trans 'Are you sure you want to delete the factor' %} {{ factor.name }}?</h1>
    <form method="post" class="form-horizontal">
      {% csrf_token %}
      <div class="form-group">
        <div class="col-sm-12">
          <button type="submit" class="btn btn-primary">{% trans 'Confirm' %}</button>
          <a href="{% url 'factors:index' %}" class="btn btn-default">{% trans 'Cancel' %}</a>
        </div>
      </div>
    </form>
  {% else %}
    <div class="well blank-state">
      <span class="glyphicon glyphicon-ban-circle"></span>
      <h3>
        {% blocktrans trimmed with name=factor.name %}
          The value factor <strong>{{ name }}</strong> cannot be deleted.
        {% endblocktrans %}
      </h3>
      <p class="lead">
        {% blocktrans trimmed %}
          There's already deliverables and meetings associated with this value factor.
          Change its status to <strong>inactive</strong> instead.
        {% endblocktrans %}
      </p>
      <a href="{% url 'factors:index' %}" class="btn btn-default">
        <span class="fa fa-arrow-left"></span> {% trans 'Back' %}
      </a>
    </div>
  {% endif %}
{% endblock content %}
