{% extends 'base.html' %}

{% load staticfiles %}

{% block javascript %}
  <script src="{% static 'js/factors.js' %}"></script>
{% endblock javascript %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li class="active">Factors</li>
  </ol>
{% endblock breadcrumb %}

{% block content %}
  <a href="{% url 'factors:add' %}" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-plus"></span> Add factor</a>

  <p class="lead">Select factor to change</p>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Measure</th>
        <th>Active</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for factor in factors %}
      <tr>
        <td><a href="{% url 'factors:factor' factor.pk %}">{{ factor.name }}</a></td>
        <td>{{ factor.description }}</td>
        <td>{{ factor.measure.name }}</td>
        <td>
          {% if factor.is_active %}
            <span class="glyphicon glyphicon-ok-sign text-success"></span>
          {% else %}
            <span class="glyphicon glyphicon-remove-sign text-danger"></span>
          {% endif %}
        </td>
        <td class="text-right text-nowrap">
          <a href="{% url 'factors:factor' factor.pk %}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
          <a href="{% url 'factors:delete' factor.pk %}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-trash"></span> Delete</a>
        </td>
      </tr>
      {% empty %}
        <tr>
          <td colspan="5">No data</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
