{% extends 'base.html' %}

{% block javascript %}
  <script>
    $(function () {

      $(".js-confirm-group-deletion").click(function () {

        var group_id = $(this).attr("data-group-id");
        var group_name = $(this).attr("data-group-name");
        $("#form-delete-group [name='group_id']").val(group_id)
        $("#form-delete-group .group-name").text(group_name);
        $("#delete-group").modal("show");
      });

    });
  </script>
{% endblock javascript %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'factors:factors' %}">Factors</a></li>
    <li class="active">Groups</li>
  </ol>
{% endblock breadcrumb %}

{% block content %}

  <div class="row">
      <div class="col-sm-6">
        <p class="lead">Drag and drop to asign a group</p>
      </div>
      <div class="col-sm-6 text-right">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#new-group"><span class="glyphicon glyphicon-plus"></span> Add a factor group</button>
      </div>
    </div>

  {% if groups.exists %}
    <div class="row">
      <div class="col-sm-4 col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Available Factors</h3>
          </div>
          <ul class="list-group">
            {% for factor in factors %}
              <li class="list-group-item">{{ factor.name }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="col-sm-8 col-md-9">
        <div class="row">
          {% for group in groups %}
          <div class="col-sm-6 col-md-4">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">
                  <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Click to remove the group" data-container="body" class="pull-right js-confirm-group-deletion" data-group-id="{{ group.pk }}" data-group-name="{{ group.name }}">
                    <span class="glyphicon glyphicon-remove"></span>
                  </a>
                  {{ group.name }}
                </h3>
              </div>
              <div class="panel-body">
                
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% else %}
    <div class="well">
      <div class="text-center" style="padding: 2em 0;">
        <span class="glyphicon glyphicon-list-alt text-muted" style="font-size: 2.5em"></span>
        <h4 style="margin: 1em 0;">The factor groups directory is empty.</h4>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#new-group"><span class="glyphicon glyphicon-plus"></span> Add a factor group</button>
      </div>
    </div>
  {% endif %}

  <form method="post" action="{% url 'factors:add_group' %}">
    {% csrf_token %}
    <div class="modal fade" id="new-group">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">New factor group</h4>
          </div>
          <div class="modal-body">
            {% include 'includes/form_vertical.html' with form=form %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <form method="post" action="" id="form-delete-group">
    {% csrf_token %}
    <input type="hidden" name="group_id">
    <div class="modal fade" id="delete-group">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Are you sure?</h4>
          </div>
          <div class="modal-body">
            <p>The associated value factors won't be deleted.</p>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-danger btn-block">Delete group <span class="group-name"></span></button>
          </div>
        </div>
      </div>
    </div>
  </form>

{% endblock content %}

