{% extends 'base.html' %}

{% load i18n static %}

{% block javascript %}
  <script type="text/javascript" src="{% static 'factors/js/groups.js' %}"></script>
{% endblock javascript %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
    <li class="active">{% trans 'Factors Groups' %}</li>
  </ol>
{% endblock breadcrumb %}

{% block content %}

  {% if groups.exists %}
    <div class="row">
      <div class="col-sm-6">
        <p class="lead">{% trans 'Use drag and drop to assign a factor to a group' %}</p>
      </div>
      <div class="col-sm-6 text-right">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#new-group">
          <span class="glyphicon glyphicon-plus"></span> {% trans 'Add a factor group' %}
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 col-md-3">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">{% trans 'Available Factors' %}</h3>
          </div>
          <ul class="list-group sortable" id="available-factors" data-group-id="" style="min-height: 38px;">
            {% for factor in available_factors %}
              <li class="list-group-item" data-factor-id="{{ factor.pk }}">
                {{ factor.name }}
                <button type="button" class="btn btn-xs btn-danger js-btn-remove pull-right" style="display: none;">
                  <span class="glyphicon glyphicon-remove"></span>
                </button>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="col-sm-8 col-md-9">
        <div class="row">
          {% for group in groups %}
          <div class="col-sm-6 col-md-4">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">
                  <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top"
                     title="{% trans 'Click to remove the group' %}" data-container="body"
                     class="pull-right js-confirm-group-deletion" data-group-id="{{ group.pk }}"
                     data-group-name="{{ group.name }}">
                    <span class="glyphicon glyphicon-remove"></span>
                  </a>
                  <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top"
                     title="{% trans 'Click to edit the group' %}" data-container="body"
                     class="pull-right js-edit-group" data-group-edit-url="{% url 'factors:edit_group' group.pk %}"
                     style="margin-right: 5px;">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </a>
                  {{ group.name }}
                </h3>
              </div>
              <ul class="list-group factors-group sortable" data-group-id="{{ group.pk }}" style="min-height: 38px;">
                {% for factor in group.factor_set.all %}
                  <li class="list-group-item" data-factor-id="{{ factor.pk }}">
                    {{ factor.name }}
                    <button type="button" class="btn btn-xs btn-danger js-btn-remove pull-right">
                      <span class="glyphicon glyphicon-remove"></span>
                    </button>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% else %}
    <div class="well blank-state">
      <span class="fa fa-clone"></span>
      <h3>{% trans 'The factors groups directory is empty.' %}</h3>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#new-group">
        <span class="glyphicon glyphicon-plus"></span> {% trans 'Add the first factor group' %}
      </button>
    </div>
  {% endif %}

  <form method="post" action="{% url 'factors:add_group' %}" id="form-add-factor">
    {% csrf_token %}
    <div class="modal fade" id="new-group">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="{% trans 'Close' %}">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">{% trans 'New factor group' %}</h4>
          </div>
          <div class="modal-body">
            {% include 'includes/form_vertical.html' with form=form %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Cancel' %}</button>
            <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <form method="post" action="{% url 'factors:add_factor_group' %}" id="form-add-factor-group">
    {% csrf_token %}
    <input type="hidden" id="id_group" name="group">
    <input type="hidden" id="id_factor" name="factor">
  </form>

  <form method="post" action="{% url 'factors:delete_group' %}" id="form-delete-group">
    {% csrf_token %}
    <input type="hidden" name="group">
    <div class="modal fade" id="delete-group">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="{% trans 'Close' %}">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">{% trans 'Are you sure?' %}</h4>
          </div>
          <div class="modal-body">
            <p>{% trans 'The associated value factors won't be deleted.' %}</p>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-danger btn-block">
              {% trans 'Delete group' %} <span class="group-name"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="modal fade" id="modal-edit-group">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="{% trans 'Close' %}">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">{% trans 'Edit group' %}</h4>
        </div>
        <div class="modal-body">

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Cancel' %}</button>
          <button type="button" class="btn btn-primary" id="btn-save-group-edit">{% trans 'Save' %}</button>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
