{% extends 'base.html' %}

{% load i18n %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
    <li class="active">{% trans 'Application settings' %}</li>
  </ol>
{% endblock breadcrumb %}

{% block content %}
  <div class="row">
    <div class="col-md-3 col-sm-4">
      {% include 'application_settings/includes/menu.html' %}
    </div>
    <div class="col-md-9 col-sm-8">
      {% block settings_content %}
      {% endblock settings_content %}
    </div>
  </div>
{% endblock content %}
