{% extends 'application_settings/base.html' %}

{% load i18n static customfields excelhelpers %}

{% block stylesheet %}
  <link href="{% static 'css/prism.css' %}" rel="stylesheet">
{% endblock stylesheet %}

{% block javascript %}
  <script src="{% static 'js/prism.js' %}"></script>
  <script src="{% static 'js/application_settings/settings.js' %}"></script>
{% endblock javascript %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
    <li><a href="{% url 'settings:index' %}">{% trans 'Application settings' %}</a></li>
    <li class="active">{% trans 'Import template' %}</li>
  </ol>
{% endblock breadcrumb %}

{% block settings_content %}
  <form id="form_import_templates" action="{% url 'settings:save_import_templates' %}" method="post">
    {% csrf_token %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{% trans 'Import template' %}</h3>
      </div>
      <div class="panel-body">
        <p>{% trans 'You may import decision items for a given deliverable or meeting from a external file' %}.</p>
        <div class="panel-group" id="templates" role="tablist" aria-multiselectable="true" style="margin-bottom: 0">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading-xls">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#templates" href="#collapse-xls"
                   aria-expanded="true" aria-controls="collapse-xls">
                  Excel <small>.xls, .xlsx</small>
                </a>
              </h4>
            </div>
            <div id="collapse-xls" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-xls">
              <div class="panel-body">
                <div class="form-horizontal">
                  <div class="form-group">
                    <div class="col-sm-8 col-md-6 col-lg-4">
                      <label for="id_start_line">{% trans 'Orientation' %}</label>
                      <select id="id_orientation" name="orientation" class="form-control">
                        <option value="row"{% if app_settings.EXCEL_ENTRY_ORIENTATION == 'row' %} selected="selected"{% endif %}>
                          {% trans 'One entry per row' %}
                        </option>
                        <option value="column"{% if app_settings.EXCEL_ENTRY_ORIENTATION == 'column' %} selected="selected"{% endif %}>
                          {% trans 'One entry per column' %}
                        </option>
                      </select>
                    </div>
                    <div class="col-sm-4 col-md-3 col-lg-2">
                      <label for="id_starting_row"
                             class="entry_per_row"
                             {% if app_settings.EXCEL_ENTRY_ORIENTATION == 'column' %}
                             style="display: none"
                             {% endif %}>
                        {% trans 'Starting row' %}
                      </label>
                      <label for="id_starting_column"
                             class="entry_per_column"
                             {% if app_settings.EXCEL_ENTRY_ORIENTATION == 'row' %}
                             style="display: none"
                             {% endif %}>
                        {% trans 'Starting column' %}
                      </label>
                      <input type="text" class="form-control" id="id_starting_row_column" name="starting_row_column"
                             value="{{ app_settings.EXCEL_STARTING_ROW_COLUMN }}">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-12">
                      <label>{% trans 'Spreadsheet template' %}</label>
                      <table class="table table-bordered" style="margin-bottom: 0; width: auto">
                        <thead>
                          <tr>
                            <th>{% trans 'Field' %}</th>
                            <th class="entry_per_row"{% if app_settings.EXCEL_ENTRY_ORIENTATION == 'column' %} style="display: none"{% endif %}>
                              {% trans 'Column' %}
                            </th>
                            <th class="entry_per_column"{% if app_settings.EXCEL_ENTRY_ORIENTATION == 'row' %} style="display: none"{% endif %}>
                              {% trans 'Row' %}
                            </th>
                            <th>{% trans 'Import' %}?</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for name, field in import_template_fields.items %}
                            <tr>
                              <td>{{ field.label }}</td>
                              <td class="entry_per_row"{% if app_settings.EXCEL_ENTRY_ORIENTATION == 'column' %} style="display: none"{% endif %}>
                                {% excel_columns name forloop.counter app_settings %}
                              </td>
                              <td class="entry_per_column"{% if app_settings.EXCEL_ENTRY_ORIENTATION == 'row' %} style="display: none"{% endif %}>
                                {% excel_rows name forloop.counter app_settings %}
                              </td>
                              <td>
                                <input type="checkbox" class="js-import-check" name="active_{{ name }}" value="active" {% excel_is_checked name app_settings %}>
                              </td>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-4">
                      <label for="id_excel_sheet_index">{% trans 'Sheet index' %} <small>({% trans 'Zero based index. Leave empty for all' %}.)</small></label>
                      <input type="text" class="form-control" id="id_excel_sheet_index" name="excel_sheet_index" value="{{ app_settings.EXCEL_SHEET_INDEX }}">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <button class="btn btn-primary" type="submit">{% trans 'Save changes' %}</button>
      </div>
    </div>
  </form>
{% endblock settings_content %}
