{% extends 'application_settings/base.html' %}

{% load avatar staticfiles %}

{% block javascript %}
  <script type="text/javascript">
    $(function () {
      var options = [
      {% for stakeholder in users %}
        { 
          name: "{{ stakeholder.profile.get_display_name }}", 
          pk: {{ stakeholder.pk }}, 
          img: "{% avatar stakeholder 20 %}" 
        }{% if not forloop.last %}, {% endif %}
      {% endfor %}
      ];
      $("#id_administrators").selectizeUsers(options, {{ users.count }});
    });
  </script>
{% endblock javascript %}

{% block settings_content %}
  
  {% comment %}
  <form method="post" class="form-horizontal">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">General</h3>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <label class="control-label col-sm-2">Value Ranking</label>
          <div class="col-sm-10">
            <input type="text" class="form-control">
            <span class="help-block">The value ranking is based on the active measure.</span>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </form>
  {% endcomment %}

  <form method="post" action="{% url 'settings:admins' %}">
    {% csrf_token %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Administrators</h3>
      </div>
      <div class="panel-body">
        <p>Select the users you want to grant administrator permissions.</p>
        <select id="id_administrators" name="grant_user"></select>
      </div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th style="width: 150px;">Revoke access?</th>
          </tr>
        </thead>
        <tbody>
          {% for user in admins %}
            <tr>
              <td>{{ user.profile.get_display_name }}</td>
              <td>{{ user.email }}</td>
              <td class="text-center">
                <input type="checkbox" name="revoke_user" value="{{ user.pk }}" autocomplete="off">
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="panel-footer">
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
    </form>
  </div>

{% endblock settings_content %}
