{% extends 'application_settings/base.html' %}

{% load i18n static %}

{% block javascript %}
  <script>
    $(function () {
      $("#form-permissions").submit(function () {
        var removeYourself = false;
        $("[name='revoke_user']:checked").each(function () {
          if ($(this).hasClass("you")) {
            removeYourself = true;
          }
        });

        if (removeYourself) {
          return confirm("{% trans 'You are about to remove yourself as a system administrator' %}.\n" +
                          "{% trans 'You will no longer be able to access the admin panel' %}.\n" +
                          "{% trans 'Are you sure you want to proceed' %}?");
        }
        return true;
      });
    });
  </script>
{% endblock %}

{% block settings_content %}
  <form method="post" action="{% url 'settings:admins' %}" id="form-permissions">
    {% csrf_token %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{% trans 'Permissions' %}</h3>
      </div>
      <div class="panel-body">
        <p class="lead">{% trans 'Select the users you want to grant/revoke administrator permissions' %}.</p>

        <div class="row">
          <div class="col-md-6">
            <table class="table table-striped table-condensed">
              <thead>
                <tr>
                  <th>{% trans 'Administrators' %}</th>
                  <th style="width: 120px;">{% trans 'Revoke access' %}?</th>
                </tr>
              </thead>
              <tbody>
                {% for user in admins %}
                  <tr>
                    <td>
                      {{ user.username }}
                      {% if user.get_full_name %}
                        <small class="text-muted">({{ user.get_full_name }})</small>
                      {% endif %}
                      {% if user == request.user %}
                        <span class="label label-info">{% trans 'you' %}</span>
                      {% endif %}
                    </td>
                    <td class="text-center">
                      <input type="checkbox" name="revoke_user" value="{{ user.pk }}"
                             autocomplete="off"{% if user == request.user %} class="you"{% endif %}>
                    </td>
                  </tr>
                {% empty %}
                  <tr>
                    <td colspan="2" class="text-center">
                      <strong>{% trans 'No available users' %}</strong>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>

            <table class="table table-striped table-condensed">
              <thead>
                <tr>
                  <th>{% trans 'Other users' %}</th>
                  <th style="width: 120px;">{% trans 'Grant access' %}?</th>
                </tr>
              </thead>
              <tbody>
                {% for user in users %}
                  <tr>
                    <td>
                      {{ user.username }}
                      {% if user.get_full_name %}
                        <small class="text-muted">({{ user.get_full_name }})</small>
                      {% endif %}
                    </td>
                    <td class="text-center">
                      <input type="checkbox" name="grant_user" value="{{ user.pk }}" autocomplete="off">
                    </td>
                  </tr>
                {% empty %}
                  <tr>
                    <td colspan="2" class="text-center">
                      <strong>{% trans 'No available users' %}</strong>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <button type="submit" class="btn btn-primary">{% trans 'Save changes' %}</button>
      </div>
    </form>
  </div>
{% endblock settings_content %}
