{% extends 'application_settings/base.html' %}

{% load i18n static customfields excelhelpers %}

{% block javascript %}
  <script src="{% static 'js/application_settings/settings.js' %}"></script>
  <script>
    $(function () {
      Sortable.create($("#column-display-order")[0], {
        draggable: ".sortable",
        onEnd: function (evt) {
          var value = '';
          $("#column-display-order span").each(function () {
            value += $(this).attr("data-field-name") + ",";
            $(this).attr("data-field-order", $(this).index());
          });
          $("#id_column_display").val(value);
        }
      });
    });
  </script>
{% endblock javascript %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
    <li><a href="{% url 'settings:index' %}">{% trans 'Application settings' %}</a></li>
    <li class="active">{% trans 'Decision items' %}</li>
  </ol>
{% endblock breadcrumb %}

{% block settings_content %}

  <form id="form_ordering" action="{% url 'settings:save_ordering' %}" method="post">
    {% csrf_token %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{% trans 'Decision items' %}</h3>
      </div>
      <div class="panel-body">
        <div class="form-group" style="margin-bottom: 0">
          <label>{% trans 'Define the column display order' %}</label>
          <input type="hidden" id="id_column_display" name="column_display" value="{{ app_settings.DECISION_ITEMS_COLUMNS_DISPLAY }}">
          <div id="column-display-order">
            {% spaceless %}
              {% for name, field in decision_items_fields.items %}
                <span class="label label-default sortable" data-field-name="{{ name }}" data-field-order="{{ forloop.counter0 }}">{{ field.label }}</span>
              {% endfor %}
            {% endspaceless %}
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <button type="submit" class="btn btn-primary">{% trans 'Save changes' %}</button>
      </div>
    </div>
  </form>

  <form id="form_custom_fields" method="post" action="{% url 'settings:save_custom_fields' %}">
    {% csrf_token %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{% trans 'Custom fields' %}</h3>
      </div>
      <div class="panel-body" style="height: 400px; overflow-y: scroll;">
        <p>{% trans 'Add custom fields to the decision items model. Please note that the fields' %} <strong>{% trans 'name' %}</strong> {% trans 'and' %} <strong>{% trans 'description' %}</strong> {% trans 'are fixed' %}.</p>
        <table class="table table-condensed table-bordered">
          <thead>
            <tr>
              <th>{% trans 'Column' %}</th>
              <th>{% trans 'Label' %}</th>
              <th>{% trans 'Data type' %}</th>
              <th style="width: 60px;">{% trans 'Display' %}</th>
              <th style="width: 60px;">{% trans 'Active' %}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="vertical-align: middle">{% trans 'name' %}</td>
              <td><input type="text" class="form-control input-sm" disabled value="{% trans 'Name' %}"></td>
              <td>
                <select class="form-control input-sm" disabled>
                  <option>{% trans 'String' %}</option>
                </select>
              </td>
              <td style="vertical-align: middle; text-align: center;"><input type="checkbox" checked disabled></td>
              <td style="vertical-align: middle; text-align: center;"><input type="checkbox" checked disabled></td>
            </tr>
            <tr>
              <td style="vertical-align: middle;">{% trans 'description' %}</td>
              <td><input type="text" class="form-control input-sm" disabled value="{% trans 'Description' %}"></td>
              <td>
                <select class="form-control input-sm" disabled>
                  <option>{% trans 'String' %}</option>
                </select>
              </td>
              <td style="vertical-align: middle; text-align: center;"><input type="checkbox" checked disabled></td>
              <td style="vertical-align: middle; text-align: center;"><input type="checkbox" checked disabled></td>
            </tr>
            {% for column_index in custom_fields_range %}
              <tr>
                <td style="vertical-align: middle">
                  {% trans 'column_' %}{{ column_index }}
                </td>
                <td>
                  <input type="text" class="form-control input-sm js-control-disable" name="column_label_{{ column_index }}" maxlength="255" value="{% custom_field_attr custom_fields column_index 'label' %}">
                </td>
                <td>
                  <select class="form-control input-sm js-control-disable" name="column_type_{{ column_index }}">
                    {% for type in column_types %}
                      <option value="{{ type.0 }}" {% custom_field_selected custom_fields column_index type %}>{{ type.1 }}</option>
                    {% endfor %}
                  </select>
                </td>
                <td style="vertical-align: middle; text-align: center;">
                  <input type="checkbox" name="column_display_{{ column_index }}" class="js-control-disable" {% custom_field_display custom_fields column_index %}>
                </td>
                <td style="vertical-align: middle; text-align: center;">
                  <input type="checkbox" name="column_is_active_{{ column_index }}" {% custom_field_is_active custom_fields column_index %}>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="panel-footer">
        <button class="btn btn-primary" type="submit">{% trans 'Save changes' %}</button>
      </div>
    </div>
  </form>
{% endblock settings_content %}
