{% extends 'application_settings/base.html' %}

{% load i18n static %}

{% block settings_content %}
  <form method="post">
    {% csrf_token %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{% trans 'JIRA Integration' %}</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6">
            {% include 'includes/form_vertical.html' with form=form %}
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <button type="submit" class="btn btn-primary">{% trans 'Save changes' %}</button>
      </div>
    </form>
  </div>
{% endblock settings_content %}
