{% extends 'base.html' %}

{% load staticfiles %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'deliverables:index' %}">Deliverables</a></li>
    <li class="active">{{ deliverable.name }}</li>
  </ol>
{% endblock breadcrumb %}

{% block content %}

  {% include 'deliverables/includes/menu.html' with active='summary' deliverable=deliverable %}

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">About</h3>
    </div>
    <div class="panel-body">
      {% if deliverable.description %}
        <p>{{ deliverable.description }}</p>
      {% else %}
        <em class="text-muted">No description</em>
      {% endif %}
    </div>
  </div>

{% endblock content %}
