{% extends 'base.html' %}

{% load i18n %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
    <li><a href="{% url 'deliverables:index' %}">{% trans 'Deliverables' %}</a></li>
    <li><a href="{% url 'deliverables:deliverable' deliverable.pk %}">{{ deliverable.name }}</a></li>
    <li class="active">{% trans 'Historical Dashboard' %}</li>
  </ol>
{% endblock breadcrumb %}

{% block content %}
  {% include 'deliverables/includes/menu.html' with active='historical_dashboard' deliverable=deliverable %}
  <div class="well blank-state">
    <span class="fa fa-line-chart"></span>
    <h3>{% trans 'There's no enough data to display the Historical Dashboard.' %}</h3>
  </div>
{% endblock content %}
