{% extends 'base.html' %}

{% load staticfiles avatar %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li class="active">Deliverables</li>
  </ol>
{% endblock breadcrumb %}

{% block content %}

  {% if manager_deliverables or stakeholder_deliverables %}
    <div style="margin-bottom: 20px">
      <a class="btn btn-primary" href="{% url 'deliverables:new' %}"><span class="glyphicon glyphicon-plus"></span> New deliverable</a>
    </div>
    {% if manager_deliverables %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Deliverables <span class="badge">Manager</span></h3>
        </div>
        <table class="table table-hover table-clickable-row">
          <thead>
            <tr>
              <th>Name</th>
              <th>Manager</th>
              <th>Stakeholders</th>
              <th>Meetings</th>
              <th>Updated at</th>
            </tr>
          </thead>
          <tbody>
            {% for deliverable in manager_deliverables %}
              <tr data-href="{% url 'deliverables:deliverable' deliverable.pk %}">
                <td><a href="{% url 'deliverables:deliverable' deliverable.pk %}">{{ deliverable.name }}</a></td>
                <td>{% avatar_img deliverable.manager 20 %}</td>
                <td>
                  {% for stakeholder in deliverable.stakeholders.all %}
                    {% avatar_img stakeholder 20 %}
                  {% endfor %}
                </td>
                <td>{{ deliverable.meeting_set.count }}</td>
                <td>{{ deliverable.updated_at }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}

    {% if stakeholder_deliverables %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Deliverables <span class="badge">Stakeholder</span></h3>
        </div>
        <table class="table table-hover table-clickable-row">
          <thead>
            <tr>
              <th>Name</th>
              <th>Manager</th>
              <th>Stakeholders</th>
              <th>Meetings</th>
              <th>Updated at</th>
            </tr>
          </thead>
          <tbody>
            {% for deliverable in stakeholder_deliverables %}
              <tr data-href="{% url 'deliverables:deliverable' deliverable.pk %}">
                <td><a href="{% url 'deliverables:deliverable' deliverable.pk %}">{{ deliverable.name }}</a></td>
                <td>{% avatar_img deliverable.manager 20 %}</td>
                <td>
                  {% for stakeholder in deliverable.stakeholders.all %}
                    {% avatar_img stakeholder 20 %}
                  {% endfor %}
                </td>
                <td>{{ deliverable.meeting_set.count }}</td>
                <td>{{ deliverable.updated_at }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}

  {% else %}
    <div class="well blank-state">
      <span class="fa fa-inbox"></span>
      <h3>Welcome to your repository of deliverables!</h3>
      <p class="lead">A deliverable can be a project, a product, a release or a service.</p>
      <a class="btn btn-primary" href="{% url 'deliverables:new' %}"><span class="glyphicon glyphicon-plus"></span> Add your first deliverable</a>
    </div>
  {% endif %}

{% endblock content %}
