{% extends 'base.html' %}

{% load staticfiles avatar %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li class="active">Deliverables</li>
  </ol>
{% endblock breadcrumb %}

{% block content %}

  <div style="margin-bottom: 20px">
    <a class="btn btn-primary" href="{% url 'deliverables:new' %}"><span class="glyphicon glyphicon-plus"></span> New deliverable</a>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Deliverables</h3>
    </div>
    <table class="table table-hover table-clickable-row">
      <thead>
        <tr>
          <th>Name</th>
          <th>Manager</th>
          <th>Meetings</th>
          <th>Created at</th>
          <th>Updated at</th>
        </tr>
      </thead>
      <tbody>
        {% for deliverable in deliverables %}
          <tr data-href="{% url 'deliverables:deliverable' deliverable.pk %}">
            <td><a href="{% url 'deliverables:deliverable' deliverable.pk %}">{{ deliverable.name }}</a></td>
            <td>
              {% avatar_img deliverable.manager 20 %}
            </td>
            <td>{{ deliverable.meeting_set.count }}</td>
            <td>{{ deliverable.created_at }}</td>
            <td>{{ deliverable.updated_at }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock content %}
