{% extends 'base.html' %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'deliverables:index' %}">Deliverables</a></li>
    <li><a href="{% url 'deliverables:deliverable' deliverable.pk %}">{{ deliverable.name }}</a></li>
    <li class="active">Meetings</li>
  </ol>
{% endblock breadcrumb %}

{% block content %}

  {% include 'deliverables/includes/menu.html' with active='meetings' deliverable=deliverable %}

  {% if deliverable.description %}
    <p class="lead">{{ deliverable.description|linebreaksbr }}</p>
  {% endif %}

  {% with has_meetings=deliverable.meeting_set.exists %}
    
    {% if has_meetings %}
      {% if deliverable.manager == user %}
        <div style="margin-bottom: 20px;" class="clearfix">
          <a href="{% url 'deliverables:meetings:new' deliverable.pk %}" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> New meeting</a>
        </div>
      {% endif %}
    {% endif %}

    {% if has_meetings %}
      {% if deliverable.get_meetings_in_progress.exists %}
        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title">Meetings in progress</h3>
          </div>
          {% include 'deliverables/includes/meetings_table.html' with meetings=deliverable.get_meetings_in_progress %}
        </div>
      {% endif %}
      {% if deliverable.get_past_meetings.exists %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Past meetings</h3>
          </div>
          {% include 'deliverables/includes/meetings_table.html' with meetings=deliverable.get_past_meetings %}
        </div>
      {% endif %}
    {% else %}
      <div class="well blank-state">
        <span class="fa fa-calendar"></span>
        <h3>This deliverable had no meeting yet.</h3>
        {% if deliverable.manager == user %}
          <a href="{% url 'deliverables:meetings:new' deliverable.pk %}" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Start a meeting</a>
        {% endif %}
      </div>
    {% endif %}
  {% endwith %}

{% endblock content %}
