{% extends 'base.html' %}

{% load staticfiles %}
{% load avatar %}
{% load attr %}

{% block stylesheet %}
  <link href="{% static 'css/deliverables/deliverables.css' %}" rel="stylesheet">
{% endblock stylesheet %}

{% block javascript %}
  <script src="{% static 'js/deliverables/new.js' %}"></script>
  <script src="{% static 'js/deliverables/import_decision_items.js' %}"></script>
{% endblock javascript %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'deliverables:index' %}">Deliverable</a></li>
    <li class="active">New deliverable</li>
  </ol>
{% endblock breadcrumb %}

{% block content %}
  <h2>New deliverable</h2>

  <form method="post" role="form">

    {% csrf_token %}
    
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">1. Provide the deliverable details</h3>
        </div>
        <div class="panel-body">
          <div class="form-group{% if form.name.errors %} has-error{% endif %}">
            <label for="{{ form.name.id_for_label }}" class="control-label">{{ form.name.label }}</label>
            {{ form.name }}
            {% for error in form.name.errors %}
              <p class="help-block">{{ error }}</p>
            {% endfor %}
          </div>
          <div class="form-group{% if form.description.errors %} has-error{% endif %}"{% if forloop.last %} style="margin-bottom: 0"{% endif %}>
            <label for="{{ form.description.id_for_label }}" class="control-label">{{ form.description.label }}</label>
            {{ form.description }}
            {% for error in form.description.errors %}
              <p class="help-block">{{ error }}</p>
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">2. Define the Stakeholders</h3>
        </div>
        <div class="panel-body">
          <div class="clearfix" style="margin-bottom: 20px">
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="selection-options" data-toggle="dropdown" aria-expanded="true">
                Select
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="selection-options">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0);" class="js-stakeholders-select-all">All</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0);" class="js-stakeholders-select-none">None</a></li>
              </ul>
            </div>
          </div>
          <div class="panel-group" id="stakeholders" style="margin-bottom: 0">
            {% for checkbox in form.stakeholders %}
              <div class="panel {% if checkbox.is_checked %}panel-success{% else %}panel-default{% endif %}">
                <div class="panel-body js-stakeholder-selection{% if checkbox.is_checked %} bg-success{% endif %}">
                  <div class="row">
                    <div class="col-md-11">
                      <img src="{% avatar_id checkbox.choice_value 32 %}" alt="{{ checkbox.choice_label }}" class="img-circle" style="margin-right: 10px">
                      {{ checkbox.choice_label }}
                      <input type="checkbox" name="{{ checkbox.name }}" value="{{ checkbox.choice_value }}" style="display: none"{% if checkbox.is_checked %} checked="checked"{% endif %}>
                    </div>
                    <div class="col-md-1 text-right">
                      <span class="glyphicon glyphicon-ok text-success" style="line-height: 28px;{% if not checkbox.is_checked %} display: none{% endif %}"></span>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">3. Define the Decision Items</h3>
        </div>
        <div class="panel-body">
          <div class="form-group" style="margin-bottom: 0">
            {{ formset.management_form }}
            <table id="decision-items-formset" class="table table-bordered table-striped" style="margin-bottom: 0">
              <thead>
                <tr>
                  {% for field in formset.0 %}
                    {% if field.name in fields.keys %}
                      <th>{{ fields|dictkey:field.name|dictkey:"label" }}</th>
                    {% endif %}
                  {% endfor %}
                  <th></th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <td colspan="{{ fields|length|add:'1' }}">
                    <button type="button" class="btn btn-primary btn-sm js-add-row"><span class="glyphicon glyphicon-plus"></span> Add</button>
                    {% include 'deliverables/includes/import_decision_items.html' with btn='btn-sm' %}
                  </td>
                </tr>
              </tfoot>
              <tbody>
                {% for form in formset %}
                  <tr>
                    {% for field in form.visible_fields %}
                      <td{% if field.errors %} class="bg-danger has-error"{% endif %}>
                        <input type="text" class="form-control input-sm" id="{{ field.id_for_label }}" name="{{ field.html_name }}" value="{{ field.value|default_if_none:'' }}" maxlength="{{ field.field.max_length }}">
                        {% for error in field.errors %}
                          <p class="help-block">{{ error }}</p>
                        {% endfor %}
                      </td>
                    {% endfor %}
                    <td style="text-align: center; vertical-align: middle">
                      {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                      {% endfor %}
                      <a href="javascript:void(0);" class="js-remove-row"><span class="glyphicon glyphicon-remove-sign"></span></a>
                    </td>
                  </tr>
                {% endfor %}
                <tr class="empty-row">
                  {% for field in formset.0.visible_fields %}
                    <td>
                      <input type="text" id="id_{{ formset.prefix }}-__prefix__-{{ field.name }}" name="{{ formset.prefix }}-__prefix__-{{ field.name }}" maxlength="{{ field.field.max_length }}" class="form-control input-sm">
                    </td>
                  {% endfor %}
                  <td style="text-align: center; vertical-align: middle">
                    {% for hidden in formset.0.hidden_fields %}
                      <input type="hidden" id="id_{{ formset.prefix }}-__prefix__-{{ hidden.name }}" name="{{ formset.prefix }}-__prefix__-{{ hidden.name }}">
                    {% endfor %}
                    <a href="javascript:void(0);" class="js-remove-row"><span class="glyphicon glyphicon-remove-sign"></span></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    <div style="margin-bottom: 20px">
      <button type="submit" class="btn btn-primary">Save</button>
      <a href="{% url 'deliverables:index' %}" class="btn btn-default" alt="Cancel">Cancel</a>
    </div>

  </form>

{% endblock content %}
