{% extends 'base.html' %}

{% block javascript %}
  <script>
    $(function () {
      $("#enable-confirm-deletion").click(function () {
        if ($(this).is(":checked")) {
          $("#confirm-deletion").prop("disabled", false);
        }
        else {
          $("#confirm-deletion").prop("disabled", true);
        }
      });
    });
  </script>
{% endblock javascript %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'deliverables:index' %}">Deliverables</a></li>
    <li><a href="{% url 'deliverables:deliverable' deliverable.pk %}">{{ deliverable.name }}</a></li>
    <li class="active">Settings</li>
  </ol>
{% endblock breadcrumb %}

{% block tabs %}
  {% include 'deliverables/includes/menu.html' with active='settings' deliverable=deliverable %}
{% endblock tabs %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Basic data</h3>
      </div>
      <div class="panel-body">
        {% include 'includes/form_vertical.html' with form=form %}
      </div>
      <div class="panel-footer">
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </form>

  <div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title">Danger zone</h3>
    </div>
    <ul class="list-group">
      <li class="list-group-item">
        <button type="button" class="btn btn-danger pull-right">Transfer</button>
        <p><strong>Transfer ownership</strong></p>
        <p style="margin-bottom: 0;">Transfer this deliverable to another user.</p>
      </li>
      <li class="list-group-item">
        <button type="button" class="btn btn-danger pull-right" data-toggle="modal" data-target="#delete-deliverable">Delete</button>
        <p><strong>Delete this deliverable</strong></p>
        <p style="margin-bottom: 0;">Once you delete a deliverable, there is no going back. Please be certain.</p>
      </li>
    </ul>
  </div>


  <form method="post" action="{% url 'deliverables:delete' deliverable.pk %}">
    {% csrf_token %}
    <div class="modal fade" id="delete-deliverable" tabindex="-1" role="dialog" aria-labelledby="delete-deliverable-title" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="delete-deliverable-title">Are you sure?</h4>
          </div>
          <div class="modal-body">
            <p>This action <strong>CANNOT</strong> be undone. This will permanently delete the <strong>{{ deliverable.name }}</strong> deliverable, decision items, meetings, and evaluations, and remove all stakeholders associations.</p>
            <div class="checkbox">
              <label>
                <input type="checkbox" id="enable-confirm-deletion"> I understand the consequences.
              </label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" id="confirm-deletion" class="btn btn-danger btn-block" disabled>Delete this deliverable</button>
          </div>
        </div>
      </div>
    </div>
  </form>

{% endblock content %}
