<ul class="nav nav-pills nav-stacked">
  <li role="presentation"{% if active == 'factors_usage' %} class="active"{% endif %}><a href="{% url 'workspace:analyze:index' instance.pk %}">Overall Value Factors Usage</a></li>
  <li role="presentation"{% if active == 'features' %} class="active"{% endif %}><a href="{% url 'workspace:analyze:features' instance.pk %}">Features Selection</a></li>
  <li role="presentation"{% if active == 'features_drilldown' %} class="active"{% endif %}><a href="{% url 'workspace:analyze:features_drilldown' instance.pk %}">Features Drilldown</a></li>
  <li role="presentation"{% if active == 'features_acceptance' %} class="active"{% endif %}><a href="{% url 'workspace:analyze:features_acceptance' instance.pk %}">Features Acceptance</a></li>
  <li role="presentation"{% if active == 'features_acceptance_factors' %} class="active"{% endif %}><a href="{% url 'workspace:analyze:features_acceptance_factors' instance.pk %}">Features Acceptance by Factors</a></li>
</ul>