{% extends 'base.html' %}

{% load static i18n %}

{% block javascript %}
  <script src="{% static 'js/meetings/meetings.js' %}"></script>
  <script>
    $(function () {
      $("#id_started_at_datetime").datetimepicker({
        format: "DD/MM/YYYY HH:mm"
      });
    });
  </script>
{% endblock javascript %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
    <li><a href="{% url 'deliverables:index' %}">{% trans 'Deliverables' %}</a></li>
    <li><a href="{% url 'deliverables:deliverable' meeting.deliverable.pk %}">{{ meeting.deliverable.name }}</a></li>
    <li><a href="{% url 'deliverables:meetings:meeting' meeting.deliverable.pk meeting.pk %}">{{ meeting.name }}</a></li>
    <li class="active">{% trans 'Settings' %}</li>
  </ol>
{% endblock breadcrumb %}

{% block tabs %}
  {% include 'meetings/includes/menu.html' with meeting=meeting active='settings' %}
{% endblock tabs %}

{% block content %}
  <div class="row">
    <div class="col-md-3 col-sm-4">
      {% include 'meetings/settings/includes/menu.html' with meeting=meeting active='details' %}
    </div>
    <div class="col-md-9 col-sm-8">
      <form method="post">
        {% csrf_token %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">{% trans 'Meeting details' %}</h3>
          </div>
          <div class="panel-body">
            {% include 'includes/form_vertical.html' with form=form %}
            {% if meeting.is_survey %}<p>{% trans 'Share URL:' %} <a href="{{ survey_url }}">{{ survey_url }}</a></p>{% endif %}
          </div>
          <div class="panel-footer">
            <button type="submit" class="btn btn-primary">{% trans 'Save changes' %}</button>
          </div>
        </div>
      </form>
      <div class="panel panel-default">
        <div class="panel-body">
          <a href="{% url 'deliverables:meetings:export_excel' meeting.deliverable.pk meeting.pk %}">{% trans 'Download meeting evaluation data' %}</a>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
