{% extends 'deliverables/meetings/dashboard/meeting_items_charts.html' %}

{% block toolbar %}
  <div class="btn-group btn-group-xs" role="group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"{% if not forloop.first %} disabled{% endif %}>
      <span class="fa fa-bar-chart"></span>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right js-chart-type" role="menu">
      <li role="presentation" class="dropdown-header">Chart type</li>
      <li role="presentation" class="active">
        <a role="menuitem" tabindex="-1" href="javascript:void(0);" data-chart="simple"><span class="fa fa-th-large"></span> Simple Treemap</a>
      </li>
      <li role="presentation">
        <a role="menuitem" tabindex="-1" href="javascript:void(0);" data-chart="detailed"><span class="fa fa-th"></span> Detailed Treemap</a>
      </li>
      <li role="presentation">
        <a role="menuitem" tabindex="-1" href="javascript:void(0);" data-chart="pie"><span class="fa fa-pie-chart"></span> Detailed Pie Chart</a>
      </li>
    </ul>
  </div>
{% endblock toolbar %}
