{% extends 'base.html' %}

{% load avatar i18n %}

{% block javascript %}
  <script>
    $(function () {
      var options = [{% for stakeholder in users %}{ name: "{{ stakeholder.profile.get_display_name }}", pk: {{ stakeholder.pk }}, img: "{% avatar stakeholder 20 %}" }{% if not forloop.last %}, {% endif %}{% endfor %}];
      $("#id_user").selectizeUsers(options);

      $("#id_user").change(function () {
        if ($(this).val() !== "") {
          $("#confirm-transfer").prop("disabled", false);
        }
        else {
          $("#confirm-transfer").prop("disabled", true);
        }
      });

      $("#enable-confirm-deletion").click(function () {
        if ($(this).is(":checked")) {
          $("#confirm-deletion").prop("disabled", false);
        }
        else {
          $("#confirm-deletion").prop("disabled", true);
        }
      });
    });
  </script>
{% endblock javascript %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
    <li><a href="{% url 'deliverables:index' %}">{% trans 'Deliverables' %}</a></li>
    <li><a href="{% url 'deliverables:deliverable' deliverable.pk %}">{{ deliverable.name }}</a></li>
    <li class="active">{% trans 'Settings' %}</li>
  </ol>
{% endblock breadcrumb %}

{% block tabs %}
  {% include 'deliverables/includes/menu.html' with active='settings' deliverable=deliverable %}
{% endblock tabs %}

{% block content %}
  <div class="row">
    <div class="col-md-3 col-sm-4">
      {% include 'deliverables/settings/includes/menu.html' with deliverable=deliverable active='details' %}
    </div>
    <div class="col-md-9 col-sm-8">
      <form method="post">
        {% csrf_token %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">{% trans 'Deliverable details' %}</h3>
          </div>
          <div class="panel-body">
            {% include 'includes/form_vertical.html' with form=form %}
          </div>
          <div class="panel-footer">
            <button type="submit" class="btn btn-primary">{% trans 'Save changes' %}</button>
          </div>
        </div>
      </form>

      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title">{% trans 'Danger zone' %}</h3>
        </div>
        <ul class="list-group">
          <li class="list-group-item">
            <button type="button"
                    class="btn btn-danger pull-right"
                    data-toggle="modal"
                    data-target="#transfer-deliverable">
              {% trans 'Transfer' %}
            </button>
            <p><strong>{% trans 'Transfer ownership' %}</strong></p>
            <p style="margin-bottom: 0;">{% trans 'Transfer this deliverable to another user.' %}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <form method="post" action="{% url 'deliverables:transfer' deliverable.pk %}">
    {% csrf_token %}
    <div class="modal fade"
         id="transfer-deliverable"
         tabindex="-1"
         role="dialog"
         aria-labelledby="transfer-deliverable-title"
         aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="{% trans 'Close' %}">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="transfer-deliverable-title">{% trans 'Transfer ownership' %}</h4>
          </div>
          <div class="modal-body">
            <label for="id_user" class="control-label">{% trans "Select the new owner's name:" %}</label>
            <select id="id_user" name="user"></select>
          </div>
          <div class="modal-footer">
            <button type="submit" id="confirm-transfer" class="btn btn-danger btn-block" disabled>
              {% trans 'Transfer ownership' %}
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
{% endblock content %}
