.not-evaluable {
  cursor: not-allowed!important;
}

.evaluable, .panel {
  transition: all 0.2s ease 0s;
}

.table-evaluate tbody tr td:nth-child(1) {
  cursor: default;
}

.evaluable:hover {
  background-color: #ddd;
}

.btn-rationale {
  line-height: 1.42857;
  padding: 0 10px;
}

.table-evaluate tbody tr td a.no-comment {
  color: #ddd;
}

.table-evaluate tbody tr td a.no-comment:hover {
  color: #bbb;
}

.popover {
  min-width: 500px;
  z-index: 1020;
}

.popover .arrow {
  /*top: 25px!important;*/
}