<div class="form-group">
  {{ formset.management_form }}
  <table class="table table-condensed table-bordered table-striped" id="table-measure-values" style="margin-bottom: 0">
    <thead>
      <tr>
        <th style="width: 55px">Order</th>
        <th>Choices</th>
        <th style="width: 60px">Color</th>
        <th style="width: 60px">Delete</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td colspan="4">
          <a href="#" class="btn btn-sm btn-primary js-add-value">
            <span class="glyphicon glyphicon-plus"></span> Add choice
          </a>
        </td>
      </tr>
    </tfoot>
    <tbody>
      {% for form in formset.forms %}
        <tr>
          <td class="text-center" style="vertical-align: middle">
            <a href="#" class="js-order-increase" data-toggle="tooltip" data-placement="top" title="Move choice up"><span class="glyphicon glyphicon-triangle-top"></span></a>
            <a href="#" class="js-order-decrease" data-toggle="tooltip" data-placement="top" title="Move choice down"><span class="glyphicon glyphicon-triangle-bottom"></span></a>
            <input type="hidden" value="{{ form.order.value|default_if_none:'' }}" id="{{ form.order.id_for_label }}" name="{{ form.order.html_name }}">
          </td>
          <td style="vertical-align: middle"{% if form.description.errors %} class="has-error"{% endif %}>
            {% for hidden in form.hidden_fields %}
              {{ hidden }}
            {% endfor %}
            <input type="text" class="form-control input-sm" value="{{ form.description.value|default_if_none:'' }}" id="{{ form.description.id_for_label }}" name="{{ form.description.html_name }}" maxlength="{{ form.description.field.max_length }}">
            {% for error in form.description.errors %}
              <p class="help-block">{{ error }}</p>
            {% endfor %}
          </td>
          <td class="text-center" style="vertical-align: middle">
            <select class="color-selector" name="{{ form.color.html_name }}" id="{{ form.color.id_for_label }}">
              {% for color, name in form.instance.COLORS %}
                <option value="{{ color }}" data-color="{{ color }}"{% if color == form.color.value %} selected="selected"{% endif %}>{{ name }}</option>
              {% endfor  %}
            </select>
          </td>
          <td class="text-center" style="vertical-align: middle">
            {% if form.instance.pk %}
              {{ form.DELETE }}
            {% else %}
              <a href="#" class="js-remove-value">
                <span class="glyphicon glyphicon-remove-sign"></span>
              </a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if formset.non_form_errors %}
    <div class="form-group has-error">
      <p class="help-block">Please submit two or more choices. Click on the <strong>Add choice</strong> button to add more choices to the measure.</p>
    </div>
  {% endif %}
</div>
