{% extends 'meetings/dashboard/base_charts.html' %}

{% load staticfiles %}

{% block javascript %}
  <script src="{% static 'js/highcharts/highcharts.js' %}"></script>
  <script src="{% static 'js/highcharts/highcharts-more.js' %}"></script>
  <script src="{% static 'js/meetings/dashboard.js' %}"></script>
  <script>
    $(function () {
      $(".charts .panel-heading:eq(0)").loadchart();
    });
  </script>
{% endblock javascript %}

{% block breadcrumb_extra %}
  <li class="active">Factors Groups Comparison</li>
{% endblock breadcrumb_extra %}

{% block charts %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        {% include 'meetings/dashboard/includes/charts_order.html' %}
        Factors Groups Comparison
      </h3>
    </div>
    <div class="panel-body">
      <ul class="nav nav-tabs" style="margin-bottom: 20px;">
        <li role="presentation" class="active"><a href="{% url 'deliverables:meetings:factors_groups' meeting.deliverable.pk meeting.pk %}">All Decision Items</a></li>
        <li role="presentation"><a href="{% url 'deliverables:meetings:factors_groups_scenarios' meeting.deliverable.pk meeting.pk %}">Scenarios</a></li>
      </ul>
      <div class="panel-group charts">
        {% for chart in charts %}
          {% include 'meetings/dashboard/factors_groups_comparison/chart.html' with opened=forloop.first %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock charts %}
