{% extends 'meetings/dashboard/base_charts.html' %}

{% load staticfiles %}

{% block javascript %}
  <script src="{% static 'js/highcharts/highcharts.js' %}"></script>
  <script src="{% static 'js/highcharts/highcharts-more.js' %}"></script>
  <script src="{% static 'js/highcharts/modules/exporting.js' %}"></script>
  <script src="{% static 'js/meetings/dashboard.js' %}"></script>
  <script src="{% static 'js/meetings/meetings.js' %}"></script>
  <script src="{% static 'js/meetings/scenarios.js' %}"></script>
{% endblock javascript %}

{% block breadcrumb_extra %}
  <li><a href="{% url 'deliverables:meetings:factors_groups' meeting.deliverable.pk meeting.pk %}">Factors Groups Comparison</a></li>
  <li class="active">Scenarios</li>
{% endblock breadcrumb_extra %}

{% block charts %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        {% include 'meetings/dashboard/includes/charts_order.html' %}
        Factors Groups Comparison
      </h3>
    </div>
    <div class="panel-body">
      <ul class="nav nav-tabs" style="margin-bottom: 20px;">
        <li role="presentation"><a href="{% url 'deliverables:meetings:factors_groups' meeting.deliverable.pk meeting.pk %}">All Decision Items</a></li>
        <li role="presentation" class="active"><a href="{% url 'deliverables:meetings:factors_groups_scenarios' meeting.deliverable.pk meeting.pk %}">Scenarios</a></li>
      </ul>
      <div class="panel-group charts" id="scenarios">
        {% if charts %}
          <div style="margin-bottom: 20px;">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-add-scenario">
              <span class="glyphicon glyphicon-plus"></span> Add scenario
            </button>
            <button type="button" class="btn btn-primary" id="btn-scenario-builder" data-toggle="modal" data-target="#modal-scenario-builder" data-remote-url="{% url 'deliverables:meetings:scenario_builder' meeting.deliverable.pk meeting.pk %}" data-scenario-builder="{{ scenario_category }}">
              <span class="fa fa-wrench"></span> Scenario builder
            </button>
          </div>
          {% for chart in charts %}
            {% include 'meetings/dashboard/factors_groups_comparison/chart.html' with opened=forloop.first can_edit=True can_delete=True %}
          {% endfor %}
        {% else %}
          <div class="well blank-state">
            <span class="fa fa-bar-chart"></span>
            <h3>You haven't created any scenario yet.</h3>
            <p class="lead">A scenario can be used to combine different set of decision items.</p>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-add-scenario">
              <span class="glyphicon glyphicon-plus"></span> Add the first scenario
            </button>
            <span style="margin: 0 10px;">or</span>
            <button type="button" class="btn btn-primary" id="btn-scenario-builder" data-toggle="modal" data-target="#modal-scenario-builder" data-remote-url="{% url 'deliverables:meetings:scenario_builder' meeting.deliverable.pk meeting.pk %}"  data-scenario-builder="{{ scenario_category }}">
              <span class="fa fa-wrench"></span> Build an automatic scenario
            </button>
          </div>
        {% endif %}
      </div>
    </div>
  </div>

  {% include 'meetings/dashboard/includes/scenario_actions.html' %}

{% endblock charts %}
