{% extends 'base.html' %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li class="active">Home</li>
  </ol>
{% endblock breadcrumb %}

{% block content %}
  <p class="lead">You are signed in as <strong>{% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user.username }}{% endif %}</strong></p>
  
  <div class="panel-group" id="meetings" role="tablist" aria-multiselectable="true">
    <div class="panel panel-success">
      <div class="panel-heading" role="tab" id="heading-ongoing-meetings">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#meetings" href="#collapse-ongoing-meetings" aria-expanded="true" aria-controls="collapse-ongoing-meetings">
            Ongoing meeting
          </a>
        </h4>
      </div>
      <div id="collapse-ongoing-meetings" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-ongoing-meetings">
        {% if ongoing_meetings.exists %}
          {% include 'deliverables/includes/deliverable_meetings_table.html' with meetings=ongoing_meetings %}
        {% else %}
          <div class="panel-body" style="background-color: #f5f5f5;">
            <div class="text-center" style="padding: 2em 0;">
              <span class="fa fa-calendar text-muted" style="font-size: 2.5em"></span>
              <h4 style="margin: 1em 0;">There is no meeting happening right now.</h4>
            </div>        
          </div>
        {% endif %}
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="heading-past-meetings">
        <h4 class="panel-title">
          <a class="collapsed" data-toggle="collapse" data-parent="#meetings" href="#collapse-past-meetings" aria-expanded="false" aria-controls="collapse-past-meetings">
            Past meetings
          </a>
        </h4>
      </div>
      <div id="collapse-past-meetings" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-past-meetings">
        {% if closed_meetings.exists %}
          {% include 'deliverables/includes/deliverable_meetings_table.html' with meetings=closed_meetings %}
        {% else %}
          <div class="panel-body" style="background-color: #f5f5f5;">
            <div class="text-center" style="padding: 2em 0;">
              <span class="fa fa-calendar text-muted" style="font-size: 2.5em"></span>
              <h4 style="margin: 1em 0;">There is no past meeting.</h4>
            </div>        
          </div>
        {% endif %}
      </div>
    </div>
  </div>

{% endblock content %}
