{% extends 'base.html' %}

{% block stylesheet %}
  <link href="{{ STATIC_URL }}css/login.css" rel="stylesheet">
{% endblock stylesheet %}

{% block main %}
  <div class="login">
    <div class="row">
      <div class="col-md-8">
        <h1>Impro<span>v</span>ing decision-m<span>a</span>king re<span>l</span>ating to software-intensive prod<span>u</span>cts and s<span>e</span>rvices development</h1>
      </div>
      <div class="col-md-4">
        <h3>Sign in to <span>Value</span> application</h3>
        {% if form.non_field_errors %}
          <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {% for error in form.non_field_errors %}
              {{ error }}
            {% endfor %}
          </div>
        {% endif %}
        <form method="post" action="{% url 'login' %}">
          {% csrf_token %}
          <div class="form-group form-group-lg{% if form.username.errors %} has-error{% endif %}">
            <input type="text" class="form-control" id="username" name="username" placeholder="Username">
            {% for error in form.username.errors %}
              <p class="help-block">{{ error }}</p>
            {% endfor %}
          </div>
          <div class="form-group form-group-lg{% if form.password.errors %} has-error{% endif %}">
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            {% for error in form.password.errors %}
              <p class="help-block">{{ error }}</p>
            {% endfor %}
          </div>
          <button type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>
        </form>

      </div>
    </div>
  </div>
{% endblock main %}
