{% extends 'base.html' %}

{% load i18n static %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
    <li><a href="{% url 'deliverables:index' %}">{% trans 'Deliverables' %}</a></li>
    <li><a href="{% url 'deliverables:deliverable' deliverable.pk %}">{{ deliverable.name }}</a></li>
    <li><a href="{% url 'deliverables:decision_items' deliverable.pk %}">{% trans 'Decision Items' %}</a></li>
    <li class="active">{{ form.instance.name }}</li>
  </ol>
{% endblock breadcrumb %}

{% block tabs %}
  {% include 'deliverables/includes/menu.html' with active='decision_items' deliverable=deliverable %}
{% endblock tabs %}

{% block content %}
  <div class="col-md-8 col-md-offset-2">
    <h1 class="lead">{% trans 'Change decision item' %}</h1>
    {% include 'deliverables/decision_items/includes/decision_item_form.html' %}
  </div>
{% endblock content %}
