{% extends 'base.html' %}

{% load i18n static %}

{% block javascript %}
  <script src="{% static 'js/deliverables/decision_items.js' %}"></script>
{% endblock javascript %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
    <li><a href="{% url 'deliverables:index' %}">{% trans 'Deliverables' %}</a></li>
    <li><a href="{% url 'deliverables:deliverable' deliverable.pk %}">{{ deliverable.name }}</a></li>
    <li><a href="{% url 'deliverables:decision_items' deliverable.pk %}">{% trans 'Decision Items' %}</a></li>
    <li class="active">{% trans 'Import from JIRA' %}</li>
  </ol>
{% endblock breadcrumb %}

{% block tabs %}
  {% include 'deliverables/includes/menu.html' with active='decision_items' deliverable=deliverable %}
{% endblock tabs %}

{% block content %}

<h3 style="margin-bottom: 20px">{% trans 'Search for issues in JIRA\'s database using JQL' %}</h3>

<form method="post">
  {% csrf_token %}
  {% include 'includes/form_vertical.html' %}
  <div style="margin-bottom: 20px">
    <button type="submit" class="btn btn-primary">{% trans 'Search' %}</button>
    <a href="{% url 'deliverables:decision_items' deliverable.pk %}" class="btn btn-default">{% trans 'Cancel JIRA Import' %}</a>
  </div>
</form>

{% if issues %}
  <hr>
  <p class="lead">Select the issues to import</p>
  <form method="post" action="{% url 'deliverables:jira_import_issues' deliverable.pk %}">
    {% csrf_token %}
    <table class="table table-bordered table-check-all">
      <thead>
        <tr>
          <th style="width: 30px">
            <input type="checkbox">
          </th>
          <th>Key</th>
          <th>Summary</th>
          <th>URL</th>
        </tr>
      </thead>
      {% for issue in issues %}
        <tr>
          <td>
            <input type="checkbox" name="issues" value="{{ issue.key }}">
          </td>
          <td>{{ issue.key }}</td>
          <td>{{ issue.fields.summary }}</td>
          <td>
            <a href="{{ issue.permalink }}" target="_blank">{{ issue.permalink }}</a>
          </td>
        </tr>
      {% endfor %}
    </table>
    <div style="margin-bottom: 20px">
      <button type="submit" class="btn btn-primary">Import Selected Issues</button>
    </div>
  </form>
{% endif %}
{% endblock content %}
