{% extends 'base.html' %}

{% load i18n static %}

{% block javascript %}
  <script src="{% static 'js/deliverables/decision_items.js' %}"></script>
{% endblock javascript %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
    <li><a href="{% url 'deliverables:index' %}">{% trans 'Deliverables' %}</a></li>
    <li><a href="{% url 'deliverables:deliverable' deliverable.pk %}">{{ deliverable.name }}</a></li>
    <li><a href="{% url 'deliverables:decision_items' deliverable.pk %}">{% trans 'Decision Items' %}</a></li>
    <li class="active">Import from JIRA</li>
  </ol>
{% endblock breadcrumb %}

{% block tabs %}
  {% include 'deliverables/includes/menu.html' with active='decision_items' deliverable=deliverable %}
{% endblock tabs %}

{% block content %}

<h3>JIRA Projects</h3>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Key</th>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  {% for project in projects %}
    <tr>
      <td>{{ project.key }}</td>
      <td>{{ project.name }}</td>
      <td>
        <a href="{% url 'deliverables:jira_project_issues' deliverable.pk project.key %}" class="btn btn-primary btn-sm">Select Project</a>
      </td>
    </tr>
  {% endfor %}
</table>

<hr>

<a href="{% url 'deliverables:decision_items' deliverable.pk %}" class="btn btn-default">{% trans 'Cancel JIRA Import' %}</a>

{% endblock content %}
