{% extends 'base.html' %}

{% load staticfiles %}

{% block javascript %}
  <script src="{% static 'js/deliverables/import_decision_items.js' %}"></script>
  <script src="{% static 'js/deliverables/decision_items.js' %}"></script>
  {% if deliverable.manager != user %}
    <script>
      $(function () {
        $("#decision-items-table tbody tr td:not(:first-child)").unbind();
        $("#decision-items-table").removeClass("table-hover");
      });
    </script>
  {% endif %}
{% endblock javascript %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'deliverables:index' %}">Deliverables</a></li>
    <li><a href="{% url 'deliverables:deliverable' deliverable.pk %}">{{ deliverable.name }}</a></li>
    <li class="active">Decision Items</li>
  </ol>
{% endblock breadcrumb %}

{% block tabs %}
  {% include 'deliverables/includes/menu.html' with active='decision_items' deliverable=deliverable %}
{% endblock tabs %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    {% if deliverable.manager = user %}
      <input type="hidden" name="action" id="id_action">
      <div style="margin-bottom: 20px;">
        <a href="{% url 'deliverables:add_decision_item' deliverable.pk %}" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add item</a>
        <span id="import-decision-items-container" data-save-import-url="{% url 'deliverables:save_imported_decision_items' deliverable.pk %}" data-csrf-token="{{ csrf_token }}">
          {% include 'deliverables/includes/import_decision_items.html' %}
        </span>
        <button type="button" class="btn btn-default js-delete-selected" disabled="disabled">
          <span class="glyphicon glyphicon-trash"></span>
          Remove selected items
        </button>
      </div>
    {% endif %}
    {% include 'deliverables/decision_items/includes/decision_items_table.html' with deliverable=deliverable %}
  </form>
{% endblock content %}
