{% extends 'base.html' %}

{% block main %}

  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li class="active">Ratings</li>
  </ol>

  <a class="btn btn-primary pull-right" href="{% url 'ratings:add' %}"><span class="glyphicon glyphicon-plus"></span> Add rating</a>

  <h1 class="lead">Select rating to change</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Values</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for rating in ratings %}
        <tr>
          <td><a href="{% url 'ratings:rating' rating.id %}">{{ rating.name }}</a></td>
          <td>{{ rating.get_values }}</td>
          <td style="width: 150px">
            <a href="{% url 'ratings:rating' rating.id %}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
            <a href="{% url 'ratings:delete' rating.id %}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-trash"></span> Delete</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock main %}
