{% extends 'base.html' %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'users:users' %}">Users</a></li>
    <li><a href="{% url 'users:user' form.user.pk %}">{{ form.user.username }}</a></li>
    <li class="active">Change password</li>
  </ol>
{% endblock breadcrumb %}

{% block content %}

  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
      <p class="lead">Change password for {{ form.user.username }}</p>
      {% if form.non_field_errors %}
        <div class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          {% for error in form.non_field_errors %}
            {{ error }}
          {% endfor %}
        </div>
      {% endif %}
      <form method="post">
        {% csrf_token %}
        <div class="form-group{% if form.password1.errors %} has-error{% endif %}">
          <label for="{{ form.password1.id_for_label }}" class="control-label">New password</label>
          <input type="password" class="form-control" id="{{ form.password1.id_for_label }}" name="{{ form.password1.html_name }}">
          {% for error in form.password1.errors %}
            <p class="help-block">{{ error }}</p>
          {% endfor %}
        </div>
        <div class="form-group{% if form.password2.errors %} has-error{% endif %}">
          <label for="{{ form.password2.id_for_label }}" class="control-label">Re-type new password</label>
          <input type="password" class="form-control" id="{{ form.password2.id_for_label }}" name="{{ form.password2.html_name }}">
          {% for error in form.password2.errors %}
            <p class="help-block">{{ error }}</p>
          {% endfor %}
          <span class="help-block">{{ form.password2.help_text }}</span>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Change password</button>
          <a href="{% url 'users:user' form.user.pk %}" class="btn btn-default">Cancel</a>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}
