{% extends 'base.html' %}

{% load avatar staticfiles %}

{% block javascript %}
  <script src="{% static 'js/users/roles.js' %}"></script>
{% endblock javascript %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li class="active">Roles</li>
  </ol>
{% endblock breadcrumb %}

{% block content %}
  {% if roles.exists %}
    <div class="row">
      <div class="col-sm-6">
        <p class="lead">Use drag and drop to assign a user to a role</p>
      </div>
      <div class="col-sm-6 text-right">
        <button type="button" class="btn btn-primary" id="btn-add-role"><span class="glyphicon glyphicon-plus"></span> Add role</button>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 col-md-3">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Available Users</h3>
          </div>
          <ul class="list-group sortable" id="available-users" style="min-height: 38px;">
            {% for user in users %}
              <li class="list-group-item" data-user-id="{{ user.pk }}" style="line-height: 32px;">
                <img src="{% avatar user 32 %}" alt="{{ user.profile.get_display_name }}" class="img-circle" style="margin-right: 5px">
                {{ user.profile.get_display_name }}
                <button type="button" class="btn btn-xs btn-danger js-btn-remove pull-right" style="margin-top: 6px; display: none;">
                  <span class="glyphicon glyphicon-remove"></span>
                </button>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="col-sm-8 col-md-9">
        <div class="row">
          {% for role in roles %}
          <div class="col-sm-6 col-md-4">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">
                  <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Click to remove the role" data-container="body" class="pull-right js-confirm-role-deletion" data-role-id="{{ role.pk }}" data-role-name="{{ role.name }}">
                    <span class="glyphicon glyphicon-remove"></span>
                  </a>
                  <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Click to edit the role" data-container="body" class="pull-right js-edit-role" data-role-edit-url="{% url 'users:edit_role' role.pk %}" style="margin-right: 5px;">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </a>
                  {{ role.name }}
                </h3>
              </div>
              <ul class="list-group role sortable" data-role-id="{{ role.pk }}" style="min-height: 38px;">
                {% for user in role.user_set.all %}
                  <li class="list-group-item" data-user-id="{{ user.pk }}">
                    <img src="{% avatar user 32 %}" alt="{{ user.profile.get_display_name }}" class="img-circle" style="margin-right: 5px">
                    {{ user.profile.get_display_name }}
                    <button type="button" class="btn btn-xs btn-danger js-btn-remove pull-right" style="margin-top: 6px;">
                      <span class="glyphicon glyphicon-remove"></span>
                    </button>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% else %}
    <div class="well blank-state">
      <span class="fa fa-group"></span>
      <h3>The roles directory is empty.</h3>
      <button type="button" class="btn btn-primary" id="btn-add-role"><span class="glyphicon glyphicon-plus"></span> Add the first role</button>
    </div>
  {% endif %}

  <form method="post" action="{% url 'users:add_role' %}" id="form-add-role" class="form-role">
    {% csrf_token %}
    <div class="modal fade" id="modal-add-role">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">New role</h4>
          </div>
          <div class="modal-body"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <form method="post" action="" id="form-edit-role" class="form-role">
    {% csrf_token %}
    <div class="modal fade" id="modal-edit-role">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Edit role</h4>
          </div>
          <div class="modal-body"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <form method="post" action="{% url 'users:add_user_role' %}" id="form-add-user-role">
    {% csrf_token %}
    <input type="hidden" id="id_user" name="user">
    <input type="hidden" id="id_role" name="role">
  </form>

  <form method="post" action="{% url 'users:remove_user_role' %}" id="form-remove-user-role">
    {% csrf_token %}
    <input type="hidden" id="id_user_remove" name="user">
    <input type="hidden" id="id_role_remove" name="role">
  </form>

  <form method="post" action="{% url 'users:delete_role' %}" id="form-delete-role">
    {% csrf_token %}
    <input type="hidden" name="role">
    <div class="modal fade" id="delete-role">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Are you sure?</h4>
          </div>
          <div class="modal-body">
            <p>The associated users won't be deleted.</p>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-danger btn-block">Delete role <span class="role-name"></span></button>
          </div>
        </div>
      </div>
    </div>
  </form>

{% endblock content %}
