{% extends 'base.html' %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li class="active">Users</li>
  </ol>
{% endblock breadcrumb %}

{% block content %}
  <a class="btn btn-primary pull-right" href="{% url 'users:add' %}"><span class="glyphicon glyphicon-plus"></span> Add user</a>

  <h1 class="lead">Select user to change</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Username</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Active</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <td><a href="{% url 'users:user' user.pk %}">{{ user.username }}</a></td>
          <td>{{ user.first_name }}</td>
          <td>{{ user.last_name }}</td>
          <td>
            {% if user.is_active %}
              <span class="glyphicon glyphicon-ok-sign text-success"></span>
            {% else %}
              <span class="glyphicon glyphicon-remove-sign text-danger"></span>
            {% endif %}
          </td>
          <td class="text-right text-nowrap">
            <a href="{% url 'users:user' user.pk %}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
            <a href="{% url 'users:delete' user.pk %}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-trash"></span> Delete</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
