{% extends 'base.html' %}

{% block main %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li class="active">Users</li>
  </ol>

  <a class="btn btn-primary pull-right" href="{% url 'add_user' %}"><span class="glyphicon glyphicon-plus"></span> Add user</a>

  <h1 class="lead">Select user to change</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th><input type="checkbox"></th>
        <th>Username</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Superuser</th>
        <th>Active</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <td><input type="checkbox"></td>
          <td><a href="{% url 'user' user.username %}">{{ user.username }}</a></td>
          <td>{{ user.first_name }}</td>
          <td>{{ user.last_name }}</td>
          <td>
            {% if user.is_superuser %}
              <span class="glyphicon glyphicon-ok-sign text-success"></span>
            {% else %}
              <span class="glyphicon glyphicon-remove-sign text-danger"></span>
            {% endif %}
          </td>
          <td>
            {% if user.is_active %}
              <span class="glyphicon glyphicon-ok-sign text-success"></span>
            {% else %}
              <span class="glyphicon glyphicon-remove-sign text-danger"></span>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock main %}
