<h2 style="margin-bottom: 20px;"><a href="{% url 'deliverables:deliverable' meeting.deliverable.pk %}">{{ meeting.deliverable.name }}</a> <span style="font-weight: 300;">/</span> <a href="{% url 'deliverables:meetings:meeting' meeting.deliverable.pk meeting.pk %}">{{ meeting.name }}</a></h2>

<ul class="nav nav-tabs" style="margin-bottom: 20px">
  <li role="presentation"{% if active == 'evaluate' %} class="active"{% endif %}><a href="{% url 'deliverables:meetings:evaluate' meeting.deliverable.pk meeting.pk %}"><span class="fa fa-gavel"></span> Evaluate</a></li>
  <li role="presentation"{% if active == 'dashboard' %} class="active"{% endif %}><a href="{% url 'deliverables:meetings:dashboard' meeting.deliverable.pk meeting.pk %}"><span class="fa fa-bar-chart"></span> Dashboard</a></li>
  <li role="presentation"{% if active == 'meeting_summary' %} class="active"{% endif %}><a href="{% url 'deliverables:meetings:meeting' meeting.deliverable.pk meeting.pk %}"><span class="fa fa-book"></span> Summary</a></li>
  {% if user == meeting.deliverable.manager %}
    <li role="presentation"{% if active == 'settings' %} class="active"{% endif %}><a href="{% url 'deliverables:meetings:settings' meeting.deliverable.pk meeting.pk %}"><span class="fa fa-wrench"></span> Settings</a></li>
  {% endif %}
</ul>
