<div class="btn-group pull-right" style="margin-top: -6px;">
  <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="glyphicon glyphicon-sort"></span> Order by <span class="caret"></span>
  </button>
  <ul class="dropdown-menu dropdown-menu-right">
    <li{% if order = '-value_ranking' %} class="active"{% endif %}><a href="?order=-value_ranking">Value Ranking</a></li>
    {% for measure_value in meeting.deliverable.measure.measurevalue_set.all %}
      <li{% if order = measure_value.pk|slugify %} class="active"{% endif %}><a href="?order={{ measure_value.pk }}">{{ measure_value.description }}</a></li>
    {% endfor %}
    <li role="separator" class="divider"></li>
    <li{% if order = 'decision_item__name' %} class="active"{% endif %}><a href="?order=decision_item__name">Name</a></li>
  </ul>
</div>
