<div class="panel panel-default panel-menu">
  <div class="panel-heading">
    <span class="fa fa-list-alt" style="margin-right: 5px;"></span>
    Summary
  </div>
  <div class="list-group">
    <a class="list-group-item{% if active == 'overview' %} active{% endif %}" href="{% url 'deliverables:meetings:dashboard' meeting.deliverable.pk meeting.pk %}">Overview</a>
    <a class="list-group-item{% if active == 'value_ranking' %} active{% endif %}" href="{% url 'deliverables:meetings:value_ranking' meeting.deliverable.pk meeting.pk %}">Value Ranking</a>
    <a class="list-group-item{% if active == 'decision_items_overview' %} active{% endif %}" href="{% url 'deliverables:meetings:decision_items_overview' meeting.deliverable.pk meeting.pk %}">Decision Items Overview</a>
    <a class="list-group-item{% if active == 'features_comparison' %} active{% endif %}" href="{% url 'deliverables:meetings:features_comparison' meeting.deliverable.pk meeting.pk %}">Decision Items Comparison</a>
  </div>
</div>

<div class="panel panel-default panel-menu">
  <div class="panel-heading">
    <span class="fa fa-file-o" style="margin-right: 5px;"></span>
    Details
  </div>
  <div class="list-group">
    <a class="list-group-item{% if active == 'features' %} active{% endif %}" href="{% url 'deliverables:meetings:features' meeting.deliverable.pk meeting.pk %}">Factors Comparison</a>
    <a class="list-group-item{% if active == 'factors_groups' %} active{% endif %}" href="{% url 'deliverables:meetings:factors_groups' meeting.deliverable.pk meeting.pk %}">Factors Groups Comparison</a>
    <a class="list-group-item{% if active == 'features_acceptance' %} active{% endif %}" href="{% url 'deliverables:meetings:features_acceptance' meeting.deliverable.pk meeting.pk %}">Decision Items Acceptance</a>
  </div>
</div>

<div class="panel panel-default panel-menu" id="scenarios-menu">
  <div class="panel-heading">
    <button type="button" class="btn btn-xs btn-default pull-right" data-toggle="modal" data-target="#modal-add-scenario">
      <span class="glyphicon glyphicon-plus"></span>
    </button>
    <span class="fa fa-files-o" style="margin-right: 5px;"></span>
    Scenarios
  </div>
  <div class="list-group">
    {% for scenario in meeting.scenarios.all %}
      <a href="#" class="list-group-item">{{ scenario.name }}</a>
    {% endfor %}
  </div>
</div>
