{% load meeting_item %}

<h5 style="margin-top: 0;">{{ scenario.name }}</h5>

<table class="table table-condensed" style="margin-bottom: 0;">
  <thead>
    <tr>
      <th>Decision Item</th>
      <th>Summary</th>
      <th style="width: 140px;">Value Ranking</th>
    </tr>
  </thead>
  <tbody>
    {% for meeting_item in scenario.meeting_items.all %}
      <tr>
        <td>
          {{ meeting_item.decision_item.name }}
          {% display_info_button meeting_item %}
        </td>
        <td style="vertical-align: middle;">
          {% display_ranking meeting_item %}
        </td>
        <td class="text-right">{{ meeting_item.value_ranking_as_html|safe }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
