<form id="form-add-scenario" method="post" action="{% url 'deliverables:meetings:add_scenario' meeting.deliverable.pk meeting.pk %}">
  {% csrf_token %}
  <div class="modal fade" id="modal-add-scenario" data-modal-index="1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Cancel"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">New scenario</h4>
        </div>
        <div class="modal-body" style="min-height: 200px;">

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </div>
    </div>
  </div>
</form>

<form method="post" action="{% url 'deliverables:meetings:delete_scenario' meeting.deliverable.pk meeting.pk %}" id="form-delete-scenario">
  {% csrf_token %}
  <input type="hidden" name="scenario" id="delete-scenario">
  <input type="hidden" name="next" value="{{ request.path }}">
  <div class="modal fade" id="modal-delete-scenario">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Are you sure?</h4>
        </div>
        <div class="modal-body">
          <p>The scenario <strong class="scenario-name"></strong> will be permanently deleted.</p>
        </div>
        <div class="modal-footer">
          <button type="submit" id="confirm-deletion" class="btn btn-danger btn-block">Delete Scenario</button>
        </div>
      </div>
    </div>
  </div>
</form>

<form id="form-scenario-builder" method="post" action="{% url 'deliverables:meetings:scenario_builder' meeting.deliverable.pk meeting.pk %}">
  {% csrf_token %}
  <div class="modal fade" id="modal-scenario-builder">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Scenario builder</h4>
        </div>
        <div class="modal-body" style="min-height: 200px;">
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="modal fade" id="modal-scenario-details" data-modal-index="1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Cancel"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Scenario details</h4>
      </div>
      <div class="modal-body" style="min-height: 200px;"></div>
    </div>
  </div>
</div>
