<h5 style="margin-top: 0;">{{ scenario.name }}</h5>

<table class="table table-condensed" style="margin-bottom: 0;">
  <thead>
    <tr>
      <th>Decision Item</th>
      <th>Summary</th>
      <th style="width: 140px;">Value Ranking</th>
    </tr>
  </thead>
  <tbody>
    {% for meeting_item in scenario.meeting_items.all %}
      <tr>
        <td>
          {{ meeting_item.decision_item.name }}
          <span data-toggle="tooltip" title="Click to view details" data-container="body" style="margin-left: 5px;">
            <a href="javascript:void(0);" class="btn-details js-decision-item-details" data-toggle="modal" data-target="#modal-decision-item-details" data-remote-url="{% url 'deliverables:details_decision_item' meeting.deliverable.pk meeting_item.decision_item.pk %}">
              <span class="glyphicon glyphicon-info-sign"></span>
            </a>
          </span>
        </td>
        <td style="vertical-align: middle;">
          <div class="progress" style="margin-bottom: 0">
            {% for ranking in meeting_item.ranking_set.all %}
              <div class="progress-bar" style="width: {{ ranking.percentage_votes }}%; background-color: {{ ranking.measure_value.color }}">
                <span class="measure-percent" data-measure-id="{{ ranking.measure_value.pk }}">{{ ranking.get_percentage_votes_display }}</span>%
              </div>
            {% endfor %}
          </div>
        </td>
        <td class="text-right">{{ meeting_item.value_ranking_as_html|safe }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
