<div class="btn-group btn-group-xs" role="group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"{% if not opened %} disabled{% endif %}>
    <span class="fa fa-users"></span>
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu dropdown-menu-right js-stakeholders" role="menu">
    <li role="presentation" class="dropdown-header">
      Stakeholders
    </li>
    {% for group_name, stakeholders in meeting.get_stakeholder_groups.iteritems %}
      <li role="presentation" data-target-group-name="{{ group_name }}">
        <a href="javascript:void(0);" tabindex="-1" class="js-select-all-stakeholders">
          <span class="glyphicon glyphicon-check"></span>
          <strong>{{ group_name }}</strong>
        </a>
      </li>
      {% for stakeholder in stakeholders %}
        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="javascript:void(0);" class="js-select-stakeholder" data-group-name="{{ group_name }}">
            {% if stakeholder.pk in stakeholder_ids %}
              <input type="checkbox" name="stakeholder" value="{{ stakeholder.pk }}" checked style="display: none;" autocomplete="off">
              <span class="glyphicon glyphicon-check"></span> 
            {% else %}
              <input type="checkbox" name="stakeholder" value="{{ stakeholder.pk }}" style="display: none;" autocomplete="off">
              <span class="glyphicon glyphicon-unchecked"></span>
            {% endif %}
            {{ stakeholder.profile.get_display_name }}
          </a>
        </li>
      {% endfor %}
      <li class="divider" role="separator"></li>
    {% endfor %}
    <li role="presentation">
      <a role="menuitem" tabindex="-1" href="javascript:void(0);">
        <button type="button" class="btn btn-default btn-chart-reload btn-xs btn-block">
          <span class="glyphicon glyphicon-refresh"></span> 
          Reload
        </button>
      </a>
    </li>
  </ul>
</div>
