{% load environment %}

<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-3 text-left">
        <small class="text-muted">{% environment %}</small>
      </div>
      <div class="col-xs-6">
        <a href="http://www.oulu.fi/" target="_blank">University of Oulu</a>
        <span class="text-muted" style="margin: 0 10px">·</span>
        <a href="http://www.fidipro.fi/" target="_blank">FiDiPro</a>
        <span class="text-muted" style="margin: 0 10px">·</span>
        <a href="http://www.tekes.fi/" target="_blank">Tekes</a>
      </div>
      <div class="col-xs-3 text-right">
        <small class="text-muted">
          {% include 'includes/version.txt' %} ({% include 'includes/commit_hash.txt' %})
        </small>
      </div>
    </div>
  </div>
</footer>
