{% load fieldtype %}

{% for hidden in form.hidden_fields %}
  {{ hidden }}
{% endfor %}

{% for field in form.visible_fields %}
  <div class="form-group{% if field.errors %} has-error{% endif %}">
    {% if field|fieldtype == 'CheckboxInput' %}
      <div class="col-md-10 col-md-offset-2 col-sm-8 col-sm-offset-4">
        <div class="checkbox">
          <label>
            {{ field }} {{ field.label }}
          </label>
        </div>
        {% for error in field.errors %}
          <p class="help-block">{{ error }}</p>
        {% endfor %}
        <span class="help-block">{{ field.help_text }}</span>
      </div>
    {% else %}
      <label for="{{ field.label }}" class="col-md-2 col-sm-4 control-label">{{ field.label }}</label>
      <div class="col-md-10 col-sm-8">
        {{ field }}
        {% for error in field.errors %}
          <p class="help-block">{{ error }}</p>
        {% endfor %}
        {% if field.help_text %}
          <span class="help-block">{{ field.help_text }}</span>
        {% endif %}
      </div>
    {% endif %}
  </div>
{% endfor %}