{% load fieldtype widget_tweaks %}

{% for hidden in form.hidden_fields %}
  {{ hidden }}
{% endfor %}

{% for field in form.visible_fields %}
  <div class="form-group{% if field.errors %} has-error{% endif %}">
    {% if field|fieldtype == 'CheckboxInput' %}
      <div class="checkbox">
        <label>
          {{ field }} {{ field.label }}
        </label>
      </div>
      {% for error in field.errors %}
        <p class="help-block">{{ error }}</p>
      {% endfor %}
      <span class="help-block">{{ field.help_text }}</span>
    {% else %}
      <label for="{{ field.id_for_label }}" class="control-label">{{ field.label }}</label>
      {% if field|fieldtype == 'DateTimeInput' %}
        <div class="input-group date" id="{{ field.id_for_label }}_datetime">
          {{ field }}
          <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
        </div>
      {% else %}
        {{ field|add_class:'form-control' }}
      {% endif %}
      {% for error in field.errors %}
        <p class="help-block">{{ error }}</p>
      {% endfor %}
      {% if field.help_text %}
        <span class="help-block">{{ field.help_text }}</span>
      {% endif %}
    {% endif %}
  </div>
{% endfor %}