{% load avatar %}

{% with display_name=stakeholder.profile.get_display_name %}
  <div class="panel panel-warning"
       data-stakeholder-id="{{ stakeholder.pk }}"
       data-stakeholder-name="{{ display_name }}">
    <div class="panel-body bg-warning text-warning">
      <div class="row">
        <div class="col-md-11">
          <img src="{% avatar stakeholder 32 %}"
               alt="{{ display_name }}"
               class="img-circle"
               style="margin-right: 10px">
          {{ display_name }}
          {% if stakeholder.groups.exists %}
            <small class="text-muted text-warning">({% for group in stakeholder.groups.all %}{{ group.name }}{% if not forloop.last %}, {% endif %}{% endfor %})</small>
          {% endif %}
          <span class="label label-warning">Manager</span>
        </div>
        <div class="col-md-1 text-right panel-action-icon">
          <span class="glyphicon glyphicon-tower text-warning" style="line-height: 28px;"></span>
        </div>
      </div>
    </div>
  </div>
{% endwith %}
