{% extends 'base.html' %}

{% load staticfiles %}

{% block javascript %}
  <script src="{% static 'js/highcharts.js' %}"></script>
  <script type="text/javascript">
    $(function () {
        $('#chart-container').highcharts({{ data|safe }});
    });
  </script>
{% endblock javascript %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'workspace:index' %}">Workspace</a></li>
    <li><a href="{% url 'workspace:instance' instance.pk %}">{{ instance.name }}</a></li>
    <li class="active">Analyze</li>
  </ol>
{% endblock breadcrumb %}

{% block content %}

  {% include 'workspace/includes/instance_menu.html' with active='analyze' instance=instance %}

  <div class="row" style="margin-bottom: 20px">
    <div class="col-md-3">

      {% include 'workspace/includes/analyze_menu.html' with active='features' instance=instance %}

    </div>
    <div class="col-md-9">

      <div id="chart-container"></div>

    </div>
  </div>

{% endblock content %}
