{% extends 'base.html' %}

{% load staticfiles %}

{% block javascript %}

{% endblock javascript %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'workspace:index' %}">Deliverable</a></li>
    <li><a href="{% url 'workspace:instance' instance.pk %}">{{ instance.name }}</a></li>
    <li class="active">Decision Items</li>
  </ol>
{% endblock breadcrumb %}

{% block content %}

  {% include 'workspace/includes/instance_menu.html' with active='backlog' instance=instance %}


  <div class="btn-group pull-right">
    <a href="#" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add item</a>
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
      <span class="caret"></span>
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#">Add many at once</a></li>
      <li><a href="#">Import .csv file</a></li>
    </ul>
  </div>

  <p class="lead">Select item to change</p>

  <table class="table table-striped">
    <thead>
      <tr>
        <th style="width: 40px" class="text-center"><input type="checkbox"></th>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Release</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for item in backlog %}
      <tr>
        <td class="text-center"><input type="checkbox"></td>
        <td></td>
        <td><a href="#">{{ item.name }}</a></td>
        <td>{{ item.description }}</td>
        <td></td>
        <td class="text-right text-nowrap">
          <a href="#" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
          <a href="#" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-trash"></span> Delete</a>
        </td>
      </tr>
      {% empty %}
        <tr>
          <td colspan="4">No data</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock content %}
