{% extends 'base.html' %}

{% load staticfiles %}

{% block stylesheet %}
  <link href="{% static 'css/workspace/instance.css' %}" rel="stylesheet">
{% endblock stylesheet %}

{% block javascript %}
  <script src="{% static 'js/workspace/instance.evaluate.js' %}"></script>
{% endblock javascript %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'workspace:index' %}">Workspace</a></li>
    <li><a href="{% url 'workspace:instance' instance.pk %}">{{ instance.name }}</a></li>
    <li class="active">Evaluate</li>
  </ol>
{% endblock breadcrumb %}

{% block content %}

  {% include 'workspace/includes/instance_menu.html' with active='evaluate' instance=instance %}

  <div class="row" style="margin-bottom: 20px">
    <div class="col-md-2">
      <div class="btn-group btn-group-justified" role="group" aria-label="Panel Display Options">
        <div class="btn-group">
          <button class="btn btn-default js-show-all">Show details</button>
        </div>
        <div class="btn-group">
          <button class="btn btn-default js-hide-all">Hide details</button>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <form role="form">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search" name="search" value="{{ search_query|default_if_none:'' }}">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>
        </div>
      </form>
    </div>
    <div class="col-md-4">
      <span class="help-block">
        {% if search_query %}
          {{ items.count }} result{% if items.count > 1 %}s{% endif %}
          (<a href="{% url 'workspace:evaluate' instance.pk %}">{{ total_items }} total</a>)
        {% endif %}
      </span>
    </div>
    <div class="col-md-2 col-md-offset-2">
      <div class="dropdown pull-right js-grid-filters">
        <button class="btn btn-default dropdown-toggle" type="button" id="filter" data-toggle="dropdown" aria-expanded="true">
          View
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="filter">
          <li role="presentation">
            <a role="menuitem" tabindex="-1" href="javascript:void(0);" data-action="all"><span class="glyphicon glyphicon-check"></span> All</a>
          </li>
          <li role="presentation">
            <a role="menuitem" tabindex="-1" href="javascript:void(0);" data-action="todo"><span class="glyphicon glyphicon-unchecked"></span> To-do</a>
          </li>
          <li role="presentation">
            <a role="menuitem" tabindex="-1" href="javascript:void(0);" data-action="finished"><span class="glyphicon glyphicon-unchecked"></span> Finished</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel-group" role="tablist" aria-multiselectable="true">
        {% include 'workspace/includes/partial_item_evaluation_table.html' with instance=instance items=items factors=factors evaluations=evaluations %}
      </div>
    </div>
  </div>

{% endblock content %}
