{% extends 'base.html' %}

{% block stylesheet %}
  <link href="{{ STATIC_URL }}css/workspace.instance.evaluate.css" rel="stylesheet">
{% endblock stylesheet %}

{% block javascript %}
  <script src="{{ STATIC_URL }}js/workspace.instance.evaluate.js"></script>
{% endblock javascript %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'workspace:index' %}">Workspace</a></li>
    <li><a href="{% url 'workspace:instance' instance.pk %}">{{ instance.name }}</a></li>
    <li class="active">Evaluate</li>
  </ol>
{% endblock breadcrumb %}

{% block content %}

  {% include 'workspace/includes/instance_menu.html' with active='evaluate' instance=instance %}

  <div class="row">
    <div class="col-md-1">
      <strong>Workloud</strong>
    </div>
    <div class="col-md-11">
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
          60%
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="margin-bottom: 20px">
    <div class="col-md-12">
      <div class="dropdown pull-right">
        <button class="btn btn-default dropdown-toggle" type="button" id="filter" data-toggle="dropdown" aria-expanded="true">
          <span class="glyphicon glyphicon-eye-open"></span> View
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="filter">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="glyphicon glyphicon-check"></span> All</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="glyphicon glyphicon-unchecked"></span> To-do</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="glyphicon glyphicon-unchecked"></span> Finished</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      {% include 'workspace/includes/partial_item_evaluation_table.html' with instance=instance factors=factors %}
    </div>
  </div>

{% endblock content %}
