{% extends 'base.html' %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li class="active">Workspace</li>
  </ol>
{% endblock breadcrumb %}

{% block main %}
  {% if user.is_superuser %}
    <a class="btn btn-primary pull-right" href="{% url 'ratings:add' %}"><span class="glyphicon glyphicon-plus"></span> New value project</a>
  {% endif %}

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th></th>
      </tr>
    </thead>
  </table>

{% endblock main %}
