{% extends 'base.html' %}

{% load staticfiles %}

{% block javascript %}
  <script src="{% static 'js/workspace/workspace.js' %}"></script>
{% endblock javascript %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li class="active">Workspace</li>
  </ol>
{% endblock breadcrumb %}

{% block content %}
  {% if user.is_superuser %}
    <a class="btn btn-primary pull-right" href="{% url 'workspace:new' %}"><span class="glyphicon glyphicon-plus"></span> New value project</a>
  {% endif %}

  <h1 class="lead">Select a value project to get started</h1>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Work in Progress</h3>
    </div>
    <table class="table table-hover js-tbl-instances">
      <thead>
        <tr>
          <th>Name</th>
          <th>Manager</th>
          <th>Status</th>
          <th>Updated at</th>
        </tr>
      </thead>
      <tbody>
        {% for instance in wip_instances %}
          <tr data-instance-id="{{ instance.pk }}">
            <td><a href="{% url 'workspace:instance' instance.pk %}">{{ instance.name }}</a></td>
            <td>{{ instance.manager.profile.get_display_name }}</td>
            <td>{{ instance.get_status_display }}</td>
            <td>{{ instance.updated_at }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Finished Projects</h3>
    </div>
    <table class="table table-hover js-tbl-instances">
      <thead>
        <tr>
          <th>Name</th>
          <th>Manager</th>
          <th>Status</th>
          <th>Updated at</th>
        </tr>
      </thead>
      <tbody>
        {% for instance in finished_instances %}
          <tr>
            <td><a href="{% url 'workspace:instance' instance.pk %}">{{ instance.name }}</a></td>
            <td>{{ instance.manager.profile.get_display_name }}</td>
            <td>{{ instance.get_status_display }}</td>
            <td>{{ instance.updated_at }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock content %}
