{% extends 'base.html' %}

{% block stylesheet %}
  <link href="{{ STATIC_URL }}css/workspace.wizard.css" rel="stylesheet">
{% endblock stylesheet %}

{% block javascript %}
  <script src="{{ STATIC_URL }}js/workspace.wizard.js"></script>
{% endblock javascript %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'workspace:index' %}">Workspace</a></li>
    <li class="active">New value project</li>
  </ol>
{% endblock breadcrumb %}

{% block main %}
  <h1 class="lead">New project wizard</h1>

  <div class="btn-group btn-group-justified js-wizard-steps" role="group" aria-label="Project Wizard" style="margin-bottom: 20px">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-primary" data-target="#basic-data"><span class="glyphicon glyphicon-ok" style="display: none"></span> Basic data</button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default" disabled="disabled" data-target="#stakeholders"><span class="glyphicon glyphicon-ok" style="display: none"></span> Stakeholders</button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default" disabled="disabled" data-target="#decision-making"><span class="glyphicon glyphicon-ok" style="display: none"></span> Decision making items</button>
    </div>
  </div>

  <form method="post" class="form-horizontal" role="form">

    {% csrf_token %}

    <div class="wizard-content">

      <section id="basic-data" style="display: block">
        <p class="lead">Provide basic data of the value project</p>
        <div class="form-group">
          <label for="id_name" class="col-sm-2 control-label">Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="id_name" name="name">
            <span class="help-block" style="display: none">This is a required field.</span>
          </div>
        </div>
        <div class="form-group">
          <label for="id_description" class="col-sm-2 control-label">Description</label>
          <div class="col-sm-10">
            <textarea class="form-control" rows="5" id="id_description" name="description"></textarea>
          </div>
        </div>
      </section>

      <section id="stakeholders" style="display: none">
        <div class="dropdown pull-right">
          <button class="btn btn-default dropdown-toggle" type="button" id="selection-options" data-toggle="dropdown" aria-expanded="true">
            Select
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="selection-options">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0);" class="js-stakeholders-select-all">All</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0);" class="js-stakeholders-select-none">None</a></li>
          </ul>
        </div>
        <p class="lead">You may now define the stakeholders that will take part on the decision-making process</p>
        {% for user in users %}
          <div class="panel panel-default">
            <div class="panel-body js-stakeholder-selection">
              <div class="row">
                <div class="col-md-11">
                  <img src="{{ user.profile.get_picture_32 }}" alt="{{ user.profile.get_display_name }}" class="img-circle" style="margin-right: 10px">
                  {{ user.profile.get_display_name }}
                  <input type="checkbox" name="stakeholders" value="{{ user.pk }}" style="display: none">
                </div>
                <div class="col-md-1 text-right">
                  <span class="glyphicon glyphicon-ok text-success" style="line-height: 28px; display: none"></span>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </section>

      <section id="decision-making" style="display: none">
        <p class="lead">Provide the decision-making data</p>

        <div class="form-group">
          <label class="col-sm-3 control-label">Multiple items to evaluate?</label>
          <div class="col-sm-9">
            <label class="radio-inline">
              <input type="radio" name="multiple-items" value="yes" class="js-multiple-items"> Yes
            </label>
            <label class="radio-inline">
              <input type="radio" name="multiple-items" value="no" class="js-multiple-items"> No
            </label>
          </div>
        </div>

        <div class="instance-items" style="display: none">
          <div class="form-group">
            <label class="col-sm-3 control-label">Items</label>
            <div class="col-sm-9">
              <div class="input-group">
                <input type="text" class="form-control js-add-item" placeholder="Press enter to add">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">Add</button>
                </span>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-9 col-sm-offset-3">
              <ul class="list-group">

              </ul>
            </div>
          </div>
        </div>

      </section>
    </div>

    <div class="form-group">
      <div class="col-sm-12">
        <button type="button" class="btn btn-primary js-previous-wizard-step" disabled="disabled"><span class="glyphicon glyphicon-arrow-left"></span> Previous</button>
        <button type="button" class="btn btn-primary pull-right js-next-wizard-step">Next <span class="glyphicon glyphicon-arrow-right"></span></button>
        <button type="submit" class="btn btn-primary pull-right js-submit-wizard" style="display: none"><span class="glyphicon glyphicon-ok"></span> Create</button>
      </div>
    </div>

  </form>

{% endblock main %}
