{% extends 'base.html' %}

{% block javascript %}
  <script src="{{ STATIC_URL }}js/workspace.wizard.js"></script>
{% endblock javascript %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'workspace:index' %}">Workspace</a></li>
    <li class="active">New value project</li>
  </ol>
{% endblock breadcrumb %}

{% block main %}
  <h1 class="lead">New project wizard</h1>

  <div class="btn-group btn-group-justified js-wizard-steps" role="group" aria-label="Project Wizard" style="margin-bottom: 20px">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-primary" data-target="#basic-data"><span class="glyphicon glyphicon-ok hide"></span> Basic data</button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default" disabled="disabled" data-target="#stakeholders"><span class="glyphicon glyphicon-ok hide"></span> Stakeholders</button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default" disabled="disabled" data-target="#decision-making"><span class="glyphicon glyphicon-ok hide"></span> Decision making items</button>
    </div>
  </div>

  <form class="form-horizontal" role="form">

    <div class="wizard-content">

      <section id="basic-data">
        <div class="alert alert-info" role="alert">
          <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
          Provide basic data of the value project
        </div>
        <div class="form-group">
          <label for="name" class="col-sm-2 control-label">Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label for="name" class="col-sm-2 control-label">Description</label>
          <div class="col-sm-10">
            <textarea class="form-control" rows="5"></textarea>
          </div>
        </div>
      </section>

      <section id="stakeholders" style="display: none">
        <div class="alert alert-info" role="alert">
          <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
          You may now define the stakeholders that will take part on the decision-making process
        </div>

        {% for user in users %}
          <div class="well">
            <img src="{{ user.profile.get_picture_64 }}" alt="{{ user.profile.get_display_name }}" class="img-circle">
          </div>
        {% endfor %}
      </section>

      <section id="decision-making" style="display: none">
        <div class="alert alert-info" role="alert">
          <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
          Provide the decision-making data
        </div>

      </section>
    </div>

    <div class="form-group">
      <div class="col-sm-12">
        <button type="button" class="btn btn-primary js-previous-wizard-step" disabled="disabled"><span class="glyphicon glyphicon-arrow-left"></span> Previous</button>
        <button type="button" class="btn btn-primary pull-right js-next-wizard-step">Next <span class="glyphicon glyphicon-arrow-right"></span></button>
        <button type="submit" class="btn btn-primary pull-right js-submit-wizard" style="display: none"><span class="glyphicon glyphicon-ok"></span> Create</button>
      </div>
    </div>

  </form>

{% endblock main %}
