{% extends 'base.html' %}

{% load staticfiles %}

{% block javascript %}
  <script src="{% static 'js/workspace/new_meeting.js' %}"></script>
{% endblock javascript %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'workspace:index' %}">Deliverable</a></li>
    <li><a href="{% url 'workspace:instance' instance.pk %}">{{ instance.name }}</a></li>
    <li class="active">New Meeting</li>
  </ol>
{% endblock breadcrumb %}

{% block content %}

  <h2>New meeting</h2>

  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="heading-basic-data">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse-basic-data" aria-expanded="true" aria-controls="collapse-basic-data">
            1. Provide Meeting Details
          </a>
        </h4>
      </div>
      <div id="collapse-basic-data" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-basic-data">
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" value="Meeting #{{ instance.meeting_set.count|add:'1' }}">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Starting at</label>
                <div class="input-group date" id="starting_date">
                  <input type="text" class="form-control">
                  <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label>Ending at</label>
                <div class="input-group date" id="ending_date">
                  <input type="text" class="form-control">
                  <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                </div>
              </div>
            </div>
          </div>
          <div class="row" id="meeting-more-details">
            <div class="col-sm-4">
              <div class="form-group">
                <label>Location</label>
                <input type="text" class="form-control" id="id_location">
              </div>
            </div>
            <div class="col-sm-8">
              <div class="form-group">
                <label>Notes</label>
                <textarea class="form-control expanding" rows="1" id="id_notes"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="heading-stakeholders">
        <h4 class="panel-title">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-stakeholders" aria-expanded="false" aria-controls="collapse-stakeholders">
            2. Review the Stakeholders
          </a>
        </h4>
      </div>
      <div id="collapse-stakeholders" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-stakeholders">
        <div class="panel-body">
          
          <div class="alert alert-info alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            Click to remove a stakeholder from the meeting
          </div>

          <div class="panel-group">
            {% for stakeholder in instance.stakeholders.all|dictsort:"first_name" %}
            <div class="panel panel-success">
              <div class="panel-body bg-success">
                <div class="row">
                  <div class="col-md-11">
                    <img src="{{ stakeholder.profile.get_picture_32 }}" alt="{{ stakeholder.profile.get_display_name }}" class="img-circle" style="margin-right: 10px">
                    {{ stakeholder.profile.get_display_name }}
                    <input type="checkbox" name="stakeholders" value="{{ stakeholder.pk }}" style="display: none" checked>
                  </div>
                  <div class="col-md-1 text-right">
                    <span class="glyphicon glyphicon-ok text-success" style="line-height: 28px; display: block"></span>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          <a href="#" class="btn btn-primary">Invite</a>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="heading-decision-items">
        <h4 class="panel-title">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-decision-items" aria-expanded="false" aria-controls="collapse-decision-items">
            3. Select the Decision Items
          </a>
        </h4>
      </div>
      <div id="collapse-decision-items" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-decision-items">
        
        <div class="panel-body">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th style="width: 45px" class="text-center"><input type="checkbox" checked></th>
                <th>Name</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              {% for item in instance.instanceitem_set.all %}
                <tr>
                  <td class="text-center"><input type="checkbox" checked></td>
                  <td>{{ item.name }}</td>
                  <td>{{ item.description }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        
      </div>
    </div>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary">Start the Meeting</button>
    <a href="{% url 'workspace:instance' instance.pk %}" class="btn btn-default">Cancel</a>
  </div>

{% endblock content %}
