{% extends 'base.html' %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'workspace:index' %}">Workspace</a></li>
    <li><a href="{% url 'workspace:instance' instance.pk %}">{{ instance.name }}</a></li>
    <li class="active">Stakeholders</li>
  </ol>
{% endblock breadcrumb %}

{% block main %}

  {% include 'workspace/includes/instance_menu.html' with active='stakeholders' instance=instance %}

  <h4>Manager</h4>
  <div class="panel panel-default">
    <div class="panel-body js-stakeholder-selection">
      <div class="row">
        <div class="col-md-11">
          <img src="{{ instance.manager.profile.get_picture_32 }}" alt="{{ instance.manager.profile.get_display_name }}" class="img-circle" style="margin-right: 10px">
          {{ instance.manager.profile.get_display_name }}
          <input type="checkbox" name="stakeholders" value="{{ instance.manager.pk }}" style="display: none">
        </div>
        <div class="col-md-1 text-right">
          <span class="glyphicon glyphicon-ok text-success" style="line-height: 28px; display: none"></span>
        </div>
      </div>
    </div>
  </div>

  <h4>Stakeholders</h4>
  {% for stakeholder in instance.stakeholders.all %}
    <div class="panel panel-default">
      <div class="panel-body js-stakeholder-selection">
        <div class="row">
          <div class="col-md-11">
            <img src="{{ stakeholder.profile.get_picture_32 }}" alt="{{ stakeholder.profile.get_display_name }}" class="img-circle" style="margin-right: 10px">
            {{ stakeholder.profile.get_display_name }}
            <input type="checkbox" name="stakeholders" value="{{ stakeholder.pk }}" style="display: none">
          </div>
          <div class="col-md-1 text-right">
            <span class="glyphicon glyphicon-ok text-success" style="line-height: 28px; display: none"></span>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}

{% endblock main %}
