{% extends 'base.html' %}

{% load staticfiles %}

{% block javascript %}

{% endblock javascript %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'workspace:index' %}">Deliverable</a></li>
    <li class="active">{{ instance.name }}</li>
  </ol>
{% endblock breadcrumb %}

{% block content %}

  {% include 'workspace/includes/instance_menu.html' with active='dashboard' instance=instance %}

  <div class="row">
    <div class="col-md-12">
      <h2 style="margin-top: 0">{{ instance.name }}</h2>

      {% if instance.description %}<p>{{ instance.description }}</p>{% endif %}
      
    </div>
  </div>

{% endblock content %}
