{% extends 'base.html' %}

{% load staticfiles %}

{% block stylesheet %}
  <link href="{% static 'css/meetings/dashboard.css' %}" rel="stylesheet">
{% endblock stylesheet %}

{% block javascript %}
  <script src="{% static 'js/highcharts/highcharts.js' %}"></script>
  <script src="{% static 'js/meetings/dashboard.js' %}"></script>
  <script src="{% static 'js/meetings/meetings.js' %}"></script>
  <script src="{% static 'js/meetings/scenarios.js' %}"></script>
{% endblock javascript %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'deliverables:index' %}">Deliverables</a></li>
    <li><a href="{% url 'deliverables:deliverable' meeting.deliverable.pk %}">{{ meeting.deliverable.name }}</a></li>
    <li><a href="{% url 'deliverables:meetings:index' meeting.deliverable.pk %}">Meetings</a></li>
    <li><a href="{% url 'deliverables:meetings:meeting' meeting.deliverable.pk meeting.pk %}">{{ meeting.name }}</a></li>
    <li><a href="{% url 'deliverables:meetings:dashboard' meeting.deliverable.pk meeting.pk %}">Dashboard</a></li>
    {% block breadcrumb_extra %}
      <li class="active">{{ chart_page_title }}</li>
    {% endblock breadcrumb_extra %}
  </ol>
{% endblock breadcrumb %}

{% block content %}

  {% include 'meetings/includes/menu.html' with active='dashboard' meeting=meeting %}

  <div class="row">
    <div class="col-lg-2 col-md-3 col-sm-4">
      {% include 'meetings/dashboard/includes/menu.html' with active=chart_menu_active meeting=meeting %}
    </div>
    <div class="col-lg-10 col-md-9 col-sm-8">
      {% block charts %}{% endblock %}
    </div>
  </div>

  <div class="modal fade" id="expand-chart">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
          <div id="modal-chart-container"></div>
        </div>
      </div>
    </div>
  </div>

  {% include 'deliverables/decision_items/includes/modal.html' %}
  {% include 'meetings/dashboard/includes/scenario_actions.html' %}

{% endblock content %}
