{% extends 'meetings/dashboard/base_popup.html' %}

{% load staticfiles %}

{% block title %}{{ chart.chart_title }}{% endblock %}

{% block stylesheet %}
  <style>.panel { margin-bottom: 0; }</style>
{% endblock %}

{% block javascript %}
  <script src="{% static 'js/highcharts/highcharts.js' %}"></script>
  <script src="{% static 'js/highcharts/modules/exporting.js' %}"></script>
  <script src="{% static 'js/meetings/dashboard.js' %}"></script>
  <script type="text/javascript">
    $(function () {
      $(".chart-options .btn-chart-toggle, .chart-options .btn-chart-expand, .chart-options .btn-chart-modal").remove();
      $(".btn-chart-toggle").unbind();
      $(".panel-body").highcharts({{ dump|safe }});
    });
  </script>
{% endblock %}

{% block content %}
  {% include 'meetings/dashboard/dashboard_chart.html' with chart=chart opened=True %}
{% endblock %}
