{% extends 'base.html' %}

{% load i18n static dashboard_helpers meeting_item %}

{% block stylesheet %}
  <link href="{% static 'css/meetings/dashboard.css' %}" rel="stylesheet">
{% endblock stylesheet %}

{% block javascript %}
  <script src="{% static 'js/highcharts/highcharts.js' %}"></script>
  <script src="{% static 'js/highcharts/highcharts-more.js' %}"></script>
  <script src="{% static 'js/meetings/dashboard.js' %}"></script>
  <script src="{% static 'js/meetings/meetings.js' %}"></script>
  <script src="{% static 'js/meetings/scenarios.js' %}"></script>
  <script>
    $(function () {
      {% if dump %}
        $("#chart-decision-analysis .panel-body").highcharts({{ dump|safe }});
        $("#table-decision-analysis").tablesorter();
        $("#table-excluded-items").tablesorter();
      {% endif %}
    });
  </script>
{% endblock javascript %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
    <li><a href="{% url 'deliverables:index' %}">{% trans 'Deliverables' %}</a></li>
    <li><a href="{% url 'deliverables:deliverable' meeting.deliverable.pk %}">{{ meeting.deliverable.name }}</a></li>
    <li><a href="{% url 'deliverables:meetings:meeting' meeting.deliverable.pk meeting.pk %}">{{ meeting.name }}</a></li>
    <li><a href="{% url 'deliverables:meetings:dashboard' meeting.deliverable.pk meeting.pk %}">{% trans 'Dashboard' %}</a></li>
    <li class="active">{% trans 'Decision Analysis' %}</li>
  </ol>
{% endblock breadcrumb %}

{% block content %}
  {% include 'meetings/includes/menu.html' with active='dashboard' meeting=meeting %}
  <div class="row">
    <div class="col-md-3 col-sm-4">
      {% include 'meetings/dashboard/includes/menu.html' with active='decision_analysis' meeting=meeting %}
    </div>
    <div class="col-md-9 col-sm-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{% trans 'Decision Analysis' %}</h3>
        </div>
        <div class="panel-body">
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="row">
              <div class="col-md-12">
                <button type="submit" class="btn btn-primary">{% trans 'Plot chart' %}</button>
              </div>
            </div>
          </form>
        </div>
      </div>

      {% if items_excluded %}
        <div class="alert alert-warning alert-dismissable" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="{% trans 'Close' %}">
            <span aria-hidden="true">&times;</span>
          </button>
          <a href="#excluded-items">{{ items_excluded|length }} decision items</a> were excluded from the analysis because they do not have a size associated with.
        </div>
      {% endif %}

      {% if dump %}
        <div class="panel panel-default panel-chart" id="chart-decision-analysis">
          <div class="panel-body"></div>
        </div>

        <div class="panel panel-default panel-chart">
          <table class="table table-bordered" id="table-decision-analysis">
            <thead>
              <tr>
                <th>{% trans 'Decision Item' %}</th>
                <th>{% trans 'Value Ranking' %}</th>
                <th>{{ factor_x.name }}</th>
                <th>{{ factor_y.name }}</th>
                <th>Size</th>
              </tr>
            </thead>
            <tbody>
            {% for row in data %}
              <tr>
                <td>
                  {{ row.description }}
                  {{ row.buttons|safe }}
                </td>
                <td>{{ row.value_ranking|safe }}</td>
                <td>{{ row.x }}</td>
                <td>{{ row.y }}</td>
                <td>{{ row.z }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        {% if items_excluded %}
          <div class="panel panel-danger" id="excluded-items">
            <div class="panel-heading">
              <h5 class="panel-title">{% trans 'The decision items below were excluded from the analysis' %}</h5>
            </div>
            <table class="table table-bordered" id="table-excluded-items">
              <thead>
                <tr>
                  <th>{% trans 'Decision Item' %}</th>
                  <th>{% trans 'Value Ranking' %}</th>
                </tr>
              </thead>
              <tbody>
              {% for meeting_item in items_excluded %}
                <tr>
                  <td>
                    {{ meeting_item.decision_item.name }}
                    {% display_info_button meeting_item.decision_item %}
                    {% display_rationales_button meeting_item %}
                  </td>
                  <td>{{ meeting_item.value_ranking_as_html|safe }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        {% endif %}
      {% endif %}

    </div>
  </div>
  {% include 'meetings/dashboard/scenarios/scenario_actions.html' %}
  {% include 'meetings/rationales/modal.html' %}
  {% include 'deliverables/decision_items/includes/modal.html' %}
{% endblock %}
