{% extends 'base.html' %}

{% load i18n static dashboard_helpers meeting_item %}

{% block stylesheet %}
  <link href="{% static 'css/meetings/dashboard.css' %}" rel="stylesheet">
{% endblock stylesheet %}

{% block javascript %}
  <script src="{% static 'js/highcharts/highcharts.js' %}"></script>
  <script src="{% static 'js/highcharts/highcharts-more.js' %}"></script>
  <script src="{% static 'js/meetings/dashboard.js' %}"></script>
  <script src="{% static 'js/meetings/meetings.js' %}"></script>
  <script src="{% static 'js/meetings/scenarios.js' %}?v=1"></script>
  {% if dump %}
    <script>
      $(function () {
        var SELECT_MODE = false;
        var options = {{ dump|safe }};
        options['plotOptions']['series']['point']['events']['click'] = function (event) {
          if (SELECT_MODE) {
            var meetingItemId = event.point.id;
            $("input[name='meeting_item_id'][value='" + meetingItemId + "']").click();
          }
        };
        var chart = new Highcharts.chart($("#chart-decision-analysis .panel-body")[0], options);

        var resetChart = function (_chart) {
          _chart.series[0].data.forEach(function (point) {
            point.update({color: '#337ab7', scenarioSelected: false});
          });
          updateSelection(_chart);
        };

        var updateSelection = function (_chart) {
          var totalSelected = 0;
          var x = 0;
          var y = 0;
          var z = 0;

          _chart.series[0].data.forEach(function (point) {
            if (point.scenarioSelected) {
              totalSelected += 1;
              x += point.x;
              y += point.y;
              z += point.z;
            }
          });

          if (totalSelected > 0) {
            x = Math.round((x / totalSelected) * 100) / 100;
            y = Math.round((y / totalSelected) * 100) / 100;
          }

          $(".js-items-selected").text(totalSelected);
          $(".js-mean-x").text(x);
          $(".js-mean-y").text(y);
          $(".js-total-size").text(z);

        };

        $("#table-decision-analysis").tablesorter({ headers: { 0: { sorter: false }}});
        $("#table-excluded-items").tablesorter();

        $(".js-select-mode-off").click(function () {
          SELECT_MODE = true;
          chart.update({
            plotOptions: {
              series: {
                cursor: 'pointer'
              }
            }
          });

          $(".js-select-mode-off").closest(".panel").hide();
          $(".js-select-mode-on").closest(".panel").show();
          $("#table-decision-analysis input[type='checkbox']").prop("disabled", false);
          $("#table-decision-analysis tr td:first-child").show();
          $("#table-decision-analysis tr th:first-child").show();
          $(".panel-select-mode").show();
        });

        $(".js-select-mode-on").click(function () {
          var confirmToggleOff = confirm("Are you sure you want to turn select mode off? All selection will be lost.");

          if (confirmToggleOff) {
            SELECT_MODE = false;
            $(".js-select-mode-on").closest(".panel").hide();
            $(".js-select-mode-off").closest(".panel").show();

            // Reset the chart
            resetChart(chart);
            chart.update({
              plotOptions: {
                series: {
                  cursor: 'normal'
                }
              }
            });
            var $checkboxes = $("#table-decision-analysis input[type='checkbox']");
            $checkboxes.prop("checked", false);
            $checkboxes.prop("disabled", true);
            $("#table-decision-analysis tr td:first-child").hide();
            $("#table-decision-analysis tr th:first-child").hide();
            $(".panel-select-mode").hide();
          }
        });

        $("table.table-check-all thead tr th input[type='checkbox']").click(function () {
          var is_checked = $(this).is(":checked");
          if (is_checked) {
            chart.series[0].data.forEach(function (point) {
              point.update({color: '#3c763d', scenarioSelected: true});
            });
          }
          else {
            chart.series[0].data.forEach(function (point) {
              point.update({color: '#337ab7', scenarioSelected: false});
            });
          }
          updateSelection(chart);
        });

        $("input[type='checkbox'][name='meeting_item_id']").click(function () {
          var meetingItemId = parseInt($(this).val());
          var point = chart.get(meetingItemId);

          if (point.scenarioSelected) {
            point.update({color: '#337ab7', scenarioSelected: false});
          }
          else {
            point.update({color: '#3c763d', scenarioSelected: true});
          }

          updateSelection(chart);
        });

        $(".js-reset-selection").click(function () {
          var confirmResetSelection = confirm("Are you sure you want to reset selection?");
          if (confirmResetSelection) {
            resetChart(chart);

            var $checkboxes = $("#table-decision-analysis input[type='checkbox']");
            $checkboxes.prop("checked", false);
          }
        });

        $(".js-create-scenario-from-selection").click(function () {
          var selected = '';
          chart.series[0].data.forEach(function (point) {
            if (point.scenarioSelected) {
              selected += point.id + ' '
            }
          });
          selected = selected.trim();
          $("#form-add-scenario").data("initial-selection", selected);
        });

        // main
        $("#add-next").val("scenario_charts");
      });
    </script>
  {% endif %}
{% endblock javascript %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
    <li><a href="{% url 'deliverables:index' %}">{% trans 'Deliverables' %}</a></li>
    <li><a href="{% url 'deliverables:deliverable' meeting.deliverable.pk %}">{{ meeting.deliverable.name }}</a></li>
    <li><a href="{% url 'deliverables:meetings:meeting' meeting.deliverable.pk meeting.pk %}">{{ meeting.name }}</a></li>
    <li><a href="{% url 'deliverables:meetings:dashboard' meeting.deliverable.pk meeting.pk %}">{% trans 'Dashboard' %}</a></li>
    <li class="active">{% trans 'Decision Analysis' %}</li>
  </ol>
{% endblock breadcrumb %}

{% block content %}
  {% include 'meetings/includes/menu.html' with active='dashboard' meeting=meeting %}
  <div class="row">
    <div class="col-md-3 col-sm-4">
      {% include 'meetings/dashboard/includes/menu.html' with active='decision_analysis' meeting=meeting %}
    </div>
    <div class="col-md-9 col-sm-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{% trans 'Decision Analysis' %}</h3>
        </div>
        <div class="panel-body">
          <form method="post" action="{% url 'deliverables:meetings:decision_analysis' meeting.deliverable.pk meeting.pk %}">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="row">
              <div class="col-md-12">
                <button type="submit" class="btn btn-primary">{% trans 'Plot chart' %}</button>
              </div>
            </div>
          </form>
        </div>
      </div>

      {% if items_excluded %}
        <div class="alert alert-warning alert-dismissable" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="{% trans 'Close' %}">
            <span aria-hidden="true">&times;</span>
          </button>
          <a href="#excluded-items">{{ items_excluded|length }} decision items</a> were excluded from the analysis because they do not have a size associated with.
        </div>
      {% endif %}

      {% if dump %}
        <div class="panel panel-default">
          <div class="panel-heading js-select-mode-off" style="cursor: pointer;">
            <span class="text-muted">
              <span class="fa fa-toggle-off"></span>
              <span>{% trans 'Select Mode' %}</span>
            </span>
          </div>
        </div>

        <div class="panel panel-success" style="display: none">
          <div class="panel-heading js-select-mode-on" style="cursor: pointer;">
            <span class="text-success">
              <span class="fa fa-toggle-on"></span>
              <strong>{% trans 'Select Mode' %}</strong>
            </span>
          </div>
          <div class="panel-body">
            <div style="margin-bottom: 15px;">
              <button type="button"
                      class="btn btn-primary btn-sm js-create-scenario-from-selection"
                      style="margin-right: 5px;"
                      data-toggle="modal"
                      data-target="#modal-add-scenario">{% trans 'Create Scenario From Selection' %}</button>
              <button type="button" class="btn btn-default btn-sm js-reset-selection">{% trans 'Reset Selection' %}</button>
            </div>
            <div class="row">
              <div class="col-lg-3">
                <div class="panel panel-default" style="margin-bottom: 0">
                  <div class="panel-body text-center">
                    <h6 style="min-height: 26px">{% trans 'Items Selected' %}</h6>
                    <h2 class="js-items-selected">0</h2>
                  </div>
                </div>
              </div>

              <div class="col-lg-3">
                <div class="panel panel-default" style="margin-bottom: 0">
                  <div class="panel-body text-center">
                    <h6 style="min-height: 26px">{{ factor_x.name }}</h6>
                    <h2 class="js-mean-x">0</h2>
                  </div>
                </div>
              </div>

              <div class="col-lg-3">
                <div class="panel panel-default" style="margin-bottom: 0">
                  <div class="panel-body text-center">
                    <h6 style="min-height: 26px">{{ factor_y.name }}</h6>
                    <h2 class="js-mean-y">0</h2>
                  </div>
                </div>
              </div>

              <div class="col-lg-3">
                <div class="panel panel-default" style="margin-bottom: 0">
                  <div class="panel-body text-center">
                    <h6 style="min-height: 26px">{% trans 'Total Size' %}</h6>
                    <h2 class="js-total-size">0</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default panel-chart" id="chart-decision-analysis">
          <div class="panel-body"></div>
          <div class="panel-footer">
            {% for entry in data_summary %}
              <span style="margin-right: 15px">
                <strong>{{ entry.name }}:</strong> {{ entry.value }}
              </span>
            {% endfor %}
          </div>
        </div>

        <div class="panel panel-default panel-chart">
          <table class="table table-bordered table-check-all" id="table-decision-analysis">
            <thead>
              <tr>
                <th style="display: none;">
                  <input type="checkbox" autocomplete="off">
                </th>
                <th>{% trans 'Decision Item' %}</th>
                <th>{% trans 'Value Ranking' %}</th>
                <th>{{ factor_x.name }}</th>
                <th>{{ factor_y.name }}</th>
                <th>Size</th>
              </tr>
            </thead>
            <tbody>
            {% for row in data %}
              <tr data-meeting-item-id="{{ row.id }}">
                <td style="display: none;">
                  <input type="checkbox" name="meeting_item_id" value="{{ row.id }}" autocomplete="off">
                </td>
                <td>
                  {{ row.description }}
                  {{ row.buttons|safe }}
                </td>
                <td>{{ row.value_ranking|safe }}</td>
                <td>{{ row.x }}</td>
                <td>{{ row.y }}</td>
                <td>{{ row.z }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        {% if items_excluded %}
          <div class="panel panel-danger" id="excluded-items">
            <div class="panel-heading">
              <h5 class="panel-title">{% trans 'The decision items below were excluded from the analysis' %}</h5>
            </div>
            <table class="table table-bordered" id="table-excluded-items">
              <thead>
                <tr>
                  <th>{% trans 'Decision Item' %}</th>
                  <th>{% trans 'Value Ranking' %}</th>
                </tr>
              </thead>
              <tbody>
              {% for meeting_item in items_excluded %}
                <tr>
                  <td>
                    {{ meeting_item.decision_item.name }}
                    {% display_info_button meeting_item.decision_item %}
                    {% display_rationales_button meeting_item %}
                  </td>
                  <td>{{ meeting_item.value_ranking_as_html|safe }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        {% endif %}
      {% endif %}

    </div>
  </div>
  {% include 'meetings/dashboard/scenarios/scenario_actions.html' %}
  {% include 'meetings/rationales/modal.html' %}
  {% include 'deliverables/decision_items/includes/modal.html' %}
{% endblock %}
