{% extends 'meetings/dashboard/base_charts.html' %}

{% load staticfiles %}

{% block javascript %}
  <script src="{% static 'js/highcharts/highcharts.js' %}"></script>
  <script src="{% static 'js/highcharts/modules/data.js' %}"></script>
  <script src="{% static 'js/highcharts/modules/treemap.js' %}"></script>
  <script src="{% static 'js/highcharts/modules/drilldown.js' %}"></script>
  <script src="{% static 'js/highcharts/modules/exporting.js' %}"></script>
  <script src="{% static 'js/meetings/dashboard.js' %}"></script>
  <script>
    $(function () {
      $(".charts .panel-heading:eq(0)").loadchart();
    });
  </script>
{% endblock javascript %}

{% block charts %}
  <div class="panel-group charts">
    {% for chart in charts %}
      {% include 'meetings/dashboard/decision_items_comparison_chart.html' with opened=forloop.first %}
    {% endfor %}
  </div>
{% endblock charts %}
