<form id="chart-form-{{ chart.id }}" class="chart-form" action="{% url 'deliverables:meetings:meeting' meeting.deliverable.pk meeting.pk %}dashboard/{{ chart_uri }}/{{ chart.id }}/">
  <div class="panel panel-default panel-chart">
    <div class="panel-heading" data-target="#collapse-{{ chart.id }}" data-item-id="{{ chart.id }}" data-uri="{% url 'deliverables:meetings:meeting' meeting.deliverable.pk meeting.pk %}dashboard/{{ chart_uri }}/{{ chart.id }}/">
      <div class="btn-group btn-group-xs pull-right chart-options" role="group" aria-label="Chart Options">
        {% include 'meetings/dashboard/includes/toggle_toolbar.html' with opened=opened %}
        {% include 'meetings/dashboard/includes/expand_toolbar.html' with opened=opened %}
        {% include 'meetings/dashboard/includes/modal_toolbar.html' with opened=opened %}
        {% include 'meetings/dashboard/includes/reload_toolbar.html' with opened=opened %}
        {% include 'meetings/dashboard/includes/download_toolbar.html' with opened=opened %}
        {% include 'meetings/dashboard/includes/stakeholders_toolbar.html' with opened=opened %}
      </div>
      <p class="panel-title"><a href="javascript:void(0)" class="btn-chart-toggle">{{ chart.decision_item.name }}</a></p>
    </div>
    <div id="collapse-{{ chart.id }}" class="panel-collapse collapse"{% if opened %} style="display: block;"{% endif %}>
      <div class="panel-body"></div>
    </div>
  </div>
</form>