{% extends 'meetings/dashboard/base_charts.html' %}

{% load staticfiles %}

{% block javascript %}
  <script src="{% static 'js/highcharts/highcharts.js' %}"></script>
  <script src="{% static 'js/highcharts/highcharts-more.js' %}"></script>
  <script src="{% static 'js/highcharts/modules/exporting.js' %}"></script>
  <script src="{% static 'js/meetings/dashboard.js' %}"></script>
  <script>
    $(function () {
      //$(".charts .panel-heading:eq(0)").loadchart();
    });
  </script>
{% endblock javascript %}

{% block breadcrumb_extra %}
  <li><a href="{% url 'deliverables:meetings:features' meeting.deliverable.pk meeting.pk %}">Factors Comparison</a></li>
  <li class="active">Scenarios</li>
{% endblock breadcrumb_extra %}

{% block charts %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Factors Comparison</h3>
    </div>
    <div class="panel-body">
      <ul class="nav nav-tabs" style="margin-bottom: 20px;">
        <li role="presentation"><a href="{% url 'deliverables:meetings:features' meeting.deliverable.pk meeting.pk %}">All Decision Items</a></li>
        <li role="presentation" class="active"><a href="{% url 'deliverables:meetings:features_scenarios' meeting.deliverable.pk meeting.pk %}">Scenarios</a></li>
      </ul>
      <div class="panel-group charts">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-add-scenario">
          <span class="glyphicon glyphicon-plus"></span> Add scenario
        </button>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modal-add-scenario" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">New scenario</h4>
        </div>
        <div class="modal-body">
          {% include 'includes/form_vertical.html' %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save</button>
        </div>
      </div>
    </div>
  </div>
{% endblock charts %}
