{% extends 'meetings/dashboard/base_charts.html' %}

{% load staticfiles %}

{% block javascript %}
  <script src="{% static 'js/highcharts/highcharts.js' %}"></script>
  <script src="{% static 'js/highcharts/highcharts-more.js' %}"></script>
  <script src="{% static 'js/highcharts/modules/exporting.js' %}"></script>
  <script src="{% static 'js/meetings/dashboard.js' %}"></script>
  <script src="{% static 'js/meetings/meetings.js' %}"></script>
  <script>
    $(function () {
      //$(".charts .panel-heading:eq(0)").loadchart();
      $("#table-decision-items").tablesorter({ headers: { 0: { sorter: false }}});
    });
  </script>
{% endblock javascript %}

{% block breadcrumb_extra %}
  <li><a href="{% url 'deliverables:meetings:features' meeting.deliverable.pk meeting.pk %}">Factors Comparison</a></li>
  <li class="active">Scenarios</li>
{% endblock breadcrumb_extra %}

{% block charts %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Factors Comparison</h3>
    </div>
    <div class="panel-body">
      <ul class="nav nav-tabs" style="margin-bottom: 20px;">
        <li role="presentation"><a href="{% url 'deliverables:meetings:features' meeting.deliverable.pk meeting.pk %}">All Decision Items</a></li>
        <li role="presentation" class="active"><a href="{% url 'deliverables:meetings:features_scenarios' meeting.deliverable.pk meeting.pk %}">Scenarios</a></li>
      </ul>
      <div class="panel-group charts">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-add-scenario">
          <span class="glyphicon glyphicon-plus"></span> Add scenario
        </button>
      </div>
    </div>
  </div>

  <form method="post">
    {% csrf_token %}
    <div class="modal fade" id="modal-add-scenario" data-modal-index="1">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">New scenario</h4>
          </div>
          <div class="modal-body">
            <table class="table table-check-all" id="table-decision-items">
              <thead>
                <tr>
                  <th><input type="checkbox"></th>
                  <th>Decision Item</th>
                  <th>Summary</th>
                  <th style="width: 140px;">Value Ranking</th>
                </tr>
              </thead>
              <tbody>
                {% for item in meeting.meetingitem_set.all %}
                  <tr>
                    <td><input type="checkbox"></td>
                    <td>
                      {{ item.decision_item.name }}
                      <span data-toggle="tooltip" title="Click to view details" data-container="body" style="margin-left: 5px;">
                        <a href="javascript:void(0);" class="btn-details js-decision-item-details" data-toggle="modal" data-target="#modal-decision-item-details" data-remote-url="{% url 'deliverables:details_decision_item' meeting.deliverable.pk item.decision_item.pk %}">
                          <span class="glyphicon glyphicon-info-sign"></span>
                        </a>
                      </span>
                    </td>
                    <td style="vertical-align: middle;">
                      <div class="progress" style="margin-bottom: 0">
                        {% for ranking in item.ranking_set.all %}
                          <div class="progress-bar" style="width: {{ ranking.percentage_votes }}%; background-color: {{ ranking.measure_value.color }}">
                            <span class="measure-percent" data-measure-id="{{ ranking.measure_value.pk }}">{{ ranking.get_percentage_votes_display }}</span>%
                          </div>
                        {% endfor %}
                      </div>
                    </td>
                    <td class="text-right">{{ item.value_ranking_as_html|safe }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="modal fade" id="modal-decision-item-details" data-modal-index="2">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Details</h4>
        </div>
        <div class="modal-body">
          
        </div>
      </div>
    </div>
  </div>

{% endblock charts %}
