{% extends 'base.html' %}

{% load i18n static dashboard_helpers %}

{% block stylesheet %}
  <link href="{% static 'css/meetings/dashboard.css' %}" rel="stylesheet">
{% endblock stylesheet %}

{% block javascript %}
  <script src="{% static 'js/highcharts/highcharts.js' %}"></script>
  <script src="{% static 'js/meetings/dashboard.js' %}"></script>
  <script src="{% static 'js/meetings/meetings.js' %}"></script>
  <script type="text/javascript">
    $(function () {

      $(".table-stakeholders-agreement .compare-stakeholders").click(function () {
        var stakeholder_1 = $(this).attr("data-stakeholder-one");
        var stakeholder_2 = $(this).attr("data-stakeholder-two");
        var url = $(this).closest("table").attr("data-remote");
        $.ajax({
          url: url,
          data: {
            'stakeholder_1': stakeholder_1,
            'stakeholder_2': stakeholder_2
          },
          beforeSend: function () {
            $("#modal-agreement-value-factors .modal-body").html("<p>Loading...</p>");
            $("#modal-agreement-value-factors").modal("show");
          },
          success: function (data) {
            $("#modal-agreement-value-factors .modal-body").html(data);
          },
          error: function () {
            $("#modal-agreement-value-factors .modal-body").html("<p>An error ocurred.</p>");
          }
        });
      });

      $(".table-stakeholders-agreement tbody tr td.has-value").hover(
        function () {
          var column_index = $(this).index();
          var row = $(this).closest("tr");
          var table = $(this).closest("table");

          $(this).css("text-decoration", "underline");
          $("th", row).addClass("bg-primary");
          $("thead th:eq(" + column_index + ")", table).addClass("bg-primary")
        },
        function () {
          var column_index = $(this).index();
          var row = $(this).closest("tr");
          var table = $(this).closest("table");

          $(this).css("text-decoration", "none");
          $("th", row).removeClass("bg-primary");
          $("thead th:eq(" + column_index + ")", table).removeClass("bg-primary")
        }
      );
    });
  </script>
{% endblock javascript %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
    <li><a href="{% url 'deliverables:index' %}">{% trans 'Deliverables' %}</a></li>
    <li><a href="{% url 'deliverables:deliverable' meeting.deliverable.pk %}">{{ meeting.deliverable.name }}</a></li>
    <li><a href="{% url 'deliverables:meetings:index' meeting.deliverable.pk %}">{% trans 'Meetings' %}</a></li>
    <li><a href="{% url 'deliverables:meetings:meeting' meeting.deliverable.pk meeting.pk %}">{{ meeting.name }}</a></li>
    <li><a href="{% url 'deliverables:meetings:dashboard' meeting.deliverable.pk meeting.pk %}">{% trans 'Dashboard' %}</a></li>
    <li class="active">{% trans "Stakeholders' Agreement" %}</li>
  </ol>
{% endblock breadcrumb %}

{% block content %}
  {% include 'meetings/includes/menu.html' with active='dashboard' meeting=meeting %}
  <div class="row">
    <div class="col-md-3 col-sm-4">
      {% include 'meetings/dashboard/includes/menu.html' with active='stakeholders_agreement' meeting=meeting %}
    </div>
    <div class="col-md-9 col-sm-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{% trans "Stakeholders' Agreement Matrix" %}</h3>
        </div>
        <div class="panel-body">
          {% if meeting.measure.measurevalue_set.count > 3 %}
            <ul class="nav nav-tabs" style="margin-bottom: 20px;">
              <li role="presentation"{% if active_tab == 'raw' %} class="active"{% endif %}>
                <a href="{% url 'deliverables:meetings:stakeholders_agreement' meeting.deliverable.pk meeting.pk %}">
                  {% trans 'Raw Measure Values' %}
                </a>
              </li>
              <li role="presentation"{% if active_tab == 'grouped' %} class="active"{% endif %}>
                <a href="{% url 'deliverables:meetings:stakeholders_agreement_grouped' meeting.deliverable.pk meeting.pk %}">
                  {% trans 'Grouped Measure Values' %}
                </a>
              </li>
            </ul>
          {% endif %}

          {% if active_tab == 'grouped' %}
            <div class="alert alert-info">
              <p>
                <span class="glyphicon glyphicon-info-sign"></span>
                {% trans 'The data below presents the agreement between the stakeholders by grouping the evaluations as described below:' %}
              </p>
              <ul>
                {% for group in meeting.measure.get_grouped_measure_values %}
                  <li>
                    {% for measure_value in group %}
                      {{ measure_value }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}

          <div class="panel panel-default panel-chart">
            <div class="panel-heading">{% trans "Stakeholders' Agreement Based on Each Value Factor" %}</div>
            <div class="table-responsive">
              <table class="table table-bordered table-stakeholders-agreement"
                     {% if active_tab == 'raw' %}
                     data-remote="{% url 'deliverables:meetings:stakeholders_agreement_details_factors' meeting.deliverable.pk meeting.pk %}">
                     {% else %}
                     data-remote="{% url 'deliverables:meetings:stakeholders_agreement_grouped_details_factors' meeting.deliverable.pk meeting.pk %}">
                     {% endif %}
                <thead>
                  <tr>
                    <th>&nbsp;</th>
                    {% for meeting_stakeholder in stakeholders_agreement.meeting_stakeholders %}
                      <th>{{ meeting_stakeholder.stakeholder.profile.get_display_name }}</th>
                    {% endfor %}
                  </tr>
                </thead>
                <tbody>
                  {% for row in stakeholders_agreement.matrix_by_factors %}
                    <tr>
                      <th>{{ row.0.stakeholder.profile.get_display_name }}</th>
                      {% for col in row.1 %}
                        {% if forloop.counter > forloop.parentloop.counter %}
                          <td class="has-value compare-stakeholders"
                              style="text-align: center; color: #fff; background-color: {{ col.1|matrix_cell_color }} "
                              data-stakeholder-one="{{ row.0.stakeholder.pk }}"
                              data-stakeholder-two="{{ col.0.stakeholder.pk }}">
                            {{ col.1 }}%
                          </td>
                        {% else %}
                          <td>&nbsp;</td>
                        {% endif %}
                      {% endfor %}
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>

          <div class="panel panel-default panel-chart">
            <div class="panel-heading">{% trans "Stakeholders' Agreement Based on the Overall Decision Item Evaluation" %}</div>
            <div class="table-responsive">
              <table class="table table-bordered table-stakeholders-agreement">
                <thead>
                  <tr>
                    <th>&nbsp;</th>
                    {% for meeting_stakeholder in stakeholders_agreement.meeting_stakeholders %}
                      <th>{{ meeting_stakeholder.stakeholder.profile.get_display_name }}</th>
                    {% endfor %}
                  </tr>
                </thead>
                <tbody>
                  {% for row in stakeholders_agreement.matrix_by_items %}
                    <tr>
                      <th>{{ row.0.stakeholder.profile.get_display_name }}</th>
                      {% for col in row.1 %}
                        {% if forloop.counter > forloop.parentloop.counter %}
                          <td class="has-value" style="text-align: center; color: #fff; background-color: {{ col.1|matrix_cell_color }} ">{{ col.1 }}%</td>
                        {% else %}
                          <td>&nbsp;</td>
                        {% endif %}
                      {% endfor %}
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modal-agreement-value-factors">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">{% trans "Stakeholders' Agreement Based on Each Value Factor" %}</h4>
        </div>
        <div class="modal-body">

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
