{% extends 'base.html' %}

{% load i18n static dashboard_helpers %}

{% block stylesheet %}
  <link href="{% static 'css/meetings/dashboard.css' %}" rel="stylesheet">
{% endblock stylesheet %}

{% block javascript %}
  <script src="{% static 'js/highcharts/highcharts.js' %}"></script>
  <script src="{% static 'js/meetings/dashboard.js' %}"></script>
  <script src="{% static 'js/meetings/meetings.js' %}"></script>
  <script type="text/javascript">
    $(function () {
      $(".table-stakeholders-agreement tbody tr td.has-value").hover(
        function () {
          var column_index = $(this).index();
          var row = $(this).closest("tr");
          var table = $(this).closest("table");

          $(this).css("text-decoration", "underline");
          $("th", row).addClass("bg-primary");
          $("thead th:eq(" + column_index + ")", table).addClass("bg-primary")
        },
        function () {
          var column_index = $(this).index();
          var row = $(this).closest("tr");
          var table = $(this).closest("table");

          $(this).css("text-decoration", "none");
          $("th", row).removeClass("bg-primary");
          $("thead th:eq(" + column_index + ")", table).removeClass("bg-primary")
        }
      );
    });
  </script>
{% endblock javascript %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
    <li><a href="{% url 'deliverables:index' %}">{% trans 'Deliverables' %}</a></li>
    <li><a href="{% url 'deliverables:deliverable' meeting.deliverable.pk %}">{{ meeting.deliverable.name }}</a></li>
    <li><a href="{% url 'deliverables:meetings:index' meeting.deliverable.pk %}">{% trans 'Meetings' %}</a></li>
    <li><a href="{% url 'deliverables:meetings:meeting' meeting.deliverable.pk meeting.pk %}">{{ meeting.name }}</a></li>
    <li><a href="{% url 'deliverables:meetings:dashboard' meeting.deliverable.pk meeting.pk %}">{% trans 'Dashboard' %}</a></li>
    <li class="active">{% trans 'Stakeholders\' Agreement' %}</li>
  </ol>
{% endblock breadcrumb %}

{% block content %}
  {% include 'meetings/includes/menu.html' with active='dashboard' meeting=meeting %}
  <div class="row">
    <div class="col-md-3 col-sm-4">
      {% include 'meetings/dashboard/includes/menu.html' with active='stakeholders_agreement' meeting=meeting %}
    </div>
    <div class="col-md-9 col-sm-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{% trans 'Stakeholders\' Agreement Matrix' %}</h3>
        </div>
        <div class="panel-body">
          <ul class="nav nav-tabs" style="margin-bottom: 20px;">
            <li role="presentation" class="active">
              <a href="#">
                {% trans 'Raw Measure Values' %}
              </a>
            </li>
            <li role="presentation">
              <a href="#">
                {% trans 'Grouped Measure Values' %}
              </a>
            </li>
          </ul>

          <div class="panel panel-default panel-chart">
            <div class="panel-heading">{% trans 'Stakeholders\' Agreement Based on Each Value Factor' %}</div>
            <table class="table table-bordered table-stakeholders-agreement">
              <thead>
                <tr>
                  <th>&nbsp;</th>
                  {% for meeting_stakeholder in stakeholders_agreement.meeting_stakeholders %}
                    <th>{{ meeting_stakeholder.stakeholder.profile.get_display_name }}</th>
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
                {% for row in stakeholders_agreement.matrix_by_factors %}
                  <tr>
                    <th>{{ row.0.stakeholder.profile.get_display_name }}</th>
                    {% for col in row.1 %}
                      {% if forloop.counter > forloop.parentloop.counter %}
                        <td class="has-value"
                            style="text-align: center; color: #fff; background-color: {{ col.1|matrix_cell_color }} "
                            data-toggle=""
                            data-target="">
                          {{ col.1 }}%
                        </td>
                      {% else %}
                        <td>&nbsp;</td>
                      {% endif %}
                    {% endfor %}
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

          <div class="panel panel-default panel-chart">
            <div class="panel-heading">{% trans 'Stakeholders\' Agreement Based on the Overall Decision Item Evaluation' %}</div>
            <table class="table table-bordered table-stakeholders-agreement">
              <thead>
                <tr>
                  <th>&nbsp;</th>
                  {% for meeting_stakeholder in stakeholders_agreement.meeting_stakeholders %}
                    <th>{{ meeting_stakeholder.stakeholder.profile.get_display_name }}</th>
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
                {% for row in stakeholders_agreement.matrix_by_items %}
                  <tr>
                    <th>{{ row.0.stakeholder.profile.get_display_name }}</th>
                    {% for col in row.1 %}
                      {% if forloop.counter > forloop.parentloop.counter %}
                        <td class="has-value" style="text-align: center; color: #fff; background-color: {{ col.1|matrix_cell_color }} ">{{ col.1 }}%</td>
                      {% else %}
                        <td>&nbsp;</td>
                      {% endif %}
                    {% endfor %}
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modal-agreement-value-factors">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">{% trans 'Stakeholders\' Agreement Based on Each Value Factor' %}</h4>
        </div>
        <div class="modal-body">

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
