{% extends 'base.html' %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'deliverables:index' %}">Deliverables</a></li>
    <li><a href="{% url 'deliverables:deliverable' meeting.deliverable.pk %}">{{ meeting.deliverable.name }}</a></li>
    <li class="active">{{ meeting.name }}</li>
  </ol>
{% endblock breadcrumb %}

{% block content %}

  {% include 'deliverables/meetings/includes/menu.html' with meeting=meeting active='meeting_summary' %}

  <h2>{{ meeting.name }}</h2>

{% endblock content %}
