{% extends 'base.html' %}

{% load avatar attr fieldtype %}

{% block javascript %}
<script type="text/javascript">
  $(function () {
    $(".table-sortable").tablesorter({ headers: { 0: { sorter: false }}});

    $(".panel-group-stakeholders.removeable .panel").click(function () {
      var stakeholder_id = $(this).attr("data-stakeholder-id");
      var stakeholder_name = $(this).attr("data-stakeholder-name");
      $("#remove-stakeholder-id").val(stakeholder_id);
      $("#remove-stakeholder .remove-stakeholder-name").text(stakeholder_name);
      $("#remove-stakeholder").modal("show");
    });

  });
</script>
{% endblock javascript %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'deliverables:index' %}">Deliverables</a></li>
    <li><a href="{% url 'deliverables:deliverable' meeting.deliverable.pk %}">{{ meeting.deliverable.name }}</a></li>
    <li><a href="{% url 'deliverables:meetings:index' meeting.deliverable.pk %}">Meetings</a></li>
    <li class="active">{{ meeting.name }}</li>
  </ol>
{% endblock breadcrumb %}

{% block content %}
  {% include 'deliverables/meetings/includes/menu.html' with meeting=meeting active='meeting_summary' %}  

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Meeting details <span class="pull-right">{{ meeting.get_status_label_html|safe }}</span></h3>
      </div>
      {% with progress=meeting.get_progress %}
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-6">
            <h4 style="margin-top: 0">
              {{ meeting.name }} 
              <small><span class="fa fa-calendar" style="margin-left: 10px;"></span> {{ meeting.started_at }}{% if meeting.location %}, <span class="fa fa-map-marker" style="margin-left: 10px;"></span> {{ meeting.location }}{% endif %}</small>
            </h4>
            {% if meeting.description %}
              <p>{{ meeting.description }}</p>
            {% else %}
              <em class="text-muted">No description</em>
            {% endif %}
          </div>
          <div class="col-sm-6">
            {% if not meeting.is_closed %}
              <form method="post" action="{% url 'deliverables:meetings:close_meeting' meeting.deliverable.pk meeting.pk %}">
                {% csrf_token %}
                <div class="modal fade" id="close-meeting" tabindex="-1" role="dialog" aria-labelledby="close-meeting-title" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="close-meeting-title">Close the meeting?</h4>
                      </div>
                      <div class="modal-body">
                        <p>After closing the meeting the evaluation session will be finished. You won't be able to change the meeting details.</p>
                        <p>It is strongly advised to only close a decision making meeting after the progress reach 100%.</p>
                        <p>Current progress:</p>
                        <div class="progress">
                          <div class="progress-bar{% if progress == 100.0 %} progress-bar-success{% else %} progress-bar-warning{% endif %}" role="progressbar" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress }}%;">
                            {{ progress }}%
                          </div>
                        </div>
                        <p>You can re-open the meeting anytime.</p>
                      </div>
                      <div class="modal-footer">
                        <button type="submit" class="btn btn-danger btn-block">Close the meeting</button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
              <button type="button" class="btn btn-danger pull-right" data-toggle="modal" data-target="#close-meeting"><span class="glyphicon glyphicon-ban-circle"></span> Close</button>
            {% else %}
              <form method="post" action="{% url 'deliverables:meetings:open_meeting' meeting.deliverable.pk meeting.pk %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-success pull-right"><span class="glyphicon glyphicon-ok"></span> Open</button>
              </form>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="progress" style="margin-bottom: 0; border-top-left-radius: 0; border-top-right-radius: 0;">
        <div class="progress-bar{% if progress == 100.0 %} progress-bar-success{% else %} progress-bar-warning{% endif %}" role="progressbar" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress }}%;">
          {{ progress }}%
        </div>
      </div>
    {% endwith %}
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Stakeholders</h3>
      </div>
      <div class="panel-body">
        {% if meeting.is_closed %}
          {% include 'includes/users_panel_group.html' with stakeholders=stakeholders %}
        {% else %}
          <div class="alert alert-info alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            Click to remove a stakeholder from the meeting.
          </div>
          {% if user == meeting.deliverable.manager %}
            {% include 'includes/users_panel_group.html' with stakeholders=stakeholders group_actions='removeable' %}
          {% else %}
            {% include 'includes/users_panel_group.html' with stakeholders=stakeholders %}
          {% endif %}
        {% endif %}

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#inviteStakeholder" style="margin-top: 20px">
          <span class="glyphicon glyphicon-envelope"></span> Invite
        </button>

      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Meeting decision items</h3>
      </div>
      <div class="panel-body">

        {% if not meeting.is_closed %}
        <div class="btn-group" style="margin-bottom: 20px;">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            Actions <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="javascript:void(0);" class="js-remove-selected">Remove selected items</a></li>
          </ul>
        </div>
        {% endif %}
      
        {% with fields=meeting.deliverable.get_decision_items_fields %}
          <table class="table table-striped table-check-all table-sortable table-bordered" style="margin-bottom: 0;">
            <thead>
              <tr>
                <th><input type="checkbox"></th>
                {% for name, field in fields.items %}
                <th>{{ field.label }}</th>
                {% endfor %}
                <th>Value Ranking</th>
                <th>Summary</th>
              </tr>
            </thead>
            <tbody>
              {% for item in meeting.meetingitem_set.all %}
              <tr data-edit-url="">
                <td><input type="checkbox"></td>
                {% for name, field in fields.items %}
                  <td>{{ item.decision_item|attr:name }}</td>
                {% endfor %}
                <td>{{ item.value_ranking }}</td>
                <td>
                  <div class="progress" style="margin-bottom: 0">
                    {% for ranking in item.ranking_set.all %}
                      <div class="progress-bar" style="width: {{ ranking.percentage_votes }}%; background-color: {{ ranking.measure_value.color }}">
                        <span class="measure-percent" data-measure-id="{{ ranking.measure_value.pk }}">{{ ranking.percentage_votes }}</span>%
                      </div>
                    {% endfor %}
                  </div>
                </td>
              </tr>
              {% empty %}
                <tr>
                  <td colspan="{{ fields.items|length|add:'3' }}">No data</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endwith %}

      </div>
    </div>

    <form method="post" action="{% url 'deliverables:meetings:add_stakeholders' meeting.deliverable.pk meeting.pk %}">
      {% csrf_token %}
      <div class="modal fade" id="inviteStakeholder" tabindex="-1" role="dialog" aria-labelledby="inviteStakeholderTitle" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="inviteStakeholderTitle">Invite stakeholder</h4>
            </div>
            <div class="modal-body">
              {% if available_stakeholders %}
                <div class="alert alert-info alert-dismissible fade in" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  Click to add a stakeholder to the meeting.
                </div>
                {% include 'includes/users_panel_group.html' with stakeholders=available_stakeholders group_actions='selectable' %}
              {% else %}
                <div class="well" style="margin-bottom: 0">
                  <div class="text-center" style="padding: 2em 0;">
                    <span class="fa fa-users text-muted" style="font-size: 2.5em"></span>
                    <h4 style="margin: 1em 0;">There is no stakeholder available.</h4>
                    <a href="{% url 'users:add' %}" class="btn btn-primary">Create new user</a>
                  </div>
                </div>
              {% endif %}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Confirm</button>
            </div>
          </div>
        </div>
      </div>
    </form>

    <form method="post" action="{% url 'deliverables:meetings:remove_stakeholder' meeting.deliverable.pk meeting.pk %}">
      {% csrf_token %}
      <input type="hidden" name="stakeholder" id="remove-stakeholder-id">
      <div class="modal fade" id="remove-stakeholder">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Are you sure?</h4>
            </div>
            <div class="modal-body">
              <p>Removing the stakeholder <strong class="remove-stakeholder-name"></strong> from the meeting will also remove all related evaluations.</p>
            </div>
            <div class="modal-footer">
              <button type="submit" id="confirm-deletion" class="btn btn-danger btn-block">Remove <span class="remove-stakeholder-name"></span></button>
            </div>
          </div>
        </div>
      </div>
    </form>

{% endblock content %}
