{% load i18n meeting_item widget_tweaks %}

{% for hidden in form.hidden_fields %}
  {{ hidden }}
{% endfor %}

<div class="form-group{% if form.name.errors %} has-error{% endif %}">
  <label for="{{ form.name.id_for_label }}" class="control-label">{{ form.name.label }}</label>
  {{ form.name|add_class:'form-control' }}
  {% for error in form.name.errors %}
    <p class="help-block">{{ error }}</p>
  {% endfor %}
  {% if form.name.help_text %}
    <span class="help-block">{{ form.name.help_text }}</span>
  {% endif %}
</div>

<div class="form-group{% if form.meeting_items.errors %} has-error{% endif %}">
  <label for="{{ form.prefix }}-table-decision-items" class="control-label">
    {% trans 'Select decision items' %}
  </label>
  <table class="table table-check-all table-condensed" id="{{ form.prefix }}-table-decision-items" style="margin-bottom: 0;">
    <thead>
      <tr>
        <th>
          <input type="checkbox">
        </th>
        <th>{% trans 'Decision Item' %}</th>
        <th>{% trans 'Summary' %}</th>
        <th style="width: 140px;">{% trans 'Value Ranking' %}</th>
      </tr>
    </thead>
    <tbody>
      {% for field in form.meeting_items %}
        {% with field.choice_value|meeting_item as item %}
          <tr>
            <td>{{ field.tag }}</td>
            <td>
              {{ item.decision_item.name }}
              {% display_info_button item.decision_item %}
            </td>
            <td style="vertical-align: middle;">
              {% display_evaluation_summary item %}
            </td>
            <td class="text-right">{{ item.value_ranking_as_html|safe }}</td>
          </tr>
        {% endwith %}
      {% endfor %}
    </tbody>
  </table>
</div>
