{% extends 'base.html' %}

{% load togglebooleanfield %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li class="active">Measures</li>
  </ol>
{% endblock breadcrumb %}

{% block content %}
  {% if measures.exists %}
    <a class="btn btn-primary pull-right" href="{% url 'measures:add' %}"><span class="glyphicon glyphicon-plus"></span> Add measure</a>
    <h1 class="lead">Available measures</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Values</th>
          <th>Active</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for measure in measures %}
          <tr>
            <td><a href="{% url 'measures:edit' measure.pk %}">{{ measure.name }}</a></td>
            <td>{{ measure.get_values_as_string|safe }}</td>
            <td>{% toggle_boolean measure.is_active %}</td>
            <td class="text-right text-nowrap">
              <a href="{% url 'measures:edit' measure.pk %}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
              <a href="{% url 'measures:delete' measure.pk %}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-trash"></span> Delete</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <div class="well blank-state">
      <span class="fa fa-balance-scale"></span>
      <h3>The measures directory is empty.</h3>
      <a href="{% url 'measures:add' %}" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add the first measure</a>
    </div>
  {% endif %}

{% endblock content %}
