{% load fieldtype widget_tweaks meeting_item %}

{% for hidden in form.hidden_fields %}
  {{ hidden }}
{% endfor %}

<div class="form-group{% if form.name.errors %} has-error{% endif %}">
  <label for="{{ form.name.id_for_label }}" class="control-label">{{ form.name.label }}</label>
  {{ form.name|add_class:'form-control' }}
  {% for error in form.name.errors %}
    <p class="help-block">{{ error }}</p>
  {% endfor %}
  {% if form.name.help_text %}
    <span class="help-block">{{ form.name.help_text }}</span>
  {% endif %}
</div>

<div class="form-group{% if form.meeting_items.errors %} has-error{% endif %}">
  <label for="table-decision-items" class="control-label">Select the decision items to create a scenario</label>
  <table class="table table-check-all table-condensed" id="table-decision-items" style="margin-bottom: 0;">
    <thead>
      <tr>
        <th><input type="checkbox"></th>
        <th>Decision Item</th>
        <th>Summary</th>
        <th style="width: 140px;">Value Ranking</th>
      </tr>
    </thead>
    <tbody>
      {% for field in form.meeting_items %}
        {% with field.choice_value|meeting_item as item %}
          <tr>
            <td>{{ field.tag }}</td>
            <td>
              {{ field.choice_label }}
              <span data-toggle="tooltip" title="Click to view details" data-container="body" style="margin-left: 5px;">
                <a href="javascript:void(0);" class="btn-details js-decision-item-details" data-toggle="modal" data-target="#modal-decision-item-details" data-remote-url="{% url 'deliverables:details_decision_item' form.instance.meeting.deliverable.pk item.decision_item.pk %}">
                  <span class="glyphicon glyphicon-info-sign"></span>
                </a>
              </span>
            </td>
            <td style="vertical-align: middle;">
              <div class="progress" style="margin-bottom: 0">
                {% for ranking in item.ranking_set.all %}
                  <div class="progress-bar" style="width: {{ ranking.percentage_votes }}%; background-color: {{ ranking.measure_value.color }}">
                    <span class="measure-percent" data-measure-id="{{ ranking.measure_value.pk }}">{{ ranking.get_percentage_votes_display }}</span>%
                  </div>
                {% endfor %}
              </div>
            </td>
            <td class="text-right">{{ item.value_ranking_as_html|safe }}</td>
          </tr>
        {% endwith %}
      {% endfor %}
    </tbody>
  </table>
</div>
