{% include 'meetings/includes/partial_status.html' %}

<div class="modal fade" id="modal-meeting-notes" data-modal-index="1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Meeting notes</h4>
      </div>
      <div class="modal-body" style="min-height: 400px;"></div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-new-note" data-modal-index="2">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">New note</h4>
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>

{% if meeting.is_ongoing %}
  <button type="button" class="btn btn-default pull-right" disabled>
    <span class="fa fa-comments"></span> Meeting notes <span class="fa fa-lock" style="margin-left: 5px;"></span>
  </button>
{% else %}
  <button type="button" class="btn btn-default pull-right js-meeting-notes" data-toggle="modal" data-target="#modal-meeting-notes" data-remote-url="{% url 'deliverables:meetings:rationales' meeting.deliverable.pk meeting.pk %}">
    <span class="fa fa-comments"></span> Meeting notes <span class="badge js-meeting-notes-count">{{ meeting.rationales_count }}</span>
  </button>
{% endif %}

<h3 style="margin-bottom: 20px;">
  <a href="{% url 'deliverables:deliverable' meeting.deliverable.pk %}" style="font-weight: 300;">{{ meeting.deliverable.name }}</a>
  <span style="font-weight: 100;">/</span>
  <a href="{% url 'deliverables:meetings:meeting' meeting.deliverable.pk meeting.pk %}">
    {{ meeting.name }}
  </a>
  {% include 'meetings/includes/partial_meeting_progress.html' %}
  <span style="font-size: 12px; vertical-align: 4px;">
    <span class="fa fa-calendar" style="margin-left: 10px;"></span> {{ meeting.started_at }}{% if meeting.location %}, <span class="fa fa-map-marker" style="margin-left: 10px;"></span> {{ meeting.location }}{% endif %}
  </span>
</h3>

<ul class="nav nav-tabs" style="margin-bottom: 20px">
  
  <li role="presentation"{% if active == 'evaluate' %} class="active"{% endif %}>
    <a href="{% url 'deliverables:meetings:evaluate' meeting.deliverable.pk meeting.pk %}">
      <span class="fa fa-balance-scale"></span> Evaluate
      {% if meeting.is_closed %}
        <span class="fa fa-lock text-muted" style="margin-left: 5px;"></span>
      {% endif %}
    </a>
  </li>

  <li role="presentation"{% if active == 'dashboard' %} class="active"{% endif %}>
    <a href="{% url 'deliverables:meetings:dashboard' meeting.deliverable.pk meeting.pk %}">
      <span class="fa fa-bar-chart"></span> Dashboard
      {% if meeting.is_ongoing %}
        <span class="fa fa-lock text-muted" style="margin-left: 5px;"></span>
      {% endif %}
    </a>
  </li>

  <li role="presentation"{% if active == 'decision' %} class="active"{% endif %}>
    <a href="{% url 'deliverables:meetings:final_decision' meeting.deliverable.pk meeting.pk %}">
      <span class="fa fa-gavel"></span> Final Decision
      {% if meeting.is_ongoing %}
        <span class="fa fa-lock text-muted" style="margin-left: 5px;"></span>
      {% endif %}
    </a>
  </li>

  {% if user == meeting.deliverable.manager %}
    <li role="presentation"{% if active == 'settings' %} class="active"{% endif %}>
      <a href="{% url 'deliverables:meetings:settings' meeting.deliverable.pk meeting.pk %}">
        <span class="fa fa-wrench"></span> Settings
      </a>
    </li>
  {% endif %}

</ul>
