{% load attr i18n %}

<table class="table table-striped table-bordered table-sortable table-check-all table-decision-items">
  <thead>
    <tr>
      <th>
        <input type="checkbox">
      </th>
      {% for name, field in decision_items_fields.items %}
        <th>{{ field.label }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for item in decision_items %}
    <tr>
      <td>
        <input type="checkbox"
               name="decision_item"
               value="{{ item.pk }}"
               {% if item in selected_decision_items %} checked{% endif %}>
      </td>
      {% for name, field in decision_items_fields.items %}
        <td>{{ item|attr:name }}</td>
      {% endfor %}
    </tr>
    {% empty %}
      <tr>
        <td colspan="{{ decision_items_fields.items|length|add:'1' }}">
          {% trans 'No data' %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
