{% extends 'base.html' %}

{% load staticfiles %}

{% block javascript %}
  <script src="{% static 'js/workspace/analyze/analyze.js' %}"></script>
  <script src="{% static 'js/highcharts/highcharts.js' %}"></script>
  <script type="text/javascript">
    $(function () {
        {% for k, v in feature_charts.items %}
            $('#chart-container-{{ k }}').highcharts({{ v|safe }});
        {% endfor %}
    });
  </script>
{% endblock javascript %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'workspace:index' %}">Workspace</a></li>
    <li><a href="{% url 'workspace:instance' instance.pk %}">{{ instance.name }}</a></li>
    <li><a href="{% url 'workspace:analyze:index' instance.pk %}">Analyze</a></li>
    <li class="active">Features Selection</li>
  </ol>
{% endblock breadcrumb %}

{% block content %}

  {% include 'workspace/includes/instance_menu.html' with active='analyze' instance=instance %}

  <div class="row">
    <div class="col-md-3">
      {% include 'workspace/analyze/includes/chart_menu.html' with active='features' instance=instance %}
    </div>
    <div class="col-md-9">
      <div class="row" style="margin-bottom: 20px">
        <div class="col-md-12">
          <div class="btn-group">
            <button class="btn btn-default dropdown-toggle" type="button" id="filter" data-toggle="dropdown" aria-expanded="false">
              Chart type
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="filter">
              <li role="presentation">
                <a role="menuitem" tabindex="-1" href="{% url 'workspace:analyze:features' instance.pk %}?chart=bar"><span class="glyphicon glyphicon-align-left"></span> Stacked Bars</a>
              </li>
              <li role="presentation">
                <a role="menuitem" tabindex="-1" href="{% url 'workspace:analyze:features' instance.pk %}?chart=column"><span class="glyphicon glyphicon-signal"></span> Stacked Columns</a>
              </li>
            </ul>
          </div>
          <div class="btn-group">
            <button class="btn btn-default dropdown-toggle" type="button" id="order_by" data-toggle="dropdown" aria-expanded="false">
              Order by
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="order_by">
              <li role="presentation">
                <a role="menuitem" tabindex="-1" href="{% url 'workspace:analyze:features' instance.pk %}">Name</a>
              </li>
              <li role="presentation">
                <a role="menuitem" tabindex="-1" href="{% url 'workspace:analyze:features' instance.pk %}">Positive</a>
              </li>
              <li role="presentation">
                <a role="menuitem" tabindex="-1" href="{% url 'workspace:analyze:features' instance.pk %}">Neutral</a>
              </li>
              <li role="presentation">
                <a role="menuitem" tabindex="-1" href="{% url 'workspace:analyze:features' instance.pk %}">Negative</a>
              </li>
              <li role="presentation">
                <a role="menuitem" tabindex="-1" href="{% url 'workspace:analyze:features' instance.pk %}">N/A</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      {% for k, v in feature_charts.items %}
        <div class="row">
          <div class="col-md-12">
            <div id="chart-container-{{ k }}"></div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

{% endblock content %}
