{% extends 'base.html' %}

{% load staticfiles %}

{% block javascript %}
  <script src="{% static 'js/highcharts/highcharts.js' %}"></script>
  <script src="{% static 'js/highcharts/modules/treemap.js' %}"></script>
  <script src="{% static 'js/highcharts/modules/data.js' %}"></script>
  <script src="{% static 'js/highcharts/modules/drilldown.js' %}"></script>
{% endblock javascript %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'workspace:index' %}">Workspace</a></li>
    <li><a href="{% url 'workspace:instance' instance.pk %}">{{ instance.name }}</a></li>
    <li><a href="{% url 'workspace:analyze:index' instance.pk %}">Analyze</a></li>
    <li class="active">{{ chart_page_title }}</li>
  </ol>
{% endblock breadcrumb %}

{% block content %}

  {% include 'workspace/includes/instance_menu.html' with active='analyze' instance=instance %}

  <div class="row">
    <div class="col-md-3">
      {% include 'workspace/analyze/includes/chart_menu.html' with active=chart_menu_active instance=instance %}
    </div>
    <div class="col-md-9">
      <div class="panel-group">
        {% for chart in charts %}
          <div class="panel panel-default panel-collapsable">
            <div class="panel-heading" id="chart-heading-{{ chart.id }}" data-target="#collapse-{{ chart.id }}" data-chart-id="{{ chart.id }}">
              <h4 class="panel-title">{{ chart.title }}</h4>
            </div>
            <div id="collapse-{{ chart-id }}" class="panel-collapse collapse{% if forloop.first %} in{% endif %}">
              <div class="panel-body">
                
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock content %}
