{% extends 'base.html' %}

{% load staticfiles %}

{% block javascript %}
  <script src="{% static 'js/highcharts/highcharts.js' %}"></script>
  <script src="{% static 'js/highcharts/modules/treemap.js' %}"></script>
  <script type="text/javascript">
    $(function () {
        {% for k, v in feature_charts.items %}
            $('#chart-container-{{ k }}').highcharts({{ v|safe }});
        {% endfor %}
    });
  </script>
{% endblock javascript %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'workspace:index' %}">Workspace</a></li>
    <li><a href="{% url 'workspace:instance' instance.pk %}">{{ instance.name }}</a></li>
    <li><a href="{% url 'workspace:analyze:index' instance.pk %}">Analyze</a></li>
    <li class="active">Features Acceptance by Factors</li>
  </ol>
{% endblock breadcrumb %}

{% block content %}

  {% include 'workspace/includes/instance_menu.html' with active='analyze' instance=instance %}

  <div class="row">
    <div class="col-md-3">
      {% include 'workspace/analyze/includes/chart_menu.html' with active='features_acceptance_factors' instance=instance %}
    </div>
    <div class="col-md-9">
      {% for k, v in feature_charts.items %}
        <div class="row">
          <div class="col-md-12" style="margin-bottom: 20px">
            <div id="chart-container-{{ k }}"></div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

{% endblock content %}
