{% extends 'workspace/analyze/base_charts.html' %}

{% load staticfiles %}

{% block javascript %}
  <script src="{% static 'js/highcharts/highcharts.js' %}"></script>
  <script src="{% static 'js/workspace/analyze/analyze.js' %}"></script>
  <script type="text/javascript">
    $(function () {
        $("#chart-container").highcharts({{ dump|safe }});
    });
  </script>
{% endblock javascript %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'workspace:index' %}">Workspace</a></li>
    <li><a href="{% url 'workspace:instance' instance.pk %}">{{ instance.name }}</a></li>
    <li><a href="{% url 'workspace:analyze:index' instance.pk %}">Analyze</a></li>
    <li class="active">{{ chart_page_title }}</li>
  </ol>
{% endblock breadcrumb %}

{% block charts %}
  <div class="panel panel-default panel-chart">
    <div class="panel-heading" data-instance-id="{{ instance.id }}" data-uri="/workspace/{{ instance.id }}/analyze/{% if chart_uri %}{{ chart_uri }}/{% endif %}">
      <div class="btn-group btn-group-xs pull-right chart-options" role="group" aria-label="Chart Options">
        <button type="button" class="btn btn-default btn-xs btn-chart-expand"><span class="glyphicon glyphicon-new-window"></span></button>
        <button type="button" class="btn btn-default btn-xs btn-chart-reload"><span class="glyphicon glyphicon-refresh"></span></button>
      </div>
      <h4 class="panel-title" style="line-height: 1.4">{{ chart_page_title }}</h4>
    </div>
    <div id="chart-container" class="panel-body" style="min-height: 400px">
    </div>
  </div>
{% endblock charts %}
